[2016-05-23 08:18] Ramblurr commented on #319
This is probably a duplicate of #246 as we are in v2.3.0 and that issue was fixed in 2.3.2.

@meshuga Would be nice if the webiste could be updated with new release information. We had no idea there were new releases available, till we investigated the git tags.

[2016-05-23 09:21] weaselmetal commented on #319
I can confirm that serialization is fine in 2.4.0! Even got 2.4.0 through maven, even though it's not marked as a release version on github. Anyways, this issue has been fixed already.

[2016-05-23 09:34] weaselmetal commented on #319
I created a katharsis.io issue. https://github.com/katharsis-project/katharsis.io/issues/13

[2016-05-23 15:16] Ramblurr commented on #319
Thanks!

[2016-05-23 15:16] #319 closed

[2016-05-24 08:42] Ramblurr opened #327 "Today's workaround for supporting actions"
As per [this comment](https://github.com/json-api/json-api/issues/935#issuecomment-165981761) and @meshuga's reply, do we have a way in Katharsis today to workaround the lack of actions support?

Can we handle POSTs to resources with custom json bodies representing actions? Something like

**`POST /api/employee/:id`**
[code]

Do we need to register a custom Jersey resource/endpoint to handle these

[2016-05-24 11:05] weaselmetal commented on #327
Meaning one would have to create a Promotion class and implement a ResourceRepository for it? Or are custom POST transformations possible in another way in katharsis?

[2016-05-24 12:15] Ramblurr commented on #327
Thanks for the reply @masterspambot, so using the correct terminology, what's the recommended way of exposing custom transformations via POST endpoints with Katharsis?

[2016-05-24 15:06] Ramblurr commented on #327
Great, this is what I would expect. But **how** do we make this work with Katharsis? Katharsis doesn't seem to have a way to register these custom endpoints as you have suggested.

* If we use Jersey, how do we register the Jersey filter so it doesn't collide with Katharsis?
  * Are there any examples of this?
* How do we return JSON API from such a custom endpoint? Can we use the Katharsis serial

[2016-05-24 15:52] meshuga commented on #327
It's possible to expose  POST /api/employee/:id/promote endpoint by defining a to-one relationship to  Employee resource class and creating a RelationshipRepository which will contain just one method that implements your custom method. Sounds strange, but the actual implementation looks interesting. I should add a sample to katharsis-examples.

[2016-05-24 17:18] Ramblurr commented on #327
@meshuga I understand now. I never thought of having a Resource class that did not have any ResourceRepository, but only RelationshipRepository with other resources. An example would be pretty cool, but I think I understand more or less now.

[2016-05-24 17:57] Ramblurr opened #328 "Understanding Pagination Implementation"
First, thanks @meshuga and @masterspambot for being patient with my support request issues. We're diving heavily into Katharsis fast, and so we have many questions popping up.

As an aside: once we get a basic non-trivial MVP up, I would like to contribute back with a few examples so future people don't need to abuse github issues.

----

My question tonight is understanding how to implement pagin

[2016-05-25 02:21] keithdmoore commented on #323
My problem is similar, I just want the upsert to preserve any of the complex objects attributes.  For example, let's say I have a Task that looks like this:

[code]

And I want to send a PATCH to update just street1:
[code]

Notice the response indicates `street2` has been set to null.  Seems like it should have overlaid `street2` with the value returned from the findOne.
[code]

[2016-05-25 07:07] weaselmetal commented on #328
That's indeed helpful. But one still needs to manually create the links, using `resourceRegistry`. It does not require blood magic to do it, but it's a repetitive task and somehow you will want to create your own little utility / mixin for doing this stuff.
Doing this somewhat breaks the notion I had about katharsis, that it generates the links to related information for you. I'd consider `resourc

[2016-05-25 09:52] ieugen commented on #299
After the refactoring I'm going to work with https://github.com/astefanutti/metrics-aspectj to produce something useful and come back with results. I thing it's the least intrusive way of doing it.

[2016-05-25 18:43] bradtofel commented on #328
I like the idea of a utility class to help create pagination links.

If QueryParams had a reference to the ResourceRegistry, and to the Class Repository that is being invoked, then it seems like it would have enough information to allow minimal "edits" to current parameters, including paginations, and then create these links.

[2016-05-25 21:19] meshuga opened #330 "Make Katharsis asynchronous"
I want to bring back the thing mentioned in #130 to think about what can be done here. My idea is to allow Katharsis repositories to return a handler that will be called when a result of a method has completed.

Implementing this feature we can allow Katharsis integrate fully with asynchronous toolkits/frameworks like Vert.x, Akka, Play or Ratpack and eventually gain broader variety of users (more

[2016-05-26 12:30] hnf1991 opened #331 "JsonApiIncludeByDefault deep inclusion"
Suppose I have 3 models A, B, C

A has JsonApiToOne relationship with B and B has JsonApiToOne with C.

[code]

[code]

When I fetch A it contains B attributes in include as well as C attributes. I don't want C to be included. Is this possible to add some inclusion level.?

[2016-05-26 18:04] arempala opened #332 "Http Caching - HTTP 304"
I'd like to add Http Caching to my app. The plan is to include **_Last-Modified_** header in the response. If clients choose to send **_If-Modified-Since_** request header, and the resource has not changed since that time, I'd like to return HTTP 304. I'll actually need that on the To-Many relationship resource. My Repo is returning JsonApiResponse.

I might have opened it on the wrong project. I'

[2016-05-27 02:51] #314 closed

[2016-05-27 02:51] kaleeswaran393 commented on #314
Its resolved. so closing

[2016-05-27 12:00] kaleeswaran393 opened #333 "Does FieldResourceRepository removed in 2.4.0?"
Hi Team,

    I want to insert  Parent and Child Object in single request and I should able to bind task and project json data  using parent repository Save method.is it possible to create or update child object attribute which are included in the included tag .

   {
  "data": {
    "type": "task",
    "id": "1",
    "attributes": {
      "task-name": "Task Name"
    },
    "relationships": {

[2016-05-27 19:05] meshuga commented on #332
Yes, throwing an exception can be a good approach, but if you want to do it in a more efficient way, you could also create a filter which will be executed before Katharsis and inside of it check caching headers.

[2016-05-27 19:05] #332 closed

[2016-05-27 19:36] arempala commented on #332
That solves the case where I want to return HTTP 304. What about setting 'Last-Modified' response header on HTTP 200?

My repos already return last-modified timestamp when fetching resources, so I'd like to set the 'Last-Modified' after Katharsis filter. However, Katharsis doesn't call chain.doFilter unless an exception is thrown...

Seems like I'd have to make to calls to the DB. One to get the t

[2016-05-28 11:35] #331 closed

[2016-05-30 09:35] #333 closed

[2016-05-31 09:11] PriyaKanna opened #334 "Documentation Support"
I am trying to construct JsonAPIResponse format using KatharsisFieldPropertyFilter. any sample code or docs is highly appreciated?

[2016-05-31 13:43] weaselmetal commented on #327
If the suggestion of `@JsonApiAction` is meant to decorate a method that should handle a certain request, that would be an awesome extension. Modeling a to-one relation is fair workaround, which is especially okay with our project, where we have a layer of POJOs sitting between the API endpoints and the actual entities that we store in the database.
But if `POST /api/employee/:id/promote` in fact

[2016-06-02 15:26] weaselmetal opened #335 "Avoid unnecessary load of related objects when updating object"
Hey guys. I realized that when an object is to be updated on the server (PATCH-ed), katharsis loads the existing resource (and its to-one relations) and copies the data from the JSON payload onto the object that was just loaded.
Assuming a to-one relation and hibernate as persistence framework, the related to-one object will be fetched eagerly by hibernate. Thus, it has been loaded anyway and kath

[2016-06-02 21:41] pjweisberg opened #336 "Requesting better handling when field and getter have different types"
I have a class annotated with `@JsonApiResource` that contains the following:

[code]

When it gets to the `mergeAnnotations` method in `ResourceInformationBuilder`, it merges those into a field whose type is Future.  It always uses the type from the field instead of the getter.  As a result, it doesn't treat `driver` as a relationship or generate an entry in the `includes` array.

Ideally I would

[2016-06-09 18:36] datagitlies opened #338 "Allow spaces in katharsis.config.core.resource.package"
The `katharsis.config.core.resource.package` property will not accept a comma separated list of package names if there are spaces before / after the comma(s).

This Works: `com.company.service.dto,com.company.service.repository`
This Doesn't: `com.company.service.dto, com.company.service.repository`

It's not a priority for me but it seems like an easy fix that could improve usability for first ti

[2016-06-12 00:49] peavers opened #339 "Response for preflight has invalid HTTP status code 404"
Using a very basic Dropwizard + Katharsis setup I'm not sure how to handle preflight requests. This wasn't something I needed to deal with when just using Dropwizard. I've set a very open filter
[code]
But still unable to get a POST request to come through from EmberJs.

I've read through all the documentation but can't find any mention of  OPTIONS or what I'm supposed to do in this situation...

[2016-06-15 11:08] ForresGeek opened #341 "HMAC Security"
Hi all,

 I'm new to jsonAPI, but i've been working with Katharsis for the past two weeks, and slowly making progress.

 I'm using spring-boot & hibernate, and I've (nearly) got my API working the way I want.

Question / Advice please..

What would be a good approach to securing this API ?

My client is keen to use some kind of HMAC rather than TLS. Using Katharsis, I feel I'm too far away from th

[2016-06-16 16:46] tirsoh opened #342 "Bi-directional Relationships"
I am having a problem getting relationships to work in Katharsis when the relationship is a hasMany relationship to a List of the same class type of the current class.

Below is an example of my class definition:

[code]

When I try to create a stepreference that has a relationship to another stepreference the POST works but my relationship isn't saved. Below is the JSON response I receive:

**Not

[2016-06-16 16:57] tirsoh commented on #342
Here is my request payload that I am sending on the POST:

[code]

[2016-06-17 05:13] ieugen commented on #341
You could implement it as a filter, before the request reaches katharsis. This is how you would approach authentication.

Intercept the request in your web framework, extract the Auth parameters, do Auth and if ok delegate to katharsis, otherwise respond with 401.

[2016-06-20 16:58] tirsoh commented on #342
I have debugged this some more and it seems as though the request is saving the relationship correctly in the store but the response doesn't have the data object on the json payload for that relationship. I am still trying to figure out why this is getting dropped.

[2016-06-20 19:57] tirsoh commented on #342
I realized I was expecting `"data": []` to be shown on all my relationships but I didn't realize that will only be shown if you have told Katharsis to include the data on default `@JsonIncludeByDefault`, or if the annotation `@JsonApiToMany` had `lazy=false` attribute set.

[2016-06-20 19:57] #342 closed

[2016-06-22 22:18] csetera opened #343 "GZIP responses?"
Is it possible to automatically GZIP responses in Katharsis?  Is there anything inherent in JSON:API that would make that not possible?

[2016-06-23 06:54] ieugen commented on #343
Hi @csetera ,

Compression is not the responsability of Katharsis. You can enable it in your HTTP framework. It is dependent on your HTTP framework. If you deploy behind a proxy (nginx, apache) you could enable compression there.

[1] http://vertx.io/docs/vertx-core/java/#_http_compression
[2] http://tutorials.jenkov.com/java-servlets/gzip-servlet-filter.html

[2016-06-23 06:54] #343 closed

[2016-06-23 11:16] buschtoens commented on #275
Has there been any progress on this issue? This is really show stopper for me.

How would you model recursive relationships, for instance friends in a profile?

[2016-06-23 12:35] mohlek commented on #275
I'd love to see a PR or at least some hints where to start.
My project depends heavily on big data and dozen of relationships. There is no way to respond with all data included. I need to load them lazily as needed.

[2016-06-23 13:36] ieugen commented on #275
Hello @mohlek,

I'm refactoring (more like rewriting) parts of Katahrsis and I think some of the updates will help you.

I also do think that you can model change how you model your data so you can solve your problem. Have you tried looking differently at the data and the relationships?

[2016-06-23 16:07] mohlek commented on #275
Well I have chosen jsonapi because of the relationships. Everything else would destroy all reasons to use jsonapi in my opinion. For now I can live with that. I can request the children on my own. But it would be a needy feature for the near future.

[2016-06-24 11:59] mohlek opened #344 "Transient fields are getting serialised"
I am having a problem with transient fields.
Somehow my transient fields are getting serialized.

[code]

[code]

Console:
[code]
JSON:
[code]

Am I missing something? I am using Katharsis 2.4.1

[2016-06-26 10:25] evarga opened #345 "Setting a relationship causes a NullPointerException exception"
The version of Katharsis I'm using here is 2.4.1. This issue may be easily reproduced using the _Spring Boot Simple Example_ project (see [Katharsis Examples](https://github.com/katharsis-project/katharsis-examples)). Here are the steps:

1. Start the Spring Boot Simple Example program as instructed in the README.md file.
2. Issue the following curl command from a separate shell:
`curl -v -X PATCH

[2016-06-27 08:25] weaselmetal opened #347 "Non-standard getter lookup for Boolean"
Hey,
a bug report this time. As per definition of java beans (http://download.oracle.com/otndocs/jcp/7224-javabeans-1.01-fr-spec-oth-JSpec/  section 8.3.2) an is-Getter is only expected / allowed for primitive boolean type.
Getters returning reference type Boolean should therefore use the get-prefix.

I'm fine if katharsis would find either version of the getter names, but it breaks when it should

[2016-06-27 09:10] mohlek opened #348 "Date serialization"
Is there a way to automatically format the date types for all models?
The official recommendations says the date should be formatted ISO 8601.
http://jsonapi.org/recommendations/#date-and-time-fields

I really want to avoid settings an annotation on all my models/fields

[2016-06-27 17:00] jaureguif commented on #311
@meshuga: Is it possible to remove links just in the relationships as you mentioned?

[2016-06-27 18:38] meshuga commented on #348
Take a look here: https://github.com/FasterXML/jackson-datatype-jsr310

[2016-06-27 18:38] #348 closed

[2016-06-28 07:17] mohlek commented on #348
Thanks for the advice. Sadly I never worked with jackson that much and can't get it running.
The readme says I have to register it to the ObjectMapper, which I did. But somehow it doesn't work.

[code]
I guess I have to add it here, since this is the only place I use ObjectMapper.
Any further advice would be awesome.

[2016-06-28 07:52] mohlek commented on #344
Just a note:
Tests for transient got removed here:
https://github.com/katharsis-project/katharsis-core/commit/83a632dcf0fd024b5d45b093f908a1e9f5000006#diff-6290179638ef38b6a400d95f51044eb5L143

I keep on investigating.

[2016-06-29 16:26] remmeier opened #349 "JPA adapter"
is there an interest in a JPA adapter that exposes entities and their relations to JSON API without having to implement anything? I might would look into it if nobody else does.

There is https://github.com/yahoo/elide, but I guess there would be more flexibilty to have a pluggable adapter into katharsis. This pattern might be repeated with other data stores or frameworks like Spring Data.

[2016-06-29 18:22] remmeier commented on #315
1. in the Java world client and server should be able to use the same beans.
2. it would be great if the repository interfaces to fetch the beans could be generated from the server implementation. For example with a Gradle and Maven plugin. QueryDSL does a similar thing to generate a Query API from the JPA annotation.
3. Client and server should be able to use the same set of annotations. I just r

[2016-06-29 18:30] remmeier commented on #299
+1 to use dropwizard metrics, is quite popular with already many other plugins

[2016-06-29 19:26] pcdwr commented on #323
See pull request #340.

[2016-06-29 19:26] #323 closed

[2016-06-29 23:13] narayar opened #350 "How to remove "relationships" from the leaf object"
I have a case where the object is the last resource in the chain. This object doesnt have any relationships  further i.e. JsonApiToOne or JsonApiToMany. In this case, the framework is still adding "relationships" object in the API response.
[code]
As per the JSON API spec - http://jsonapi.org/format/#document-resource-object-relationships if the "relationships" is present, then it has to contain a

[2016-06-30 01:41] ieugen commented on #315
I agree with most of what you said @remmeier, but we are all volunteers here. Care to submit a PR?

[2016-06-30 06:00] remmeier commented on #315
I can take a look at 2. I would be using the jsonapi-converter. As far as I can tell there is no reason to start another client implementation.

[2016-06-30 06:25] ieugen commented on #315
I've started rewriting the internals in [1]. It should allow for writing of a client pretty soon.
You're talking about generating the interfaces like QueryDSL. That is one way to do it and I considered it but I decided to stick with runtime reflection as it was closer to the current implementation and faster to refactor.

The reflection penalty should not be that bad since most (all of it) of it i

[2016-07-09 08:09] mohlek opened #352 "Saving entities with relationships"
Hey guys,
I am having trouble saving entities with relationships. I am using Ember 2.6.1 with Katharsis 2.4.1.

I really don't know what the problem is. Every advise would be awesome!

Warning: Wall of code incoming...

Katharsis produces:
[code]

My save request:
[code]

[code]

[code]

[code]

[code]

[code]

[code]

Ember role-set.js
[code]

Ember module.js
[code]

Ember module-function.js
[cod

[2016-07-11 15:21] pcdwr opened #353 "Null attributes are not being serialized"
During container serialization attributes with null values are not serialized. I wanted to remove this code and let the Jackson configuration determine if null values should or should be serialized. I found that there is a test specifically checking to make sure null values are NOT serialized (ContainerSerializerTest.onSimpleObjectWithNullValueShouldNotIncludeAttributes). Does anyone know why this

[2016-07-11 18:35] chb0github commented on #353
The test may have been written specifically because code was introduced changing the default behavior.

From my stance,  null values should always be output

[2016-07-11 18:37] chb0github commented on #353
Follow up: it makes examples obvious what is available, and log files show what wasn't supplied and what was supplied as null. It also makes code safer by removing the ambiguous case

[2016-07-11 19:31] meshuga commented on #353
It's still unresolved issue on https://github.com/json-api/json-api/issues/981. I think it could be better to move the discussion to this issue

[2016-07-11 20:02] pcdwr commented on #353
Does anyone object if I allow this to be configured with Jackson but set the default for Katharsis to omit null values? In our API null and omitted/absent are not synonymous.

[2016-07-11 22:22] ieugen commented on #334
Hi,

We have started writing documentation about this library [1]. You should check there in the future or add examples if you found a solution.

I am closing this issue since it is too generic

[1] http://katharsis-jsonapi.readthedocs.io/en/latest/

[2016-07-11 22:22] #334 closed

[2016-07-11 23:49] ieugen opened #354 "Allow katharsis repositories to participate in dependency injection"
I think Katharsis should allow repository creation to be handled by IoC frameworks such as Spring or CDI implementations.

The work should most likely be done in katharsis-spring or other integrations. We have this issue here as it might require changes to katharsis-core .

Please also use this issue to track progress and close it once we have things documented [1]

[1] http://katharsis-jsonapi.re

[2016-07-12 03:47] mitch2na commented on #353
Hi, i would like to add to this discussion by saying my company is in the same boat as @pcdwr, and trying to avoid null in the returned relationship data attribute. I noticed that the test RelationshipContainerSerializerTest.onToOneNullRelationshipShouldIncludeNullToOneRelationshipLinkage confirms that the value null is returned. Could this be a bug along side this?

[2016-07-12 04:41] chb0github commented on #353
Here is my input on the matter:

I think the best approach is to Allow the user of the libraries to set their own ObjectMapper either as a property or an autowired field; throw an Exception if it isn't set and even provide examples. -- this is really a use-by-use situation. Different companies/teams will have different norms and different reasons. This is the best approach for Katharis IMO.

My pe

[2016-07-12 04:50] chb0github commented on #354
This one gets several of my votes. Katharis core should allow the repositories to be set and do no discovery at all. I had this discussion with @meshuga  the other day. Jersey has it's own scanning mechanism and so does spring- Katharsis should not be doing it through use of byte-code reflection

[2016-07-12 05:06] collinpeters opened #355 "Ability to ensure order of sort parameters"
Currently the sort mechanism is based on a map which means the order cannot be guaranteed.

So for `GET /tasks/?sort[projects][shortName]=desc&sort[users][name][firstName]=asc` you cannot guarantee the order is projects.shortName and then name.firstName.

Based on gitter.im discussion with @chb0github, it would be possible to create an implementation based on a `TreeMap` and reading the true param

[2016-07-12 05:22] chb0github commented on #355
Basically, we could parse this and produce a composite comparator to be passed into a TreeMap.

I was just in the process of whipping this up  and I noticed comparator can already be chained!

[code]

[2016-07-12 14:17] remmeier commented on #349
i currently try to get such an adapter up an running. There are some issues:

- ResourceLookup and e.g.  JsonServiceLocator are used in combination to get repository instances. As a consequence, each repository has to be defined by a dedicated class. For the use case here, I would rather like to implement a generic JpaEntityRepository class that takes the entity class as constructor parameter.
- R

[2016-07-12 16:21] chb0github commented on #349
Zero configuration? Of course! This is exactly what spring data rest does and it's really easy. Ellide is junk. It barely works, the code is junk, the examples didn't even compile for me.

[2016-07-12 17:15] mitch2na opened #356 "Single data relationship always being returned by default"
Confirmed this behavior within spring-boot example with Katharsis 2.4.0:

Remove @JsonApiIncludeByDefault on project
[code]

GET /api/tasks/1
[code]

See how the relationships->project->data attribute is populated. This causes us problems because if we don't populate the element by default our api clients will have null returned and assume we don't have any data for that relationship. This is diff

[2016-07-12 17:49] pcdwr commented on #353
I will submit a pull request later this week to use the Jackson configuration with the default setting of not serializing nulls.@chb0github : This will fix your bug!

[2016-07-12 18:18] mitch2na opened #357 "Include parameter not populating included attribute correctly"
Confirmed this behavior with katharsis-example using 2.4.0:

GET /api/tasks/1/project?include[projects]=tasks
[code]
data->relationships->tasks->data populated but nothing is referenced in the included array.

[2016-07-13 06:29] remmeier commented on #349
I did not want to put the junk word into my mouth, but I did not get great feedback about elide as well.

[2016-07-13 07:10] remmeier commented on #349
I currently use runtime class generation to address the ResourceLookup. It seem that there would be quite some updates necessary to change that.

regarding the ResourceInformationBuilder. I would propose:
- ResourceInformationBuilder becomes an interface
- ResourceInformationBuilder has to methods: accept(Class) and build(Class).
- the current implementation is renamed to AnnotationResourceInforma

[2016-07-13 12:27] mohlek commented on #352
it seem that this error is related to #345

[2016-07-13 12:27] #352 closed

[2016-07-13 12:38] mohlek commented on #345
I'm waiting for the patch. Hope it will be released soon. My project depends heavily on this.

[2016-07-13 20:06] chb0github commented on #345
faster and more predictable releasing was talked about today. But until then, you can and should release internally.

[2016-07-14 01:00] pjweisberg opened #359 "Include Location header with 201 Created response"
It would be nice if POSTs that return a 201 Created response could include a Location header with the URL of the newly created resource.

@chb0github

[2016-07-14 07:04] chb0github commented on #359
To be clear to any who read this, it has to be a fully qualified url based on the host header

[2016-07-14 13:46] pjweisberg commented on #359
Actually the RFC does allow relative URIs.  https://tools.ietf.org/html/rfc7231#section-7.1.2

[2016-07-14 15:02] weaselmetal opened #360 "RelationshipRepository lookup breaks for relations of same type"
Assume this object being exposed on an API

    @JsonApiResource(type = "person")
    public class Person
    {
        private static long dumbIdGen = 1;

        private String name;

        private Long id;

        private Set<Person> parents = new HashSet<>();

        private Set<Person> children = new HashSet<>();

        public Person(String name)
        {
            id = dumbIdGen++;

[2016-07-14 15:31] chb0github commented on #359
Good to know. Still, if the host header is supplied it should be used.

On Thu, Jul 14, 2016, 6:46 AM Peter J Weisberg <notifications@github.com>
wrote:

[2016-07-14 20:53] chb0github opened #361 "Katharis should automatically determine Entity/resource names and types"
consider this example code

[code]

The entity type can be determined simply by looking at the generics. From this, we can infer a resource by pluralizing and type by lowercasing:

`http://host/locations`

The `@JsonApiResource(type = "locations")` is entirely unnecessary; it can be derived. We do, however, want to be able to override it as a type.

We are facing the scenario in 4 seperate places

[2016-07-14 21:16] chb0github opened #362 "ResourceRepository save method generic type change"
[code]

should become:

[code]

So that you can return an object with extra fields like a timestamp. Refer to the other issue on polymorphism

[2016-07-14 21:17] chb0github opened #363 "ResourceRepository save method generic type change"
[code]

should become:

[code]

So that you can return an object with extra fields like a timestamp. Refer to the other issue on polymorphism

[2016-07-15 09:21] mohlek commented on #361
The spec doesn't define whether the type should be pluralized or singularized.
I love this request but it should be configurable.
My endpoints are singularized because of some german entity types and pluralization is a mess with non english names.

[2016-07-15 09:38] Ramblurr commented on #327
@meshuga @masterspambot Any word on the status of this enhancement? Even a timeline for implementation would be great.

To summarize the important features are

* Some way of specifying an HTTP handler for non jsonapi CRUD operations
  * Possibly via `@JsonApiAction` as @weaselmetal suggested above
* Option to return serialized JSON
* Option to return non-JSON (e.g., a file via a stream)

[2016-07-15 09:44] Ramblurr commented on #360
This is a pretty serious limitation of Katharsis :\

[2016-07-15 13:21] remmeier commented on #355
why those kartharsis does here not adhere to the spec?

http://jsonapi.org/format/#fetching-sorting

=> /articles?sort=-created,title

looks simple and allows multi-column sorting. The same holds for the filtering. It would be great to have access to a plain "filter" paramer. Then it would be possible to support complex expressions with nested and/not/nor similar. OData does this two and quite a c

[2016-07-15 13:22] remmeier commented on #349
JPA adapter basics are working now. For proper support blocked by https://github.com/katharsis-project/katharsis-core/issues/355 and the ResourceInformationBuilder mentioned above.

[2016-07-15 16:27] chb0github commented on #363
This somehow is a duplicate. Closing

[2016-07-15 16:27] #363 closed

[2016-07-15 16:30] chb0github commented on #361
Definitely configurable/overridable. Basically, if you define the annotation for an entity you can put the type there. And, the resource definition should be on the repository itself.

I hope no one hits me, but really, the way spring-data-rest does it is just slick. Katharsis is about a different spec and so it's totally fine to have a different implementation. But we can/should borrow their idea

[2016-07-15 16:33] chb0github commented on #360
We had a discussion on having a near term release; there is a lot outstanding and we are working to improve the regularity and repeatability of the process. If you supply a PR and we accept I will make getting a release out a priority discussion in our next hangout on wed.

Does that help?

[2016-07-15 16:34] chb0github commented on #360
BTW: This may be address by #356

[2016-07-15 16:48] chb0github commented on #353
@pcdwr did you get the PR submitted?

[2016-07-15 16:56] weaselmetal commented on #360
Doesn't seem like issue #356 is about the same thing.

[2016-07-15 17:46] pcdwr commented on #353
@chb0github Just submitted it.

[2016-07-15 20:56] mohlek commented on #344
I consider it as a bug as it worked before...
However if @JsonIgnore works I will give it a try. Thanks for the advise.

But having a working transient version would be awesome. I have currently 130+ entitys which need new annotations now :-/

[2016-07-15 21:00] mohlek commented on #361
I'm totally with you. I'd just love to see this feature configurable. So I wont have to put type = "xyz" everywhere and my endpoints are still singularized :) that would be really helpful. I currently have 130+ entity and my API keeps growing. Less writing is always a good thing eh? :smile:

[2016-07-15 22:28] Ramblurr opened #365 "Serialization of QueryParams for building links"
I suspect this is a feature request, but its possible I overlooked a solution.

Given a paginated request, we create the links object like so:

`GET /api/people?page[number]=0&page[size]=50`

[code]

However, once you toss additional QueryParams into the mix, things change. For example with a filter param we would expect:

`GET /api/people?page[number]=0&page[size]=50&filter[people][name]=Joe`

[c

[2016-07-15 22:32] Ramblurr commented on #360
#356 isn't related as far as I can tell.

The cause of this seems to be that Katharsis is resolving relationships via the java type. If a resource has > 1 relationships with the same type (e.g., a Person with parents, and children, and friends), Katharsis can't distinguish between the relationships because its referring to the relationship via the Person type.

[2016-07-16 13:35] ieugen commented on #327
Hi,

We also need support for actions in JSON-API in our production app. IMO it is not very easy to support in with the current code base. That is one of the reasons I started working on https://github.com/katharsis-project/katharsis-core/pull/326 . One of the goals is to allow hooks to call and support actions.

I have similar ideas to what you have detailed in your comments. I was thinking to ma

[2016-07-17 04:18] chb0github commented on #361
There needs to be some smarter inflection for sure

On Fri, Jul 15, 2016, 2:00 PM Maurice Mohlek <notifications@github.com>
wrote:

[2016-07-18 10:28] remmeier commented on #355
some odata examples: https://msdn.microsoft.com/en-us/library/hh169248(v=nav.90).aspx

[2016-07-18 19:16] corrspt opened #366 "PropertyUtils.getPropertyValue - Finding "wrong" getter"
Hi Guys,

I'm sorry if this is not really an issue with Katharsis, but I would like to ask if someone has an opinion on why this might happen. I'm using Play Framework (2.5) with Katharsis 2.1.1 and using reflections 0.9.9. As Katharsis does not have a direct integration with play, I sort of have a hack to make it work, but still.

I'm getting an error like the following:

[code]

This error only

[2016-07-19 06:18] ieugen commented on #366
Could you first update your code to a newer version? The latest is 2.4.1.

`java.lang.NoSuchMethodError` is thrown when the JVM can't find a class so you should add the dependency explicitly. Maybe maven works different on heroku.

p.s. Katharsis uses a copy of Optional since it is build with Java 7, but that is namespaced.

[2016-07-19 08:35] weaselmetal opened #367 "fields[...] filter propagates down to included objects"
A GET to /api/tasks/1?include[tasks]=project&fields[tasks]=name

would also apply the field filter to the included project object. Unless the included object shares field names, the included object would not have any attributes in the json payload.

[2016-07-19 13:52] corrspt commented on #366
Hi @ieugen , thanks for pitching in.

Regarding upgrading, I'll try as soon as I can (I'm on a 3G connection with limited transfer speed and limit) but I'm not sure I can do that easily because of using the Play Framework. Since katharsis does not have a direct integration with Play I had to fiddle with the internals to find out how to reply to a request - I have a controller method which instanti

[2016-07-19 13:55] pcdwr commented on #353
Closed with pull request #364 .

[2016-07-19 13:55] #353 closed

[2016-07-20 02:12] dustinstanley commented on #209
I was reviewing this change and I can't figure out a way to actually use a custom QueryParamsParser without modifying the code in KatharsisInvokerBuilder.  It seems that when creating the builder an instance of DefaultQueryParamsParser is always handed in to it.  Is there something I am missing here or is it expected that the source be modified in order to utilize a custom parser?

Thanks for your

[2016-07-20 07:18] weaselmetal commented on #365
I started to work on a way to retrieve parameter values easier, and collect them to use them in a link for pagination.

[2016-07-20 19:48] weaselmetal commented on #361
@chb0github so currently it's not possible to do CRUD operations on type `LocationSubType1` through route api/locations, is that what you are saying?
Would it work to inherit the annotation `@JsonApiResource(type = "locations")` from the super type?
I think that the automatic type name assignment is not worth a refactoring. Pluralizing will break for too many words (cactus, fish, ...) and any non-

[2016-07-20 19:58] weaselmetal commented on #328
Please take note of my pull request: https://github.com/katharsis-project/katharsis-core/pull/369
Would make link creation much easier I think (since it's very easy to get out all parameter names and values again).

[2016-07-20 23:00] #357 closed

[2016-07-20 23:13] #341 closed

[2016-07-20 23:15] #356 closed

[2016-07-20 23:20] narayar commented on #350
The spec also says:
A “relationship object” MUST contain at least one of the following
- links
- data
- meta
In this case, if the “relationship object” is present, it cannot be empty.

Secondly, since its a leaf node...there is no further relationships. So there is no reason for “relationship object” to be present.

[2016-07-20 23:32] narayar commented on #350
Thanks @masterspambot!
Looking forward for the fix.

[2016-07-21 03:56] chb0github commented on #335
Can you please post a  sample of a
`GET /yourentity/:id`

And
`PATCH /yourentity/:id`

So I can see clearly what you want to achieve? I think I understand but want to see

[2016-07-21 04:20] keithdmoore commented on #335
I fail to see the true benefits of this.  If the objects are already fetched by Hibernate, is there really much performance benefit?

[2016-07-21 08:07] Ramblurr commented on #328
@masterspambot spring-data has pagination classes, but please do not force a dependency on spring data, not everyone can use it.

[2016-07-21 08:31] remmeier commented on #355
where do a find the refactorings? yes, support for the json-api spec would be good, like

/comments?filter[post]=1,2&filter[author]=12
and
 /articles?sort=-created,title

At first I was not entirely sure about filter[ResourceType]. I guess the ResourceType is used to address and sort related entities (next to the "root" entity). Seems like a good thing. If it would be optional, then it could be bo

[2016-07-21 13:42] corrspt commented on #366
Yes, @masterspambot. I reverted the solution to not use Optional, but I'll try to to upgrade Katharsis in the mean time (I'll try to follow the directions from the VertX integration... although I'm not familiar with Spring/VertX I should be able to figure something out).

I'll knock on the door again if I need help, thanks for everything.

[2016-07-21 14:38] chabala commented on #360
I'd say this is not a bug, those relationship repos are just highly naïve.

Look at https://github.com/katharsis-project/katharsis-examples/blob/master/dropwizard-mongo-example/src/main/java/io/katharsis/example/dropwizard/domain/repository/TaskToProjectRepository.java

The lookups make full use of the fieldName param to disambiguate relationships of the same type.

[2016-07-22 05:02] chb0github commented on #335
There could be a definite benefit. That one relationship could join and number of tables. If it's not being modified then there is no reason to do so. And if the only thing it's needed for is to generate a link then that's a lot of overhead. But I want to see his example

[2016-07-22 08:43] weaselmetal commented on #335
I don't know what an example should show? Json payload? Java callstack?
Anyway, I realized that a client may have changed the related object to a different object.
Assume object A,B and C, where A has a toOne relation to B. A>B relation was changed on the client to A>C and client PATCH-es A to the server.
Then this new object C would get loaded through the relationship repository and linked.
So ob

[2016-07-22 22:26] #335 closed

[2016-07-24 07:58] chb0github commented on #328
I have been insanely busy lately. Let me have a look at the issue and get
back to you

On Sat, Jul 23, 2016, 11:45 AM Błażej Krysiak <notifications@github.com>
wrote:

[2016-07-24 08:08] chb0github commented on #361
I think we have to allow them to vary. Some things are just not possible
otherwise. And per Błażej's comment 'the type can be singular or plural'
that does not mean the resource must be the same.

So:
/balls

"type":"ball"

Is still find.

As for the trickiness of plural: we can use the EvoInflector for English
and use service discovery for other languages  (even if not implemented).
Using English

[2016-07-24 08:20] weaselmetal commented on #360
Oooooooooo, so I'd need to check on the `fieldName` parameter whether the current relation deals with `parents` or `children`? Is that correct?

[2016-07-24 08:28] Ramblurr commented on #360
Yea, I just tested this and the fieldName parameter is set to the target field of the type represented by the class. So parents or children in this case.

[2016-07-24 08:38] Ramblurr commented on #328
So we created a Pagination helper util as discussed in this ticket. It actually lives inside an `AbstractEndpoint` class we developed to contain a bunch of repeated code used in every katharsis repository.

Here are some snippets related to pagination

[code]
[code]

And here is just one of the `collectXXParams` methods that serializes a QueryParams object into a uri string so it can be included o

[2016-07-24 13:46] meshuga opened #371 "Merge development repositories"
On the last meeting (http://katharsis-jsonapi.readthedocs.io/en/latest/meeting-notes.html#meeting-notes-13-07-2015) it was mentioned to merge the development repositories into one which would allow easy project building.

This issue concerns moving katharsis-parent, katharsis-core, katharsis-rs, katharsis-servlet and katharsis-spring into https://github.com/katharsis-project/katharsis-framework an

[2016-07-25 06:55] weaselmetal commented on #360
Thanks @chabala for clearing this up and linking to code that uses `fieldName`. Closing the issue.

[2016-07-25 06:55] #360 closed

[2016-07-26 01:46] chb0github commented on #371
Excellent! Progress.

[2016-07-26 01:51] chb0github commented on #354
@masterspambot totally! It's been on my list of things that bother me ;)

[2016-07-26 05:46] ieugen commented on #371
Awesome!

I saw that none of the previous history is kept. I believe git allows us to merge projects while keeping history. If you agree I will give it a go on a branch and get back with results.

[2016-07-26 08:56] danielmischler opened #372 "Annotations to control relationship information"
There should be annotations to control the information that's included in relationship data, i.e. links, data and/or meta.

According to: http://jsonapi.org/format/#document-resource-object-relationships

This should be independent of what resources are being included (@JsonApiIncludeByDefault).

Example:
[code]

[2016-07-26 09:03] ieugen commented on #372
Hi,

I belive the Annotations approach is not suitable for more complex responses. For those case we should return a JsonAPI Document where we can customise every aspect of the response.

That is not possible right now, but work is being done in that direction with katharsis-framework.

[2016-07-26 09:12] danielmischler commented on #372
Greater control for the whole document might be a good thing in general.

But I'm not sure that an annotation in the form of the following would be too complex (at least for the user, don't know for the framework code ;-):

@JsonApiToOne(links = false, data = true)

BTW, I stumbled over this issue because in version 2.4.2 'data' is not included anymore breaking several tests in my code.

[2016-07-27 02:31] xbmono commented on #345
We have the same issue. Almost half of our application is broken because of this error.

[2016-07-27 02:52] dustinstanley opened #373 "Getting Katharsis to adhere to the Json api specification for query parameters"
Hi,

I am working on getting katharsis to adhere more strictly to the official specification, especially with regards to the parsing of query parameters.  I have reviewed Enhancement #209 which appeared as though it would allow extension of the framework to enable custom parsing of the query parameters, but this appears to be only a partial solution.

I am able to create my own QueryParamsParser a

[2016-07-27 02:54] dustinstanley commented on #209
You can disregard my previous comment, I figured out that you can pass your own QueryParamsBuilder into the KatharsisInvokerBuilder, so I am all good there.  However, even with a custom builder/parser it seems like a partial solution.  I created issue #373 to see if there is a way to make katharsis more compliant.

[2016-07-27 05:49] chb0github commented on #371
Try it. But it's not the end of the world if you can't

On Mon, Jul 25, 2016, 10:46 PM Ioan Eugen Stan <notifications@github.com>
wrote:

[2016-07-27 12:00] remmeier commented on #315
I was looking into this today to do some testing. At first I was working with jsonapi-converter. But after a while I have come to the conclusion that a katharsis-client would be the better way. There are manythings that can be shared between client and server and would otherwise have to be implemented twice.

As a result I tried to implement  a (basic) katharsis-client module and and made quite go

[2016-07-27 12:22] ieugen commented on #315
Great! Of course the katharsis core API will need to evolve. I think we can start working on it soon.
I will sync with @meshuga and push tto promote katharsis-framework as default starting this end of the week.

[2016-07-27 18:27] meshuga commented on #371
It would be nice to keep the history, but is it possible to keep even in case of he paths changes?

[2016-07-27 18:43] meshuga commented on #371
Ok,  I googled that and it turns out it's not to hard. I can do that and apply changes to poms

[2016-07-27 19:46] ern2150 opened #374 "crud-updating-resource-relationships not supported?"
I have read operations invoking annotated methods in my relationship repositories but I can't get update ops (like @JsonApiSetRelations) to fire when updating the parent resource.
So for the [JsonAPI Updating a Resource's Relationships examples](http://jsonapi.org/format/#crud-updating-resource-relationships), I would expect an ArticleToAuthorRepository @JsonApiSetRelation method to fire, and an A

[2016-07-28 02:22] ieugen commented on #371
Great. I will leave it up to you then.

We should strive to migrate to framework this week and block all contributions to the other projects in order to focus on delivering features to framework.

To validate the whole process we should do a new minor release ASAP (next 30 day ?!? ), just to complete the cycle.

Let me know if you think there are things I can help with. If not, after the merge I w

[2016-07-28 06:21] mohlek commented on #344
Neither @JsonIgnore nor @JsonIgnoreProperty works

[2016-07-28 07:14] chb0github commented on #344
If `@JsonIgnore` isn't working that that's a wild bug as that is something
jackson respects. And, in the version I am using, it works fine.

Please give a working sample along with the dependency you're using. If you
need to, supply a git repo

On Wed, Jul 27, 2016 at 11:21 PM Maurice Mohlek <notifications@github.com>
wrote:

[2016-07-28 07:24] chb0github commented on #344
Has a member of the team verified this?

[2016-07-28 07:43] mohlek commented on #344
It gets really annoying now.
Fields marked with transient are not getting parsed when sending data from client > server.
This behavior is what I also expected with server > client.

Id like to show you my dependencies graph but maven says no -.- something messed up with this.
Whole pom: https://gist.github.com/mohlek/b6165ff93ff8e2a80305aac5dae01c66

Unfortunately I can't provide a git repo becaus

[2016-07-28 15:03] remmeier opened #375 "Support for request filter api"
e.g. servlets and JAX-RS support the implementation of filters that hook in between the incoming request and the actual implementation. Use cases include monitoring/tracing, security, transaction handling, etc. Such a mechanism would be useful for Katharsis as well.

There are probably two different, useful implementations:
1. filters that are invoked once the incoming request is parsed (e.g. Data

[2016-07-28 17:54] meshuga commented on #371
I think changes you've made have the highest priority and should be merged soon.

[2016-07-29 06:41] chb0github commented on #344
@masterspambot  it's fixed? Do you have a change # that can be referenced? I was actually going to look into this.

[2016-07-29 09:03] ieugen commented on #371
OK. I will merge it and do some more work over the weekend.

[2016-07-29 11:47] #371 closed

[2016-07-29 11:50] #375 closed

[2016-07-29 11:50] #374 closed

[2016-07-29 11:51] #373 closed

[2016-07-29 11:51] #372 closed

[2016-07-29 11:51] #367 closed

[2016-07-29 11:51] #366 closed

[2016-07-29 11:51] #365 closed

[2016-07-29 11:52] #362 closed

[2016-07-29 11:52] #361 closed

[2016-07-29 11:52] #359 closed

[2016-07-29 11:52] #355 closed

[2016-07-29 11:53] #354 closed

[2016-07-29 11:53] #350 closed

[2016-07-29 11:53] #349 closed

[2016-07-29 11:53] #347 closed

[2016-07-29 11:53] #345 closed

[2016-07-29 11:54] #344 closed

[2016-07-29 11:54] #339 closed

[2016-07-29 11:54] #338 closed

[2016-07-29 11:54] #336 closed

[2016-07-29 11:55] #330 closed

[2016-07-29 11:55] #328 closed

[2016-07-29 11:55] #327 closed

[2016-07-29 11:55] #317 closed

[2016-07-29 11:56] #315 closed

[2016-07-29 11:56] #311 closed

[2016-07-29 11:56] #309 closed

[2016-07-29 11:56] #299 closed

[2016-07-29 11:57] #303 closed

[2016-07-29 11:57] #295 closed

[2016-07-29 11:57] #275 closed

[2016-07-29 11:57] #273 closed

[2016-07-29 11:58] #261 closed