[2015-04-14 18:31] meshuga opened #5 "Define error object structures for top-level JSON"
Define a structure of errors as defined in http://jsonapi.org/format/#errors

[2015-04-14 18:33] meshuga opened #6 "Add included filed in top-level JSON"
Add *included* filed in top-level JSON as defined in http://jsonapi.org/format/#document-structure-compound-documents.
A default included fields should be marked using an annotation e.g. *@JsonApiIncludeByDefault*.

[2015-04-14 18:34] meshuga opened #7 "Add meta field in top-level JSON"
Add *meta* field in top-level JSON as defined in http://jsonapi.org/format/#document-meta

[2015-04-14 18:35] meshuga opened #8 "Add validation of complex attributes"
Add validation of complex attributes as defined in http://jsonapi.org/format/#document-structure-resource-object-complex-attributes

[2015-04-14 18:37] meshuga opened #9 "Add EntityNotFoundException"
Add ResourceNotFoundException which can be used to return 404 code when a resource does not exist. It should inherit from RuntimeException.

[2015-04-14 18:40] meshuga opened #10 "Improve links field in top-level JOSN"
Tasks to do:
* Remove top-level JSON *links*
* Verify resource's *links* [self,related] field

[2015-04-14 18:45] meshuga opened #11 "Add custom inclusion of related resources"
Add ability to customize included object as defied in http://jsonapi.org/format/#fetching-includes

[2015-04-14 18:47] meshuga opened #12 "Add projection of fields (sparse fields)"
Add ability to select which fields should be included in the response as defined in http://webklipper.com/bk/S374bsKwce4ufpjcKIZe#fetching-sparse-fieldsets

[2015-04-14 18:48] meshuga opened #13 "Add sorting"
Add sorting capabilities as defined in http://jsonapi.org/format/#fetching-sorting.

[2015-04-14 18:49] meshuga opened #14 "Add pagination"
Add ability to paginate results as defined in http://jsonapi.org/format/#fetching-pagination

[2015-04-14 18:51] meshuga opened #15 "Add filtering"
Add ability to filter resources as defined in http://jsonapi.org/format/#fetching-filtering.

[2015-04-14 18:58] meshuga opened #16 "Allow adding resources"
Add ability to add a single resource as defined in http://jsonapi.org/format/#crud-creating **without** client-generated IDs (http://jsonapi.org/format/#crud-creating-client-ids).

[2015-04-14 19:00] meshuga opened #17 "Allow updating resources"
Add ability to update a single resource as defined in http://jsonapi.org/format/#crud-updating **without** 204 response (http://jsonapi.org/format/#crud-updating-responses-204).

[2015-04-14 19:02] meshuga opened #18 "Allow updating relationships"
Add ability to update resource relationships as defined in http://jsonapi.org/format/#crud-updating-relationships **without** garbage collection capabilities (http://jsonapi.org/format/#crud-updating-relationships) and 204 responses.

[2015-04-14 19:04] meshuga opened #19 "Allow deleting resources"
Add ability to remove a resource as defined in http://jsonapi.org/format/#crud-deleting.

[2015-04-14 19:14] meshuga opened #20 "Add Bean Validation"
Add bean validation (JSR 303) mechanism.

[2015-04-14 19:16] meshuga opened #21 "Create sample project"
Add a sample project which utilize Katharsis capabilities. It need to use:
* katharsis-core
* katharsis-rs
* Jackson 2
* Guice
* MongoDB

[2015-04-15 19:43] meshuga opened #22 "Add more sophisticated way of casting resource's Id values"
Currently each controller method contains a _castIdValue_ method which is can parse only Long type.
A separate class designed for casting id values and utilizing generics should be created and used by the controllers to cast ID values.

[2015-04-15 20:24] #10 closed

[2015-04-16 20:33] #9 closed

[2015-04-24 19:14] meshuga opened #23 "Analyze Jersey Declarative Hyperlinking feature"
Analyze if it can be possible to integrate _org.glassfish.jersey.ext:jersey-declarative-linking_ into katharsis project.
Documentation link: https://jersey.java.net/documentation/2.6/declarative-linking.html

[2015-04-29 22:40] #6 closed

[2015-05-01 11:24] #19 closed

[2015-05-01 11:33] meshuga opened #25 "Add documentation"
Add documentation of the katharsis framework.

[2015-05-01 13:47] #13 closed

[2015-05-02 16:21] #14 closed

[2015-05-02 19:20] #16 closed

[2015-05-05 19:27] meshuga opened #29 "Add Authorization mechanism"
Add ability to manage access to a resource in a convenient way.

[2015-05-06 19:39] meshuga opened #31 "Add attributes field"
The newest JSON API format introduce _attributes_ field, which holds non-relational resource fields as defined in http://jsonapi.org/format/#document-structure-resource-object-attributes-object

[2015-05-06 19:40] meshuga commented on #8
See #31

[2015-05-06 19:40] #8 closed

[2015-05-07 17:53] meshuga opened #32 "Compability with JSON:API SPA clients"
Through JSON API is well documented, it would be good to take a look at client libraries listed in http://jsonapi.org/implementations/ and try to find out if Katharsis is compatible with them.

[2015-05-07 19:12] #31 closed

[2015-05-07 20:40] #17 closed

[2015-05-07 20:55] meshuga commented on #18
Made alongside with #17

[2015-05-07 20:55] #18 closed

[2015-05-07 21:10] meshuga opened #33 "Integrate PageableRepository, PageableAndSortableRepository and SortableRepository"
Integrate:
* https://github.com/katharsis-project/katharsis-core/blob/development/src/main/java/io/katharsis/repository/SortableRepository.java
* https://github.com/katharsis-project/katharsis-core/blob/development/src/main/java/io/katharsis/repository/PageableRepository.java
* https://github.com/katharsis-project/katharsis-core/blob/development/src/main/java/io/katharsis/repository/PageableAndSor

[2015-05-08 22:15] #22 closed

[2015-05-09 10:36] meshuga opened #34 "Add PATCH for relationships"
Add PATCH for _FieldPath_ and _LinksPath_ as defined in http://jsonapi.org/format/#crud-updating-relationships.

[2015-05-09 18:41] #25 closed

[2015-05-09 19:50] #33 closed

[2015-05-09 19:52] meshuga commented on #15
Resolved with #33

[2015-05-09 19:52] #15 closed

[2015-05-10 22:49] meshuga opened #35 "Add support for Jackson annotations"
Currently Jackson annotations assigned to resource and resource's fields aren't used. ~~It should be available by replacing current serializers and creating custom proxy classes (e.g. using javassist) which will contain fields from resources.~~
At this state, Javassist excesses the needs; only JsonProperty annotation should be supported.

[2015-05-11 08:52] poznachowski opened #36 "'Hardening' the codebase"
I think we should hide implementation details to the end user, by changing classes / methods visibility where applicable.
Make classes immutable where applicable.

[2015-05-11 20:40] #21 closed

[2015-05-11 21:00] meshuga opened #37 "Add support for Spring Data REST"
Currently Spring implement HATEOAS in Spring Data REST project (http://projects.spring.io/spring-data-rest/), but the standard isn't JSON API compliant.
It should be possible to create a handler for JSON API requests which will utilize Spring Data repositories and other structures.

[2015-05-11 21:22] #5 closed

[2015-05-16 12:25] #35 closed

[2015-05-17 16:30] meshuga opened #38 "Support create, update and delete of relationship"
Add ability to manage relationships as defined in http://jsonapi.org/format/#crud-updating-relationships

[2015-05-17 16:47] meshuga opened #39 "Support CRUD for related resources"
JSON API doesn't support this, but it might be a good extension.

[2015-05-21 18:38] meshuga opened #40 "Change links to relationships"
JSON API made a next change and now `links` are named `relationships`: https://github.com/json-api/json-api/issues/618

[2015-05-21 20:07] meshuga opened #41 "Remove group key from RequestParams"
RequestParams contians `group` field which is now not in the standard.

[2015-05-27 16:42] miguelcobain commented on #32
I'm open to test Katharsis with ember-data.

[2015-05-30 14:11] #40 closed

[2015-06-06 21:09] meshuga opened #43 "Display a list of found resources"
Currently it's not possible to show a list of found resources.

[2015-06-09 20:15] #34 closed

[2015-06-09 21:25] meshuga commented on #38
see #34

[2015-06-09 21:25] #38 closed

[2015-06-10 00:16] miguelcobain commented on #32
Happy to do it!
What do you mean by "configuration"?
The whole premise behind JSON API is to remove configuration as much as possible. Not really into angular-restmod at all.

[2015-06-12 18:41] #41 closed

[2015-06-13 18:25] #11 closed

[2015-06-16 02:07] woonsan opened #44 "ErrorResponseSerializer is missing"
It seems that there is no serializer for ErrorResponse by default. As a result, if serializing ErrorResponse (for example, io.katharsis.rs.KatharsisFilter#dispatchRequest() tries to serialize ErrorResponse on KatharsisException), then it should throw an exception like the following:

Caused by: java.lang.IllegalArgumentException: Response can be either class io.katharsis.response.ResourceResponse

[2015-06-16 02:36] woonsan commented on #44
pull requested: https://github.com/katharsis-project/katharsis-core/pull/45

[2015-06-16 19:11] poznachowski commented on #44
We introduced an approach of exception mappers, very similiar as in JAX-RS, but made them JSON:API specific (via @ExceptionMapperProvider and JsonApiExceptionMapper implementations) I will put some usage docs pretty soon @ katharsis.io documentation. However, the ErrorResponseSerializer gives user more options how to handle errors. I will go through the changes and get back to you.

[2015-06-16 19:21] poznachowski opened #46 "Accomodate changes to error object to comply JSON:API 1.0"

[2015-06-16 21:22] poznachowski commented on #44
Indeed, we were missing the ErrorResponse serializer. Thanks!
I need to add an integration test for that as well.

[2015-06-17 08:03] #44 closed

[2015-06-17 18:53] #46 closed

[2015-06-18 09:04] jbadeau opened #48 "java 1.7 support"
Do you plan to support java 1.7?

[2015-06-18 09:42] meshuga commented on #48
Java 1.7 reached its end of public updates (http://www.oracle.com/technetwork/java/eol-135779.html), so we won't support it.

[2015-06-20 12:23] masterspambot opened #49 "Allow prefixing the JSON API requests"
Currently all of the requests to the katharsis have to begin with a resource type e.g. `http:/localhost:8080/projects/1`.
It should be possible to add a prefix before a resource type so requests like `http:/localhost:8080/some_prefix/projects/1` could be acceptable.

[2015-06-30 12:31] geoffreyd commented on #32
We've started to use Katharsis with an Ember app. Now that Ember-Data 1.13 is out, they have aligned with the [JSON API 1.0 Spec](http://jsonapi.org/format/), but there seems to be some differences in what it's expecting, and what katharsis is rendering.

The 2 places that we've noticed are that the `self` and `related` properties should be inside a [`links` object](http://jsonapi.org/format/#docu

[2015-06-30 16:51] miguelcobain commented on #32
@geoffreyd Thank you for your report!

Is Katharsis rendering something that isn't following the spec or is Ember Data the culprit?
I assume that Ember Data is closely following the conventions, but I just asked to make this clear.

[2015-06-30 19:05] meshuga commented on #32
@geoffreyd Thanks! Apparently the katharsis doesn't have that implemented correctly. I'll try to fix that probably this weekend.

[2015-07-02 22:23] geoffreyd commented on #32
@miguelcobain Yeah, it's Katharsis not matching the spec (any more), There were a lot of changes to the spec leading upto 1.0, so, I'm sure Katharsis was compliment, and the spec moved under you.

I've linked to the relevant parts of the spec in my previous post.

@meshuga Thank you! That would be great.

[2015-07-06 20:56] meshuga opened #50 "Fix incompatibilities to JSON API links definition"
Katharsis has implemented obsolete way of representing links including:
- Link to `self` is not placed in `links` field but in `relationships`
- Relationship's `self` and `related` addresses should be inside of `links` object
- `linkage` object should be named `data`
- When sending information to the framework relationship's `type` and `id` should be in `data` object

[2015-07-06 21:51] #50 closed

[2015-07-06 21:54] meshuga commented on #32
https://github.com/katharsis-project/katharsis-core/issues/50

[2015-07-14 14:35] sital33 opened #52 "Relationships object has incorrect format."
The relationships attribute is essentially outputting the parent object. It also prints the class information for the objects. See the following example. The relationships block should only contain the markets, and not the user object's attributes. Also the relationshipFields attribute should not printed.

In looking at the code, I think issue is that the writeRelationshipFields method in the Cont

[2015-07-14 14:46] sital33 opened #53 "Enhancement: data repository classes should be optional for registry initialization"
For my project I would like to use the katharsis-core library to marshall/unmarshall JSON to Java objects and vice versa, but I do not need the katharsis library to do anything more than that. I have working example of the marshalling of Java objects to JSON (using Spring and CXF). I do not need katharsis to perform CRUD operations against the data source, but I am required to create ResourceRepos

[2015-07-14 15:06] sital33 commented on #52
Sorry, I think I need to investigate this further on my own. I just reran your example, and I see that yours does not have the same issue. There is nothing obviously different from my case. I will continue to look into this.

[2015-07-14 16:23] #52 closed

[2015-07-14 19:44] meshuga commented on #53
Just remember that JSON API is not only about data representation - it also defines operations and that's what motivated us to create this framework. Lately I've been thinking about a set of classes which will allow marshalling/unmarshalling of the body requests to objects but without binding to concrete resources. It would be useful for custom requests like login. But it would need tighter integr

[2015-07-14 19:58] masterspambot opened #54 "SpringBoot adapter analysis"

[2015-07-14 20:13] sital33 commented on #53
Thanks for the responses. I'm not entirely following the issues with the JAX-RS limitations, so I thought I should explain my case in a little more detail.

My intention is to provide the appropriate CRUD REST endpoints using the CXF framework, i.e. without the Katharsis library.So while JSON API may define operations, I thought it would be possible for me to implement those operations while using

[2015-07-14 21:01] meshuga commented on #53
yeahh, I suppose you just wrapped your data into internal classes e.g. ResourceResponse?
Hmmm... Although it's unintended functionality it should work without any bigger problems because there is no more calls to the repository classes.
But for unmarshalling it won't be so easy. You could try io.katharsis.request.dto.RequestBody but it' gonna be painful.

[2015-07-14 21:06] meshuga opened #55 "Add custom methods for resources"
Add custom methods to the methods. More information how to do that: https://github.com/json-api/json-api/issues/745, https://github.com/json-api/json-api/issues/684

[2015-07-14 21:36] #55 closed

[2015-07-14 22:03] sital33 commented on #53
Well, my REST service methods return data objects, so that is pretty clean. I wrote a marshaller (which implements javax.ws.rs.ext.MessageBodyWriter) and registered it as a jaxrs provider.The marshaller then wraps the data object into ResourceResponse class. (Yes, I need to handle the CollectionResponse as well.)

I am going to try unmarshalling next. Based on your comment, I guess that is going t

[2015-07-18 05:20] jackmatt2 commented on #37
:+1: I need this also

[2015-07-18 08:03] jackmatt2 commented on #54
@masterspambot does this mean katharsis will soon support [spring-boot](http://projects.spring.io/spring-boot/)?  I have been trying to integrate it into spring controllers but have not been successful thus far.

[2015-07-19 20:36] poznachowski commented on #54
It's on our plate. But can't say when 'soon' will happen.

[2015-07-20 00:20] russap commented on #37
This would be awesome!! :+1:

[2015-07-23 17:18] meshuga opened #56 "Improve katharsis-core method matching"
It should be possible for adapters like katharsis-rs to find out if no matching method had been found e.g. create new exception `MethodNotFoundException`.
It can allow more sophisticated method matching.

[2015-07-25 14:15] #56 closed

[2015-07-27 19:13] JliptonRTR commented on #7
Hey, has any progress been made here? I would love to be able to write to the meta field on a call to a repository function. My particular use case is defining the schema returned by a findAll.

[2015-07-28 22:12] JliptonRTR commented on #35
Any way we can get support for JsonUnwrapped?

[2015-07-29 13:27] marrrschine opened #57 "Define complex data attributes"
Is it possible to declare complex data structures (JSON objects) and arrays as attribute values for resource types / models? If so could you please give me an example?
(see http://jsonapi.org/format/#document-resource-object-attributes)

Thanks a lot!

[2015-07-30 15:25] nevson opened #58 "How to add a custom data store"
Hi, currently I'm trying to add a custom data store to the [jersey-example](https://github.com/katharsis-project/katharsis-examples/tree/master/jersey-example). I've tried to get some inspiration from the dropwizard-mongo-example but somehow I felt a bit lost when having a look on the [DropwizardService.java](https://github.com/katharsis-project/katharsis-examples/blob/master/dropwizard-mongo-exam

[2015-07-30 19:37] meshuga commented on #58
That's relatively simple. dropwizard-mongo-example uses Guice to provide DI. So, if you want to use it, there's lots you can find about it on the web e.g. on the dropwizard-guice bundle github page - https://github.com/HubSpot/dropwizard-guice.

But of course you can use any DI you want like Weld (https://github.com/katharsis-project/katharsis-examples/blob/master/wildfly-example/src/main/java/io/

[2015-07-30 19:47] meshuga commented on #57
All of the values in the fields are passed directly to Jackson. You can take a look at the example https://github.com/katharsis-project/katharsis-examples/blob/master/wildfly-example/src/main/java/io/katharsis/example/wildfly/model/User.java#L27.
I know that's not so complex structure, just a list of strings, but in a similar manner you can put your own objects and even add custom (de)serializers

[2015-07-30 19:47] #57 closed

[2015-07-30 19:57] meshuga commented on #49
It will be implemented shortly, but as for now the only way for `katharsis-rs` is to split the application into two and for one add custom annotation:
[code]

[2015-07-30 20:23] #12 closed

[2015-07-30 20:56] nevson commented on #58
@meshuga Awesome, thanks a lot for your detailed answer! I'll give it tomorrow a try. Btw. the wildfly example seems to be the most advanced one. Would you recommend the wildfly solution over the jersey or plain dropwizard one?

[2015-07-30 22:01] meshuga commented on #58
That's a tricky question ;)
For beginners I would recommend Dropwizard.

[2015-07-30 22:01] #58 closed

[2015-07-31 20:24] meshuga commented on #7
Yeah, that might be a good thing, providing meta information per repository/model. I think the next version will support it :)

[2015-07-31 20:25] meshuga commented on #23
that sucks...

[2015-07-31 20:25] #23 closed

[2015-08-03 19:32] meshuga commented on #49
Resolved in https://github.com/katharsis-project/katharsis-rs/commit/864a4c173beaeaa59cb2a81b8c025e06335b0869

[2015-08-03 19:32] #49 closed

[2015-08-03 22:44] SitalAtDominos commented on #53
Hello @meshuga ,

I am sending this comment from my work user account (rather than the personal user account with which I opened this issue).

I was diverted by another assignment, but I did return to the task of unmarshalling the JSON to objects. So far so good.

I created a class that implements implements MessageBodyReader<Object>. I do need to use a "relationship repository" class just to add

[2015-08-04 18:20] meshuga opened #59 "Fix deserialization for insert/update operations"
Currently BeanUtils are used to deserialize properties of a class - https://github.com/katharsis-project/katharsis-core/blob/development/src/main/java/io/katharsis/dispatcher/controller/resource/ResourceUpsert.java#L37

It should be made using Jackson.

[2015-08-05 19:14] SitalAtDominos commented on #7
:+1:

[2015-08-10 18:10] #59 closed

[2015-08-12 19:18] meshuga opened #62 "Paths containing fields are not properly parsed"
A path is not properly parsed when a field's name is as same as a resource type.

Test case:
* there is a resource type `tasks` and `projects`
* tasks contain field `projects`
* the following path is going to be parsed: `/tasks/1/projects`

[2015-08-12 19:31] #62 closed

[2015-08-13 01:00] utnas commented on #37
Hi @meshuga can you gine more details about this feature ?

[2015-08-13 15:16] nevson opened #64 "Mixed collection as relationship"
I'd like to know if it's possible to define relationships that are holding mixed collections. I'm asking because I've the following use-case:

There are several different resource objects of type e.g. `items-abc`, `items-xyz`, ... which all have a `name` attribute in common. Now there is also a resource object of type `itemgroups` which has a `items` relationship which should be a collection of `i

[2015-08-13 19:35] meshuga commented on #64
Well, yes, it'll work. You should just create resources class for each type. The only thing that you should take care of is how to implement inheritance.
As for now Katharsis doesn't work well with class inheritance, so you should create an interface with proper getters like `getName()`.
To perform sending resources I encourage to use `@JsonTypeInfo` Jackson annotation - http://wiki.fasterxml.com/

[2015-08-13 19:40] meshuga opened #65 "Support resource inheritance"
When performing finding of resource's fields, `ResourceInformationBuilder` class is using `Class.getDeclaredFields()` method to get fields, but it doesn't get inherited fields.
It should be possible to get fields from superclasses.

[2015-08-13 19:44] meshuga opened #66 "Support fluent setters"
`ResourceUpsert` class is using PropertyUtils which doesn't cope with fluent setters e.g.
[code]

[2015-08-13 20:01] nevson commented on #64
Awesome, thanks a lot for the quick reply! Sounds very promising, I'll give it a try. In case of this [example](https://github.com/katharsis-project/katharsis-examples/blob/master/dropwizard-mongo-example/src/main/java/io/katharsis/example/dropwizard/domain/repository/TaskToProjectRepository.java) I'd need to replace the `Project` class against a `Item` class which needs to implement an `Item` int

[2015-08-13 20:20] SitalAtDominos commented on #65
+1

I ran into this issue just today.

[2015-08-14 13:33] nevson opened #67 "Support for Java 7"
For my target environment sadly Java 8 isn't available yet but Katharsis depends on Java 8 as is uses some new features like `::`. Also the license model starting from Java 8 has changes so that you've to pay now license fees in case of commercial products. Is there any chance that Katharsis will support also Java 7?

[2015-08-14 13:44] sglanzer commented on #67
This would also help me a lot

[2015-08-14 20:25] meshuga opened #68 "Add a JSON API client for Java"
There's no client for JSON API in Java as for now.

[2015-08-14 20:26] meshuga commented on #54
https://github.com/woonsan/katharsis-servlet can be used to integrate Katharsis with Spring.

[2015-08-14 20:36] meshuga opened #69 "Add SLF4J support"
Add a logger support for Katharsis for internal logging using SLF4J

[2015-08-16 10:12] danielmischler opened #70 "Support annotations search"
Having a backend using classes that can't be annotated with katharsis annotations it would be helpful to have the ability to use wrapper classes with just accessor methods. E.g. for an event:
...
@JsonApiId
public String getId() {
    return this.event.getId();
}
...
@JasonApiToOne
public Organization getOrganization() {
    return this.event.getOrganization();
}
...
pubic String getDate() {
    r

[2015-08-16 19:21] meshuga commented on #70
Hi, I've changed the title of the issue to support Javabeans, that is support annotations search on mutators.

[2015-08-17 15:04] #66 closed

[2015-08-17 17:54] meshuga commented on #67
clone of #48
As for now I don't want to spend time to support Java 7. You could try https://github.com/orfjackal/retrolambda with http://mvnrepository.com/artifact/net.sourceforge.streamsupport/streamsupport to make Java 7-compatible packages.

[2015-08-17 19:18] #65 closed

[2015-08-17 20:26] sglanzer commented on #67
Sounds reasonable, thanks for the reply

[2015-08-17 20:35] #69 closed

[2015-08-19 17:48] corrspt opened #74 "Using ObjectMapper as a standalone"
Hey, first of all I'd like to thank you guys for the effort on the Library.

I'm playing with a Play Framework app (Play 2.4.2). And I was trying to integrate Katharsis (0.9.3) with it but I can't seem to figure the way I should do it from the examples.

In that sense I thought that maybe I could just use whatever you guys do with the Jackson library to get the behavior I want as a standalone. I'v

[2015-08-20 07:36] danielmischler opened #75 "Accessor method called twice with @JsonApiToOne and @JsonApiIncludeByDefault"
I have the situation where I do some processing in an accessor method for a field annotated with
@JsonApiToOne and @JsonApiIncludeByDefault.

The appropriate accessor method is now called twice i.e. doubling the processing time.

The behavior can be reproduced by adding the following to Task.java of the jersey-example

[code]

Is this a bug or required behavior?

[2015-08-20 16:50] meshuga commented on #75
This is desired behavior. The first time it's called to get the relationship resource and the second to get information about the resource to be included.

[2015-08-20 18:49] #75 closed

[2015-08-20 18:55] meshuga commented on #53
Ok. I'll create a default repository which will be assigned to each resource and relationship if none of them will be found. Each method will throw an exception which will derive from https://github.com/katharsis-project/katharsis-core/blob/development/src%2Fmain%2Fjava%2Fio%2Fkatharsis%2Ferrorhandling%2Fexception%2FKatharsisMatchingException.java to make some eventual handling by custom handlers

[2015-08-20 18:59] SitalAtDominos commented on #53
Thanks! :-)

[2015-08-20 19:05] #67 closed

[2015-08-20 19:28] #39 closed

[2015-08-20 21:39] meshuga commented on #74
1. It would be possible to hide `links` section, but I don't think it's something crucial ;)
2. But what in case of inclusion of elements, that is you want to include some other resources? I think that the example you showed is the most elegant way as for now.
3. https://github.com/katharsis-project/katharsis-core/issues/53 0.9.4 should handle it
4. I've played with Play framework for too short to

[2015-08-20 22:26] #32 closed

[2015-08-21 12:31] danielmischler commented on #70
I tried to clean out the private fields in my event class and annotate the getter methods.
Now I get the following errors:

[code]

Am I missing something here?

[2015-08-21 15:24] sital33 commented on #53
@meshuga
This fix does not work as expected. I have relationship repositories but not resource repositories. I use the relationship repositories for POST and PATCH requests to populate the related objects on my resource object. Anyway, my application starts up without errors with your fix, but it doesn't seem to be scanning for relationship repositories, and so the relationshipRepositories array i

[2015-08-21 15:32] elennick commented on #74
@corrspt we have a basic implementation of katharsis in our Play 2.4.2 application. What we did is create a builder around the katharsis stuff that let you say something like this in a controller:

[code]

You can create a route that does wildcard matching to a controller method to catch everything that routes to a certain base url like this:

[code]

Anyhow if you use the code you already posted

[2015-08-21 16:19] corrspt commented on #74
@meshuga

Thanks for replying. For the record I'm trying out Katharsis with EmberJS and Ember Data (and Play as backend)

1) I might have jumped to soon with that question about links (as I don't know the JSONAPI format very well) you are probably right that they should be there.
2) I'm not entirely sure I understood what you said with "what about including other resources". Sorry
3) Cool, thanks!

[2015-08-21 17:02] meshuga commented on #74
2. I mean http://jsonapi.org/format/#document-compound-documents and http://jsonapi.org/format/#fetching-includes - you can specify to add custom resources
3. See https://github.com/katharsis-project/katharsis-core/issues/70 :)
I think soon version 0.9.4 should be released, but first I'd like to close https://github.com/katharsis-project/katharsis-core/issues/53

[2015-08-21 17:03] meshuga commented on #53
ok, I'll fix that

[2015-08-21 17:08] elennick commented on #74
@corrspt if you use the wildcard mechanism above and pass the correct resource from the url to the katharsis request dispatcher, you should only ever have to write that one controller and never another ever again... katharsis repositories essentially become your controller layer in place of a Play controller and resources essentially become binders that define your response format

[2015-08-21 19:03] meshuga commented on #70
https://github.com/katharsis-project/katharsis-core/blob/development/src%2Fmain%2Fjava%2Fio%2Fkatharsis%2Futils%2FPropertyUtils.java should be refactored to support getter/setter only fields and https://github.com/katharsis-project/katharsis-core/blob/development/src%2Fmain%2Fjava%2Fio%2Fkatharsis%2Fresource%2FResourceFieldNameTransformer.java

[2015-08-24 09:48] corrspt commented on #74
@meshuga Thanks a lot for the comments, really looking forward for issues #70 and #53 to be closed :)

@elennick - I see what you mean. I'm going to need #70 to be closed, but I'll explore that solution. Thanks!

[2015-08-24 16:29] elennick commented on #7
just wanted to check in... any progress on this? we have run into a few cases in the past few days where we want to use the meta field with katharsis... thanks!

[2015-08-24 18:44] #53 closed

[2015-08-24 18:55] meshuga commented on #7
I have some idea to create an optional interface like
[code]
which could be implemented along with ResourceRepository and if a repository implements that interface, after each create, read or update operation, a call to one of those methods will be made, but I don't know if it could be a suitable solution for most of the usages. @elennick @SitalAtDominos What do you think?

[2015-08-24 22:10] #70 closed

[2015-08-25 16:04] elennick commented on #7
@meshuga seems reasonable... id be ok with just having

[code]

...and still using that method with an iterable with only 1 resource in it if there is only one... will make things a bit less cluttered.

What do you envision the MetaInformation object would be designed? Similar to how resource objects are defined?

[2015-08-25 19:09] meshuga commented on #7
No, it'll be an interface without any method.

[2015-08-25 20:36] meshuga commented on #7
I created two interfaces (`MetaRepository` and `ResourceMetaRepository`). Tomorrow I'll finish it.

[2015-08-26 08:08] danielmischler commented on #70
Hi Patryk

Is the appropriate snapshot already pushed? I don’t seem to be able to update to the new code.

Thanks for your help (and the great project :-)

Daniel

[2015-08-26 19:14] meshuga commented on #70
Try now. There was a problem with Javadocs.

[2015-08-26 20:15] danielmischler commented on #70
Hi Patryk

Yup, fetching the snapshot worked and also the removal of the fields. Great work!!!

Thanks a lot

Daniel

[2015-08-27 19:06] meshuga opened #78 "Add an example how to implement inheritance"
https://github.com/katharsis-project/katharsis-core/issues/64
An example project should be created in https://github.com/katharsis-project/katharsis-examples to show an example of inheritance within Katharsis.

[2015-08-27 19:06] meshuga commented on #64
https://github.com/katharsis-project/katharsis-core/issues/78

[2015-08-27 19:06] #64 closed

[2015-08-27 20:17] danielmischler opened #79 "Nested @JsonApiIncludeByDefault"
It would be great to have the ability to nest @JsonApiIncludeByDefault.
E.g. I have an organization, events and setups that need to be handled in one json response.

Organization:
[code]

Event:
[code]

If I'm not mistaken I need to add something like the following to the organization in order to have it added to the json:
[code]

Is there another way to handle this kind of situations?

[2015-08-28 07:53] sweco-semtne opened #80 "Support for client generated id:s"
It would be great if katharsis would support client generated ids as per http://jsonapi.org/format/#crud-creating-client-ids.

[2015-08-28 07:56] sweco-semtne opened #81 "dropwizard-simple-sample only return 500 internal server when there are problems creating a resource"
This maybe isn't related to katharsis-core but it seems that the only error that is being returned to the client when trying to create a new resource is a 500 internal server error.

[2015-08-29 12:01] meshuga commented on #81
Using Katharsis you can create a mapper which will implement `JsonApiExceptionMapper<RuntimeException>` that will map unexpected exceptions to JSON API error responses.
You can take a look at http://katharsis.io/docs in **Error Handling** section.

[2015-08-29 12:01] #81 closed

[2015-08-30 12:56] #54 closed

[2015-08-30 13:47] #36 closed

[2015-08-30 14:13] #7 closed

[2015-08-30 14:31] #43 closed

[2015-09-02 19:06] meshuga opened #85 "Allow inheritance in resource methods"
The current implementation of inheritance doesn't allow creating inherited resources
It should be possible to operate on inherited resources on parent methods.

[2015-09-07 19:55] #29 closed

[2015-09-07 19:56] #74 closed

[2015-09-07 20:20] #68 closed

[2015-09-08 19:54] #37 closed

[2015-09-22 15:52] joewhite101 opened #87 "Data field of relationships always null or empty"
When a relationship is returned the data : {} embedded in the relationship object is always null or empty. It should contain an id and a type. For example using this example:
`https://github.com/katharsis-project/katharsis-examples/tree/master/spring-boot-simple-example`

A call to this URL `http://localhost:8080/tasks`

Returns this relationship:

    relationships": {
        "project": {

[2015-09-22 16:55] joewhite101 opened #88 "Include parameter not working on spring-simple example and in all other cases"
I'm looking into using Katharsis to generate jsonapi.org compliant endpoints. Does the include parameter work? I'm running the example here:
https://github.com/katharsis-project/katharsis-examples/tree/master/spring-boot-simple-example

Publishing to this endpoint (encoded) with these parameters:
http://localhost:8080/tasks?include=["project"]

And it isn't inflating the "project" parameter into t

[2015-09-23 16:38] joewhite101 commented on #88
This was a misunderstanding on my part about the example project. The task didn't include a reference to a project so it didn't have anything to inflate.

It may be preferable to have the example include a reference to the project. If so let me know and I'll create a pull request.

[2015-09-24 21:38] woonsan commented on #88
@joewhite101 PR would be great! :)

[2015-09-28 08:22] corrspt opened #89 "Metadata - Paging Information"
Hi,

I'm trying to create use the Datatables plugins to create a grid (with sorting, filtering, pagination).
The plugin expects the response with meta-information about the number of records (to create the pagination widget).

I'm currently implementing the MetaRepository interface in my Repository to do this, but there's a problem... I don't get the request parameters in the getMetaInformation me

[2015-09-28 08:33] corrspt commented on #89
I do understand that that method is used for any request (a findAll, a save, a delete) and that you probably intended to write metainformation about the requested resources (hence you pass those resources as an argument).

I'm still starting this app (I've bothered you guys about integration with the Playframework before - I've hacked a solution for that, not pretty but it works for now), so I'm n

[2015-09-29 11:44] meshuga commented on #87
Well, `spring-boot-simple-example` just shows how to integrate Spring with Katharsis. There's no repository logic implemented - https://github.com/katharsis-project/katharsis-examples/blob/master/spring-boot-simple-example/src/main/java/io/katharsis/example/springboot/simple/domain/repository/TaskToProjectRepository.java

But it should work as long as you implemented resource repositories and a re

[2015-09-29 11:57] meshuga commented on #89
http://jsonapi.org/format/#fetching-pagination - have you seen that pagination information should be included in `links` field?
I'll add the second parameter to `MetaRepository` and create `LinksRepository` for `links` field.

[2015-09-29 13:33] meshuga opened #91 "Add ability to hide to-many relationships"
When showing a resource, it should be possible to hide to-many relationships.
See: https://github.com/katharsis-project/katharsis-servlet/issues/5#issuecomment-138805408

[2015-09-29 13:36] #89 closed

[2015-09-29 19:37] zachncst opened #92 "ExceptionMapper Not Found With CSV Search Path"
Having a CSV search path makes the ExceptionMappers defined with @ExceptionMapperProvider annotation not be found.

[2015-09-29 23:38] #79 closed

[2015-09-29 23:39] #92 closed

[2015-10-01 10:02] corrspt opened #95 "Saving a Entity with a Relationship in one step, how to"
Hey guys,

I'm wanted to ask how I should do this:

I have a model PositionAPI which has a relation to a model IndustryCodeAPI through field `industryCode`, which is required (meaning the database has a *not null* constraint in the industry_code_id column)
I want to save my PositionAPI with a reference to the IndustryCodeAPI, but I get an error from the database that industry_code_id is null. I've

[2015-10-01 11:46] #85 closed

[2015-10-01 11:47] meshuga commented on #95
The resource creation mechanism first save the resource, then, using `RelationshipRepository`, it sets up the relationships. Thanks for the case, it would be more suitable to just build the desired object with relations and then save it.

[2015-10-01 12:11] corrspt commented on #95
Thanks for the quick reply @meshuga

I'm not quite sure if I understood what you said with `it would be more suitable to just build the desired object with relations and then save it.`. Are you talking on my end or on the katharsis end?

If it's on my end, how would I be able to setup the relations before the object is saved?

[2015-10-01 12:25] meshuga commented on #95
I meant on Katharsis level.

[2015-10-01 12:31] corrspt commented on #95
Oh, ok. Can I do anything to help?

At the moment I'll workaround the issue by removing my constraints and saving each time on the setRelation method! Thanks again for the very quick reply. An awesome project you guys have here!

On a side-note (if you want I can make a separate issue), may I trouble you to look at my "getJsonAPI" method and tell me if there are things there that are wrong? Things

[2015-10-01 14:20] meshuga commented on #95
Why your method doesn't catch possible exceptions?

[2015-10-01 16:48] corrspt commented on #95
Well, I thought that all exceptions had to be handled through Katharsis itself (with the ExceptionMappers). At least those regarding the my JSONAPI

What I've been doing is registering those Mappers for the various exceptions I've been getting (I'm at the early beginning of my app). I only have two mappers at the moment, but I believe they'll grow.

I am thinking incorrectly here?

[2015-10-01 18:44] meshuga commented on #95
Take a look at `dispatchRequest` method in `KatharsisFilter` class in `katharsis-rs` https://github.com/katharsis-project/katharsis-rs/blob/development/src/main/java/io/katharsis/rs/KatharsisFilter.java#L82
For example, a `KatharsisMatchingException` can be thrown when Katharsis won't be able to parse the message. In that case you should return 404 message. Additionally, it's possible for Katharsi

[2015-10-01 18:47] corrspt commented on #95
Hum, thanks a lot for the tip. I'll look into that file carefully by tomorrow! :+1:

[2015-10-01 20:49] #95 closed

[2015-10-02 08:24] corrspt commented on #95
Hey @meshuga, first of all thanks a lot for the commits that fix this issue.

I would like to add though that the [ResourcePatch class suffers from the same problem] (https://github.com/katharsis-project/katharsis-core/blob/740d0aef423c55feeaa0ce0e247dfc0023406901/src/main/java/io/katharsis/dispatcher/controller/resource/ResourcePatch.java#L67-L68). If I could trouble you to fix this as well it wo

[2015-10-02 12:49] meshuga commented on #95
You made me think about RelationshipRepository. I did that to make use of those types of repos, but even for me the mechanism of repos is not intuitive. I'll create a new issue to address that.

[2015-10-02 13:54] corrspt commented on #95
I've only implemented one RelationshipRepository so far.

I'm just beginning my app, but I envision that I will need *lots* of them as I have some entities that have relationships with lots of other entities. I don't have a good suggestion to give, but if something comes to mind, I'll try to contribute on that issue.

Thanks again @meshuga

[2015-10-02 15:39] meshuga opened #99 "Make RelationshipRepository optional"
RelationshipRepository should be optional to allow operations on `entity/{id}/relationship/name` and `entity/{id}/name` paths.

[2015-10-02 15:40] meshuga commented on #95
https://github.com/katharsis-project/katharsis-core/issues/99

[2015-10-02 21:21] zachncst opened #100 "Model Body Responses Not Up to JSON-api spec 1.0"
Models are being returned from katharsis missing the type, id and parameters objects under data. In it's place is just a data object with key-value pairs.

What is being returned:
[code]

What I expect (http://jsonapi.org/format/):
[code]

[2015-10-03 07:52] meshuga commented on #100
It seems like there are no Jackson serializers registered.

[2015-10-04 12:05] meshuga opened #101 "Allow injection of resources"
Currently the resources are added by searching passed package name. It should be possible to also support manual passing of resources at initialization time.

[2015-10-04 16:21] bquenin opened #102 "Feature request: Add an authentication context (or user param) to repository interfaces"
Hi,

I'm using katharsis with ratpack and after a few tweaks, it works like a charm.
However, I'm facing an issue with authentication. I have authentication support in my API and I'd like to forward the authenticated user down to the repository level (`ResourceRepository`) in order constrain the database access (create, read, update, delete). Indeed, I want to make sure that the "requester" has th

[2015-10-05 06:21] Sandmania commented on #101
In Jersey, both ```ResourceConfig#register(final Class<?> componentClass)``` and ```ResourceConfig#register(final Object component)``` should be allowed.

[2015-10-07 23:08] meshuga opened #103 "Injection of custom resource parameters"
It should be possible to inject additional method parameters using a service locator with request context. It means that it will be possible to inject e.g. authentication context.
An example of a method:
[code]
Note that there's no `@Override` annotation. Some code to access a concrete method need to be implemented. Additionally, there's no `RequestParams requestParams` parameter. It should be an

[2015-10-07 23:11] meshuga commented on #102
Thanks for the issue. I've been thinking about it for some time and created a new issue that could help you doing that: #103.
I close the issue and hope I'll implement this feature, looks like a big challenge :D

[2015-10-07 23:11] #102 closed

[2015-10-08 09:23] corrspt opened #104 "Updating an entity and setting a relation to null"
Hi, me again :)

I'm trying to update and entity and remove a relation that it previously had (make it null). Using Katharsis 1.0.0 with EmberJS 2.0 + Ember DATA 2.0 (supposed to be JSONAPI compliant.

I do something like this in my javascript code:

[code]
This is the JSON sent by EmberData when I save my model

[code]

What I get is this stack trace
[code]

Debugging the issue I see that in the

[2015-10-08 10:55] tuomole commented on #104
I'm also using Ember with Katharsis, and noticed the same thing with `io.katharsis.dispatcher.controller.resource.ResourcePost`. If I try to save null to a property, Katharsis throws `NullPointerException`:

[code]

[2015-10-08 18:00] bquenin commented on #103
For your information, I managed to inject my authentication context using Guice without modifying the katharsis interfaces.
I'm using ratpack and here is the thread discussing the solution on how to achieve this (with ratpack): http://forum.ratpack.io/Injecting-context-into-a-quot-service-quot-td1300.html

[2015-10-08 19:21] #99 closed

[2015-10-08 19:43] #104 closed

[2015-10-08 19:44] meshuga commented on #104
Thanks for the info!
Should work now

[2015-10-08 19:54] corrspt commented on #104
@meshuga. Thanks for all the hard work you and the rest of the guys put on this great project. Truly thanks for the very quick replies and fixes you guys are making. This project is looking good and I'll continue and report any issues I find.

If there's any other way I can be of help, please let me know.

Best regards

[2015-10-09 17:30] #100 closed

[2015-10-09 23:24] zachncst commented on #100
Just to clear it up, we're using the Katharsis-Servlet which provides an object mapper override. This is with the assumption that any object mappers that Katharsis needs to work would be registered to the component. This does not happen. For now I've just removed my object mapper and this seems to fix it.

[2015-10-10 18:11] #87 closed

[2015-10-11 09:56] danielmischler opened #107 "Add handling of jackson's PropertyNamingStrategy"
Katharsis should be able to deal with a property naming strategy provided via the ObjectMapper.
This way it would be easier to implement a new strategy, e.g. dash-case.

ContainerSerializer seems to bypass the default jackson handling.

[2015-10-11 09:59] #78 closed

[2015-10-13 22:43] meshuga commented on #103
@bquenin Thanks for the solution for ratpack.
I have an idea of creating a set of annotations that can be used to define repository methods: https://github.com/katharsis-project/katharsis-core/tree/katharsis-core-103/src/main/java/io/katharsis/repository/annotations

Introduction of those annotations will break the ResourceRepository interface definition (one method is removed), so I think the nex

[2015-10-14 09:01] valimaggi commented on #104
Is this fix coming to Maven repository soon? Thank you.

[2015-10-14 11:27] corrspt commented on #104
I also am interested in a maven push of this fix. As I'm deploying to heroku it makes it much easier to have the updates on maven. On the other side I understand that you guys may not want to push every fix as a new release... any recommendations on this situation? Do I pull the code locally and build locally and then add the jar to my project?

Thanks!

[2015-10-14 11:35] corrspt commented on #103
@meshuga Are you thinking of the same route for Relationships? Using annotations to mark the methods? (It would reduce the number of files needed).

[2015-10-14 17:42] meshuga commented on #104
hmmm, ok,
I'll publish version 1.0.1

[2015-10-14 18:22] meshuga commented on #103
Yes, but first I'd like to implement it for Repository to gain some oversight for the solution :)

[2015-10-14 20:13] zachncst opened #108 "Feature Request: Include Should Automatically Fetch a Relationship"
Problem
When an include is provided as a parameter if the model isn't created with all include relationships then the GET will return without having included data.

It would be easy to add a relationship fetcher that uses the repositories to automatically load any included relationships.

[2015-10-15 09:17] valimaggi commented on #104
@meshuga This is great, thank you!

[2015-10-15 09:43] broglep-koubachi opened #110 "Motivations on why you deviate form the JSON API standard for request parameters"
On the website there is a note
[code]
Can you elaborate more on the request string length limitations?
From what I can tell using JSON to encode request parameters inside the URL does not save much space. So that little saving imho does not justify a deviation from the standard.
If this JSON encoding is really needed in some special cases, it should rather be an opt-in feature than the default.

N

[2015-10-15 09:50] broglep-koubachi commented on #29
@masterspambot Any comments on why this was considered wont fix?
Is it considered to be outside of the scope of this library?

[2015-10-15 17:13] barabanger opened #111 "RelationshipExtractor::getElemets() ignores @JsonApiToXXX and @JsonProperty annotations"
RelationshipExtractor fails when getting elements (inside getElements()) by assuming that object has a field named the same way as a relationship and ignoring @JsonApiToXXX and @JsonProperty annotations to get actual field or method named associated with this relationship.

[2015-10-15 18:59] #111 closed

[2015-10-15 22:18] masterspambot opened #113 "Create RelationshipRepository Annotations"
Enable to either implement RelationshipRepository interface or use annotations:
- `@JsonApiSetRelation`
- `@JsonApiSetRelations`
- `@JsonApiAddRelations`
- `@JsonApiRemoveRelations`
- `@JsonApiFindOneTarget`
- `@JsonApiFindManyTargets`

Blocker : #103

[2015-10-15 22:23] masterspambot opened #114 "Query params deserialization"
Enabling of sending query params as mentioned in JSON:API standard.
Deprecation of JSON objects and arrays in favor of query params. :sob:

[2015-10-15 22:45] masterspambot opened #115 "Add auto-discovery of repository classes"
Add ability to auto-discover defined classes which have `@JsonApiResourceRepository` annotation.

Blocker: #103

[2015-10-15 22:48] masterspambot opened #116 "Add katharsis-spring"
Add a separate repository to allow tight integration with Spring, that is:
- Create dedicated filter based on katharsis-servlet
- Implement `RepositoryMethodParameterProvider` interface

[2015-10-15 22:57] #110 closed

[2015-10-16 16:27] collinpeters opened #117 "relationships.data not populated"
I have the following in a `User` class

    @JsonApiToMany
    @JsonApiIncludeByDefault
    private List<Group> groups;

The `groups` attribute is populated, but I do not get the `relationships.data` in the response. I get

	{
		"data": {
			"type": "users",
			"id": "aGgB1",
			"attributes": {
				"firstName": "Admin",
				"lastName": "Foo",
				<snip>
			},
			"relationships": {
				"groups": {

[2015-10-16 16:54] meshuga commented on #117
Because the ToMany relation can link to many resources, like hundreds or so, there is a lazy-fetching mechanism for reducing the amount of data to be sent.

If you want to have `data` field filled with relationships, you should have `@JsonApiToMany(lazy = false)` annotation. It isn't in the documentation, but I'll update it this weekend.

[2015-10-16 16:54] #117 closed

[2015-10-16 23:55] collinpeters commented on #117
Thanks. CC @zachncst

[2015-10-17 22:23] #103 closed

[2015-10-19 09:46] broglep-koubachi opened #119 "LinkageContainer triggering ResourceNotFoundInitializationException"
In [RelationshipsResourceGet.java:93](https://github.com/katharsis-project/katharsis-core/blob/development/src/main/java/io/katharsis/dispatcher/controller/resource/RelationshipsResourceGet.java#L93) a resource response is created using ```LinkageContainer```.
During the serialization in [ContainerSerializer.java#L60](https://github.com/katharsis-project/katharsis-core/blob/development/src/main/ja

[2015-10-19 10:00] broglep-koubachi opened #120 "Deleting to-one relationships fails with NPE"
The specified way to delete a to-one relationship by sending a ```"data":null``` (see http://jsonapi.org/format/#crud-updating-to-one-relationships) results in a NPE in [RelationshipsResourcePatch.java:L39](https://github.com/katharsis-project/katharsis-core/blob/development/src/main/java/io/katharsis/dispatcher/controller/resource/RelationshipsResourcePatch.java#L39)

[2015-10-20 00:19] simmons opened #122 "JSON Patch extension"
Do you have any thoughts on eventually supporting the proposed [JSON Patch extension](http://jsonapi.org/extensions/jsonpatch/) to JSON API? (e.g., if a PATCH request is made with `Content-Type: application/json-patch+json` or `Content-Type: application/vnd.api+json; ext=jsonpatch`.)

[2015-10-20 04:17] #122 closed

[2015-10-20 21:09] #119 closed

[2015-10-20 21:10] meshuga commented on #119
thanks for the issue!

[2015-10-21 18:45] #120 closed

[2015-10-21 18:45] meshuga commented on #120
thanks for the issue!

[2015-10-22 21:25] #113 closed

[2015-10-23 17:11] csetera opened #126 "New resource creation returns 200 (OK) rather than 201 (Created)"
Having looked at the specification (http://jsonapi.org/format/#crud-creating), I expected the return from a successful resource creation to be a 201.  Instead, I'm seeing a 200.  Looking at the code, it appears that ResourceResponse responses always return a 200.  The specification also says that the response *should* return a Location header, but I can see the full response, so at least that gets

[2015-10-24 14:21] meshuga commented on #126
Hey, that's a good point. We'll do it.

[2015-10-24 22:05] #115 closed

[2015-10-25 01:17] simmons opened #128 "Boolean property with is*() getter is misinterpreted."
When Katharsis is building a registry of resource classes, it can be thrown off by a class using a boolean property with an is*() getter method.  For example, if a class has a boolean property "enabled", and corresponding isEnabled() and setEnabled() methods, Katharsis will internally see these as two properties -- "enabled" and "nabled".

This is because the ResourceFieldNameTransformer::getName(

[2015-10-25 11:57] #128 closed

[2015-10-25 11:58] meshuga commented on #128
Thanks for the issue!

[2015-10-25 18:39] #108 closed

[2015-10-25 19:34] meshuga opened #130 "Make Katharsis asynchronous"
All of the controllers currently are synchronous it's impossible to make real use of frameworks like vertx or ratpack.

[2015-10-25 23:53] csetera opened #131 "Intermittent Resource of class not found: io.katharsis.response.LinkageContainer"
This is driving me crazy.... I'm building out a test harness for testing with and developing for Katharsis.  The test harness uses an embedded Jetty instance configured to use the katharsis-servlet support to configure Katharsis.  For resource repositories, things are working fine.  However, for relationship repositories, it seems that *most* of the time I see the attached errors, but not every ti

[2015-10-26 10:02] Sandmania commented on #131
I've encountered this same error quite a few times as well, with pretty much the same weird behaviour: when I start debugging it (say, attach a remote debugger), the problem disappears. Still haven't found a way to reliable reproduce this.

[2015-10-26 12:46] broglep-koubachi opened #132 "IncludeLookupSetter crashes with proxied entities (like hibernate)"
Using the latest development branch, setIncludedElements fails to find a declaredField in our case.
This is because we are using JPA entities which are proxied by hibernate. Thus ```resource.getClass()``` in [IncludeLookupSetter.java:L64](https://github.com/katharsis-project/katharsis-core/blob/development/src/main/java/io/katharsis/resource/include/IncludeLookupSetter.java#L64)
returning the gene

[2015-10-27 07:41] meshuga commented on #131
Could you tell if the problem occurs when doing something different that what's described in https://github.com/katharsis-project/katharsis-core/issues/119 ?

[2015-10-27 07:44] #132 closed

[2015-10-27 10:48] csetera commented on #131
This looks like the same problem, although what I still don't understand is how this can be inconsistent and intermittent?  I had hoped to look at this more last night, but did not get a chance.  I had started to wonder if this was somehow tied to classloaders.

It appears that #119 should be available on the master branch?  I can always build a local copy and try it out... although I did notice t

[2015-10-27 21:27] masterspambot opened #134 "Improve documentation"
Extend and cover missing JavaDoc documentation of library.

[2015-10-27 22:07] meshuga commented on #130
Depends on the needs.

[2015-10-27 23:06] csetera commented on #131
I can't say that I understand how this issue was intermittent, however the fix for #119 does appear to resolve this issue in my testing.

[2015-10-27 23:06] #131 closed

[2015-10-28 10:54] csetera opened #135 "Inconsistency in identifier handling in 2.0.0 code"
While testing #131 (via #119) I updated my codebase to match the changes to the ResourceRepository interface.  As part of the changes, the findAll method that accepted a list of identifiers defined as generic type "ID" was removed in favor of the identifiers inside of the RequestParams object.  That object holds a list of String objects, while my identifiers are of type Long.  However, the Relatio

[2015-10-28 19:35] meshuga commented on #135
I got rid of `findAll` method with a list of identifiers because I suspected that no one uses it plus I thought it might be better than creating a new annotation like `@FindAllWithIds`.
I agree with you, it's inconsistent and additionally breaks repository compatibility. I'll restore the method and add a new annotation.

[2015-10-28 19:44] csetera commented on #135
What would the new annotation drive?  I guess I don't have an issue with removing the method overall... but there definitely seemed to be some inconsistency that I didn't quite understand with the string identifiers in the request parameters object.

[2015-10-28 19:47] meshuga commented on #135
The identifiers are passed with the request as path parameters and the rest of the fields in `RequestParams` are query parameters + with 2.0.0 `RequestParams` will be renamed to `QueryParams`

[2015-10-29 01:51] zachncst commented on #130
This is a great idea, I'd love to look more into this.

[2015-10-29 09:21] broglep-koubachi opened #136 "Inherit annotations like @JsonApiId?"
It would be good if annotations could be inherited. In our particular case we have a base class that defines common things like the id. Instead of inheriting a similar solution to https://docs.oracle.com/javaee/5/api/javax/persistence/MappedSuperclass.html could be useful.

[2015-10-29 15:53] broglep-koubachi commented on #136
Nevermind, I think it is working as it should, but the @JsonApiIId annotation must be present at the field but not the method

[2015-10-29 15:53] #136 closed

[2015-10-29 16:04] broglep-koubachi opened #137 "Many To Many Linkage Container Serialization Issue"
We have a many to many relationship (both sides have ```JsonApiToMany```)
When retrieving a relationship, we get the following response
[code]
No attributes and relationships are serialized

[2015-10-29 16:09] broglep-koubachi commented on #137
Whoops, I've mistaken `http://localhost:8080/object/412/relationships/origins` for `http://localhost:8080/object/412/origins`
Everything works as expected :+1:

[2015-10-29 16:09] #137 closed

[2015-10-29 19:41] #126 closed

[2015-10-29 20:14] #135 closed

[2015-10-29 23:04] masterspambot opened #140 "Refactor resource inclusion to adapt to new query params strategy"

[2015-10-29 23:15] #114 closed

[2015-10-30 00:06] csetera opened #142 "Intermittent 400 response when POSTing new relationship"
I need to do more work to debug this one and try to better pinpoint it, but I believe I've found another intermittent issue in the 2.0.0 SNAPSHOT code (updated my local code about an hour ago).  I've set a breakpoint in the addRelations method of the specific relationship repository, as I'm working to build that functionality out.  Unfortunately, it seems that I'm only hitting that breakpoint ever

[2015-10-30 00:20] csetera commented on #142
Found the request dispatcher and set a breakpoint in the exception handler and see this:
[code]

However, my reading of the JSON:API spec is that I'm allowed to send multiple relationships in my POST.  Even stranger is that this is (yet again) an intermittent failure... although it fails more often than it completes.

[2015-10-30 00:34] csetera commented on #142
One final update for now.  I now see that when it fails, it is selecting the the FieldResourcePost controller rather than the relationship controller.  My assumption is that this is something related to the order of the controllers registered in the controller registry versus the "isAcceptable" method response.  Is the FieldResourcePost returning true for isAcceptable when it shouldn't be?

[2015-10-30 16:22] csetera commented on #142
My last theory appears to be correct.  I'm attaching a patch for a change that fixes it locally for me.  However, I don't know if there is a better way to do this.  I also apologize that I didn't have the time to do a fork/pull for this change.  If that is something you need me to do, I can do it this weekend.

[2015-10-30 16:23] csetera commented on #142
ugh... wouldn't let me attach... clearly I should be doing a fork/pull request... but...
[code]

[2015-10-31 18:32] meshuga commented on #142
Thanks @csetera !
`RelationshipsPath` inherits from `FieldPath`, so `jsonPath instanceof FieldPath` is true for `RelationshipsPath`.

[2015-10-31 18:48] #142 closed

[2015-10-31 19:05] csetera commented on #142
Thanks!

[2015-10-31 19:35] csetera commented on #142
I just pulled and built the latest code with these changes, however it seems like katharsis-servlet hasn't been updated to match the latest katharsis-core changes?  Any idea when that may happen?

[2015-10-31 20:09] meshuga commented on #142
maybe some maven problem. Does `katharsis-servlet` has dependency to version 2.0.0?

[2015-10-31 22:20] meshuga opened #144 "Links and meta information for annotated repositories"
MetaRepository and LinksRepository should be available for repositories annotated with `JsonApiResourceRepository` and `JsonApiRelationshipRepository`.

[2015-11-01 12:03] csetera commented on #142
It appears to have the proper dependency.  Is there  a missing push to Github?  Here's what I'm seeing when trying to build with a fresh clone of the repository:
[code]

[2015-11-01 12:15] meshuga commented on #142
Yep

[2015-11-01 13:17] meshuga commented on #142
Should now work with katharsis-servlet

[2015-11-01 15:51] #144 closed

[2015-11-01 17:02] csetera commented on #142
Looks good!  Thanks again

[2015-11-02 10:09] broglep-koubachi opened #146 "Ignoring properties requires JsonIgnore on both field and method"
In [ResourceInformationBuilder.java:80](https://github.com/katharsis-project/katharsis-core/blob/development/src/main/java/io/katharsis/resource/information/ResourceInformationBuilder.java#L80) both the class fields and the methods are merged together. So if you have a field that is ignored, but still has a getter, it is nonetheless added to the JSON.

[2015-11-02 21:08] meshuga commented on #146
Thanks for the issues, I'll merge annotations from fields and getters.

[2015-11-02 21:48] #146 closed

[2015-11-02 22:42] #140 closed

[2015-11-03 21:38] meshuga commented on #130
For now use http://www.paralleluniverse.co/quasar/ :wink:

[2015-11-03 21:38] #130 closed

[2015-11-05 22:11] #80 closed

[2015-11-07 09:01] sweco-semtne commented on #80
Nice! Keep up the good work!

Skickat från Outlook<http://aka.ms/Ox5hz3>

On Thu, Nov 5, 2015 at 2:12 PM -0800, "Błażej Krysiak" <notifications@github.com<mailto:notifications@github.com>> wrote:

@taken<https://github.com/taken> some time, but its done @sweco-semtne<https://github.com/sweco-semtne> :)

—
Reply to this email directly or view it on GitHub<https://github.com/katharsis-project/kathar

[2015-11-08 00:50] ieugen opened #151 "How to handle security (authorizied resource access)?"
Hi,

Do you have a strategy to handle cases where you should be allowed to access (delete) a resource only if you have a certain role or permission?

Looking on how the API is defined right now the only way you could make this happen is via some kind of introspection (Annotations).  Whule this is ok in some cases, I personally try to avoid them as they tend to be a sort of magic thing.

I'm asking

[2015-11-08 11:21] meshuga commented on #151
The simplest way is to implement it in your repository. But there are other ways which depend on what other frameworks you integrate Vert.x with:
- You could write your own adapter to Vert.x and implement own `RepositoryParameterProvider` like here: https://github.com/katharsis-project/katharsis-rs/blob/development/src/main/java/io/katharsis/rs/JaxRsParameterProvider.java to pass authN+Z informati

[2015-11-08 11:30] ieugen commented on #151
Thank you for the options. I have some ideas that I wish to try out. I'll come back with info regarding the process. I wish to stay away from spring. It's ok, but I try to avoid it when I can. It adds a lot of magic and while annotations seem a good idea, they tend to be overused and abused and the results are not very pretty.

Regarding Async, there is a difference between API and implementation.

[2015-11-08 11:56] meshuga commented on #151
Callbacks are an option, but the amount of additional code that needs to be made is pretty big and at the end of the day I'll be left with more synchronization issues than with other problems.

[2015-11-09 10:14] ieugen opened #152 "Possible bug in gettign a field"
Hello,

I think I've discovered a bug in the current code or I'm doing something different. I'm working on integrating jsonpai with a vertx app.

Field get (never passess JsonPath building)
[code]

However it fails with :

[code]

I've tracked the issue to this piece of code in class **PathBuilder** :
[code]

It is trying to get a relationship field (**previousEntry.getResourceInformation().getRel

[2015-11-09 10:28] ieugen opened #153 "Implement JsonAPI spec TCK"
Hi,

I think it is very important that katharsis ( and json api ) should pass (have) a TCK (Technology compatibility kit [1]).

This will ensure that the library and implementations are interoperable and spot bugs ( #152)

[1] https://en.wikipedia.org/wiki/Technology_Compatibility_Kit

See json-api/json-api#892

[2015-11-09 11:18] ieugen commented on #152
The field I'm trying to get is not itself a resource.

[2015-11-09 18:42] meshuga commented on #152
The path `"/:id/:field"` refers to a related resource URL. Fields doesn't have separate URL.

Plus, `Json.encode(katharsisResponse)` won't work, because `Json` class doesn't allow modules registration - Katharsis uses Jackson for (de)serialization: https://github.com/eclipse/vert.x/blob/master/src/main/java/io/vertx/core/json/Json.java#L58 :wink:
And `katharsisResponse = fieldResourceGet.handle(js

[2015-11-09 18:43] meshuga commented on #153
Yeah, good to have it, but looks like no one wants to do this...

[2015-11-09 20:04] #153 closed

[2015-11-09 21:04] ieugen commented on #152
@meshuga thanks. I use blockingHanlder() for db access.  I'm not sure what you mean by Json.encode() not working.

I have some code that looks like this:
[code]
and I get:
[code]

[2015-11-09 21:15] meshuga commented on #152
@ieugen  great! :+1:

[2015-11-10 02:27] peterlau commented on #91
Hi, I noticed that this change was undone in
https://github.com/katharsis-project/katharsis-core/commit/f84c728ccdfdd82fceb698a3d280c38568dd199f

and now the lazy attribute is not being read anywhere else in the code.

What is the recommended way to load a resource without loading it's relationships?

[2015-11-10 08:29] #91 closed

[2015-11-10 08:29] meshuga commented on #91
thanks for the notice!

[2015-11-11 00:21] peterlau opened #155 "include URL param overriding lazy-loading relationships?"
Hi there,

This issue references the 'lazy' annotation which was described in this issue https://github.com/katharsis-project/katharsis-core/issues/91 (then subsequently removed, and re-added in https://github.com/katharsis-project/katharsis-core/commit/10f1c8b9748fb9da3427615d031cadb62f61c8c5)

This is how the lazy feature currently operates as implemented on the development branch:

Adding the `

[2015-11-11 18:35] meshuga commented on #155
That would be great. Can't wait to see PR :+1:

[2015-11-11 23:15] meshuga opened #156 "Abandon Reflections library"
See: #149
It should be possible to pass additional class loaders.

And #101 should be kept in mind.

[2015-11-13 21:09] meshuga opened #157 "Refactor RepositoryMethodParameterProvider"
`RepositoryMethodParameterProvider` should accept a method and a parameter's index to operate. Spring `HandlerMethodArgumentResolver` requires an instance of `MethodParameter` which uses a reference to repository method.

[2015-11-13 21:59] #157 closed

[2015-11-14 17:20] amareen1988 opened #159 "Field Resource POST throws 500 for To-Many relationships"
__Symptoms__:
Assume we have a `Parent.class` resource which has _To-Many_ relationship with a `Child.class` resource using a list reference (i.e., `List<Child> children`). If an attempt is made to POST a new child using a Filed Resource Post through the parent (i.e., __POST /parent/{parent_id}/children__), then the `handle` method of `FieldResourcePost.class` throws a NullPointerException which r

[2015-11-15 14:40] #159 closed

[2015-11-15 17:26] amareen1988 commented on #159
@meshuga, Thank you for addressing that issue :+1:

[2015-11-15 19:30] #116 closed

[2015-11-16 12:06] Sandmania opened #161 "Javadoc error in QueryParams.java"
There is a slight documentation error in ```QueryParams.getFilters()```. The examples given are as follows:

[code]
In order for the second filter param to be included, the ampersand should be proceeded by ```filter```. For example:
GET /tasks/?filter[Task][name]=Super task&***filter***[Task][dueDate]=2015-10-01

[2015-11-16 18:05] #161 closed

[2015-11-16 19:10] cgrossde opened #162 "Support for files"
Not a bug but a question:
I have files(<10MB) which are part of my model. Does Katharsis support multipart POSTs or some other way to support small files? Is there a design pattern I could use? I might encode files with base64 but that would be a problem for my client.

[2015-11-16 19:30] meshuga commented on #162
Katharsis gives support for JSON API only. You should look in web framework of your choice on how to handle multiparts which should be used to pass binary files.
As a side note, if files are small enough (<1KB), I would just pass them in JSON requests in base64, but with bigger files there might be a problem with memory exhaustion.

[2015-11-16 19:30] #162 closed

[2015-11-17 12:00] corrspt commented on #157
@meshuga Since this is one the v2.0.0 release, but I can't seem to find it on the docs,  nor can I figure out how to use it from the tests you guys have... can we have an example of this, for what purpose it exists and how to use it?

Thanks :muscle:

[2015-11-17 14:52] nightire commented on #88
@joewhite101 May I ask what's the proper way to implement inclusion based on the spring-simple example? we team encounter this same problem tonight and we don't figure it out currently.

[2015-11-17 14:56] #134 closed

[2015-11-17 15:31] joewhite101 commented on #88
@nightire It ended up being just a matter of adding a reference between a project and task in the example. In the baseline code there are no relationships. I achieved this by updating the constructor of Task.java to the code below.

    public Task(Long id, String name) {
            this.id = id;
            this.name = name;
            this.project = new Project();
    	    this.project.setName

[2015-11-17 22:39] simmons opened #163 "Excluding static constants from serialization."
I have some constants in a model class (public static final String), and these are being included in the serialization of objects sent to the browser.  I don't see a way to avoid serializing statics, which is the common default behavior in many other tools that perform reflection (Java serialization, Jackson, Hibernate, etc.).  In fact, I don't see a way to suppress the inclusion of any field, sta

[2015-11-18 09:00] cgrossde commented on #20
Is there some development snapshot with this features or is this just on the roadmap?

[2015-11-18 16:14] corrspt opened #164 "@JsonApiToMany must always be a list?"
Hi guys

Context
I'm using Ebean with JPA annotations and I've mapped a property with `@ManyToMany` and a `@JsonAPIToMany`. I was initially using a `List<Model>` to hold the values, but after seeing that Ebean removes and inserts the values whenever I save the entity, I found this [blog post](http://assarconsulting.blogspot.fr/2009/08/why-hibernate-does-delete-all-then-re.html) about that situatio

[2015-11-18 18:14] meshuga commented on #163
Thanks for the issue
`static` fields and methods and `transient` fields should be excluded.

[2015-11-18 20:13] #163 closed

[2015-11-18 22:35] #164 closed

[2015-11-19 17:00] AllenJensen commented on #114
Does not handle URL if URL is URLEncoded - %5B for [ and %5D for ] are not recognized???

[2015-11-19 18:19] AllenJensen commented on #114
The "national" and "punctuation" characters do not appear in any productions and therefore may not appear in URIs:
national
    { | } | vline | [ | ] | \ | ^ | ~

Per: http://www.w3.org/Addressing/URL/uri-spec.html

[2015-11-19 18:33] AllenJensen opened #167 "Properly encoded URL's with %5B ']' and %5D ']' not handled correctly"
The "national" and "punctuation" characters do not appear in any productions and therefore may not appear in URIs:
national
{ | } | vline | [ | ] | \ | ^ | ~

Per: http://www.w3.org/Addressing/URL/uri-spec.html

Note: I am talking about URL encoding not HTML encoding.

I have tested with multiple URLENCODE methods in multiple languages and all of them encode/decode the square bracket characters.

[2015-11-19 19:04] AllenJensen commented on #114
I believe you are incorrect.

According to the standards the [ and ] characters are special characters that need to be encoded/decoded – all of the URL encode/decode implementations I have checked do so.

I opened a new ticket with the references to the standards.

Allen Jensen

From: Błażej Krysiak [mailto:notifications@github.com]
Sent: Thursday, November 19, 2015 12:09 PM
To: katharsis-project/

[2015-11-19 22:10] amareen1988 opened #168 "Field operations issue with RDBMs"
__NOTE: The case presented below is just an example, but it applies to all field resource methods.__

__Problem__
Let's assume we would like to perform a field POST, (i.e., __```POST .../parent/{parent_id}/child```__), then the following four steps are executed in order:
   1. Save (Child) Resource --> via Child's Resource Repo
   2. Find (Child) Resource which was just saved --> via Child's Resou

[2015-11-20 03:53] #152 closed

[2015-11-20 04:35] ieugen opened #169 "What is the purpose of RepositoryMethodParameterProvider ?"
Hi,

Had some time again to work on katharsis integration / bindings for vertx. I noticed you made a new release and decided to follow up. However I'm a bit puzzeled by the **RepositoryMethodParameterProvider** interface.

Could you provide some context? I'm a bit confused of what it is supposed to do.

p.s. You could add this as docs for implementators.

Thanks,

[2015-11-20 04:59] ieugen opened #170 "KatharsisMatchingException messes up my mojo - context (info) needed"
Hi,

Working on building a vetx implementation for katharsis I finally got to something like this:

[code]

where the **fieldResourcePost** looks like:

[code]

What I like to achieve is to keep the Katharsis specific code as self contained as possible. But having the **KatharsisMatchingException** exception handling is not nice.

My problem right now is that I don't really understand how I should

[2015-11-20 05:07] ieugen commented on #170
I've noticed **ErrorResponse** . Is this reladed to/what I need?

[2015-11-20 13:11] jmacqueen commented on #167
Is there a related issue to fix this that I can track? Or is it already folded into a merge?

[2015-11-20 13:14] Sandmania commented on #167
Very much interested in a fix as well.

[2015-11-20 14:11] AllenJensen commented on #167
Not sure why this was closed given they said I was right....

[2015-11-20 15:44] ieugen opened #171 "Vertx integration project"
Hello,

I've been working on a vertx integration project for Katharsis [1]. You have instructions on how to build and run. Feedback is apreciated.

p.s. I would like to see the project upstream as it matures.

[1] [https://github.com/netdava/katharsis-vertx] (https://github.com/netdava/katharsis-vertx)

[2015-11-20 15:54] AllenJensen commented on #167
Lets try this again - created new bug over in the katharsis-servlet project - which is perhaps where I should have created it to begin with:

https://github.com/katharsis-project/katharsis-servlet/issues/11

[2015-11-20 16:26] AllenJensen commented on #167
Work-around is to extend the ServletKatharsisInvokerFilter with one that overrides the getRequestQueryString method with one that does the URLDecoder.decode. Then create a JsonApiFilter that extends AbstractKatharsisFilter as a Component (BeanFactoryAware) and override the createKatharsisInvokerContext to use the new invoker filter.

[2015-11-20 18:07] masterspambot opened #172 "[feature] changelog"
Add `changelog.md` that will show changes between releases and ease potential compatibility issues. It should be automated along with maven builds.

[2015-11-20 21:10] #169 closed

[2015-11-21 08:20] ieugen commented on #172
+1

[2015-11-21 08:27] ieugen commented on #169
Thanks. Knowing this made a huge difference.

[2015-11-21 12:55] meshuga commented on #171
My considerations:
* Lombok - Every library should avoid excessive use of other libraries. For Katharsis the only "util" library used is Reflections and I think it wasn't a good idea - there are even plans for removal of this library https://github.com/katharsis-project/katharsis-core/issues/156.
* Sync vs. Async - it's not possible to make use of the real vert.x/netty benefit, that is asynchronou

[2015-11-21 14:09] ieugen commented on #171
Hi,

Thanks for the feedback.

A little bit of context:
I _need_ to use jsonapi on a project and we have an very soon delivery date so the code is not top quality. I've spend just enough time to make it work. As I get more confortable with it and the deadline passes I can find better ways to integrate it. While not perfect it does the job and this is what I need atm.

Lombok is an annotation proce

[2015-11-21 21:37] sgregory32 commented on #167
After updating the servlet dependency to v2.0.2, I still receive the following error when the querystring parameters are url encoded:

Error occurred while dispatching katharsis request. io.katharsis.jackson.exception.ParametersDeserializationException

Is anyone else experiencing this?

[2015-11-22 11:27] meshuga commented on #167
Current solution assume the request parameters are UTF-8 encoded. Servlet `ServletRequest.getParameter` method, on the contrary, might return data encoded in `latin1` (http://stackoverflow.com/a/470320), so `request.setCharacterEncoding("UTF-8")` is required to put somewhere before the Katharsis is run.

[2015-11-22 11:28] meshuga commented on #167
I'll add this to the code.

[2015-11-22 11:47] meshuga commented on #167
@sgregory32 Within an hour a newer version of katharsis-servlet v2.0.3-SNAPSHOT should be available on Maven Central. Could you try it and check if adding `request.setCharacterEncoding("UTF-8")` works?

[2015-11-22 17:18] sgregory32 commented on #167
Here are the results after updating to v2.0.3-SNAPSHOT...

Unencoded URL: http://localhost:8080/apps?filter[App][name]=Mint

UTF-8 encoded URL: http://localhost:8080/apps?filter%5BApp%5D%5Bname%5D=Mint -> {"errors":[{"status":"400","title":"Request parameters error"}]}

[2015-11-22 17:23] meshuga commented on #167
what application server are you using?

[2015-11-22 17:43] sgregory32 commented on #167
I'm testing on Apache Tomcat/8.0.26 with Eclipse STS. The production API runs on AWS.

[2015-11-22 20:39] meshuga commented on #167
I've reproduced your error. It turns out `ServlerRequest.getParameter(String)` return `null` when working on bare Tomcat...

[2015-11-22 21:23] meshuga commented on #167
Thanks for the report. I made tests on Spring and bare Tomcat and now it should work :smile:

[2015-11-22 21:37] meshuga commented on #167
katharsis-servlet and katharsis-spring v2.0.3 has been released with fixed query parameters.

[2015-11-22 21:37] #167 closed

[2015-11-22 23:49] sgregory32 commented on #167
Thank you!

[2015-11-23 14:15] broglep-koubachi commented on #114
The query params are now closer to the jsonapi recommentation, but still deviate from it.
Is this on purpose?

[2015-11-23 17:52] meshuga commented on #170
KatharsisMatchingException (as defined in Javadoc) indicates a matching error which disallows the request from further processing by Katharsis. It's intended for usage by adapters that might pass the request to other method matchers.

Thanks to that it might be possible to implement a method handling that has the same Content-Type and path as requests intended for Katharsis, but differs in some ot

[2015-11-23 17:52] #170 closed

[2015-11-23 21:51] csetera opened #174 "How to map to an array of Enum values?"
Glad to see the 2.x releases finally land!  We are building out around that using JPA under the covers to manage the actual data.  However, I've just run up against a mapping that I can't figure out how to really handle in Katharsis and/or JSON:API.  The JPA object has a number of attributes defined similarly to:

	@Enumerated(value = EnumType.STRING)
	@ElementCollection(targetClass = Organization

[2015-11-24 21:07] meshuga commented on #174
I think it should be just a plain attribute.

[2015-11-24 21:08] csetera commented on #174
Thanks.  How would I handle a "list" of values as a plain attribute?

[2015-11-24 22:10] #172 closed

[2015-11-24 22:13] meshuga commented on #174
Just don't add `JsonApiToMany` annotation :wink:

[2015-11-24 23:51] csetera commented on #174
That would make too much sense :-)  I will give this a try.

[2015-11-25 19:53] corrspt commented on #168
I would like to +1 this issue. Or at least to know how to deal with a similar scenario. The canonical example the `Invoice` which has `InvoiceLines`. If I add a new InvoiceLine to the Invoice, at the database level I would like a transaction that saves the new invoice line *and* adds to the list of invoice lines.

[2015-11-25 20:14] meshuga commented on #168
Yep, it might be good. Transactions are not supported in this scenario. Some repo like defined below + annotations might be useful to assure database transaction.
[code]

[2015-11-27 18:44] meshuga opened #177 "Support for multiple operations in a single request"
I know it's not an easy topic, but following issue https://github.com/json-api/json-api/issues/795, I think we should at least try to discuss the need and possibilities of adopting the support for multiple operations.

I'm working on https://github.com/katharsis-project/katharsis-core/issues/168 which will allow for two operations to be performed in one request: on a relationship and on a resource

[2015-11-28 14:58] meshuga opened #178 "Make field POST return persisted resource"
Currently POST to a resource's field with a entity to be created returns a resource with updated field. It should be changed to return just newly created resource.

[2015-11-28 16:11] corrspt opened #179 "Include Relationships"
I'm using Katharsis 2.0.0

I was experimenting with the `include relationship` feature (using the `@JsonApiLookupIncludeAutomatically` annotation) and from the documentation I found this example:

[code]

So I did just that and adapted it to my needs:
[code]

And my Java class

[code]

If I do this exact request I get the following exception:

[code]

*but* if I change my request to the following,

[2015-11-29 01:49] zachncst commented on #179
The @JsonApiLookupIncludeAutomatically annotation is based off of the field names. It's the same way relationships are displayed in the rest of Katharsis. This is how it's supposed to work because you could have more than one kind of relationship with the same type of class, albeit probably rare, it could happen.  The null pointer is a bug however, as it should fail more gracefully.

[2015-11-29 11:49] meshuga commented on #179
NPE is always indicator of a bug :smiley:

[2015-11-29 12:45] meshuga opened #180 "Refactor field POST"
Things do to:
* Add client generated IDs
* Make use of FieldRepository
* ~~Allow sending multiple resources~~~

Multiple resources can be implemented after release of json api 1.1

[2015-11-30 21:49] corrspt commented on #179
Thanks for pitching in, guys. @zachncst and @meshuga.

`This is how it's supposed to work because you could have more than one kind of relationship with the same type of class, albeit probably rare,` - Oh I need this, so no complaints there, eh eh

However I do have something that's puzzling me. My resource is "PQR" with the JSONAPI resource type being "pqrs" (plural) you're saying that I have to

[2015-12-01 00:44] amareen1988 commented on #168
@meshuga, I don't quite get the table you provided above. By multiple operations, are you pointing out that Katharsis is going to call Relationship repository methods after it has called the field resource repository method? if that is the case then my suggestion is that Katharsis should just call the field resource method, pass the deserialized parameters/resources and leave everything else to th

[2015-12-01 02:41] zachncst commented on #179
I'm not quite sure why you're formatting your include that way. It should be:
/api/my-processes?include=['relationName']

Have you tried this format?

[2015-12-01 09:17] corrspt commented on #179
Hey, so this is basically what happens
![npe_katharsis](https://cloud.githubusercontent.com/assets/789263/11496707/b8bfaeb2-980b-11e5-9343-0b1300039471.png)

I made a collage with the situation. I highlighted why the NPE happens when I try what you suggest.

[2015-12-01 15:38] amareen1988 commented on #177
@meshuga, I don't quite get the table you provided above. By multiple operations, are you pointing out that Katharsis is going to call Relationship repository methods after it has called the field resource repository method? if that is the case then my suggestion is that Katharsis should just call the field resource method, pass the deserialized parameters/resources and leave everything else to th

[2015-12-01 18:18] meshuga commented on #168
As you described, field operations will use only field repository - https://github.com/katharsis-project/katharsis-core/blob/katharsis-core-180/src/main/java/io/katharsis/dispatcher/controller/resource/FieldResourcePost.java#L87

[2015-12-01 18:23] meshuga commented on #179
It should be `include[my-processes]=relationName`. I'll try to find out what's going on here, but probably not today.

[2015-12-01 18:25] meshuga commented on #177
Yep, those two operations should be implemented in a field repository.

[2015-12-02 07:42] ieugen commented on #171
Hi,

Not much yet. We have a deadline comming up in 3 weeks and our focus will be the features we need to deliver for our clients. Howver we will hit a lot of usecases in our API. Once we have delivered I will extract the integration part into the vertx project and file an issue. My rough estimate is middle of January. Maybe some progress until then.

Regards,

[2015-12-02 11:10] choeflake commented on #101
I have written a solution, please review. My solution replaces all places where classes are scanned from the classpath with an injectable lookup class. The default behaviour is the same as the old situation.
The removal of Reflections.org can be integreated into this solution (#156)

https://github.com/choeflake/katharsis-core/commit/0ff87fc8a7327c8d3e840fbf21e5f6e89ce5598c
https://github.com/choe

[2015-12-02 17:42] meshuga commented on #101
Looks great! I'll try to make katharsis 2.1 today :+1:

[2015-12-02 19:06] meshuga commented on #101
I've released katharsis-core and rs v2.1.0 with @choeflake improvements

[2015-12-02 19:06] #101 closed

[2015-12-02 19:10] meshuga commented on #156
For now, a custom class lookup can be created to solve classpath problems on application servers/OSGi

[2015-12-02 19:10] #156 closed

[2015-12-02 19:58] meshuga commented on #179
I fixed query params builder which stripped the resource types if there was a dash inside of it. After all, thanks for the issue!

[2015-12-02 19:58] #179 closed

[2015-12-02 22:13] corrspt commented on #179
Thanks you very much @meshuga :+1: , can I expect a minor release with this fix?

[2015-12-02 23:43] meshuga commented on #179
Yeah, tomorrow. I'll try to include some other fixes.

[2015-12-03 09:05] corrspt commented on #179
Cool! Thanks :+1:

[2015-12-03 13:42] Mktmac opened #184 "Strange behavior when using Jackson's @JsonProperty"
Hi guys,

We've found a strange issue when we're using Jackson's @JsonProperty on a POJO field to ensure dash-case for JsonAPI. Here is a small extract from our POJO:
[code]

The REST serialization of this small POJO ends up looking like:
[code]
The objectMapper doesn't have any special configurations to it.

After doing some debug, the class `ContainerSerializer` seems to be responsible for this

[2015-12-03 13:54] corrspt commented on #184
I've been using dashed names for fields (Ember Data) with Katharsis without trouble, the only difference I see to your code is that I have the `@JsonProperty` annotation on my `getter` (I don't have the fields as I'm using a wrapper class around my original object).

[2015-12-03 14:12] Mktmac commented on #184
We're using Lombok for our getters and setters. Nevertheless, I've also tried to annotate the getter but the same behavior happens.

[2015-12-03 14:18] corrspt commented on #184
Sorry then, I tried :)

Your code snippet doesn't have the `@JsonApiResource(type = "TYPE_NAME")` on the class, (I assume you would get an error without it, so it probably is there).

[2015-12-03 18:21] meshuga commented on #184
Hi, thanks for the issue.
I'll try to fix this.

[2015-12-03 19:19] #184 closed

[2015-12-04 01:40] #88 closed

[2015-12-04 01:40] #151 closed

[2015-12-04 01:41] #174 closed

[2015-12-04 09:36] Mktmac commented on #184
Hi, thanks for the quick fix! Can you please tell me if this fix has been released and what version should I look for?

Thanks,
Daniel

[2015-12-04 15:33] choeflake opened #186 "Add OSGi Manifest headers"
For using the Katharsis project in an OSGi environment, the manifests of the jar files should have OSGi headers.

[2015-12-04 15:43] choeflake commented on #186
And the commits:
https://github.com/choeflake/katharsis-parent/commit/674f365dc1b5d06df31d4489b3fca70bfe750634
https://github.com/choeflake/katharsis-rs/commit/da87dadee51d4bc243c69d26c88f89819a87830e

The same has to be done on other Katharsis projects.

The reflection dependency is made optional.

[2015-12-04 20:06] meshuga commented on #184
You should use version 2.1.1

[2015-12-06 15:08] meshuga commented on #186
Thanks for the issue, but I think reflections will stay non-optional, because it adds complexity for new-comers to set-up sth. working with Katharsis. I've never worked with OSGi, but do you think it'll cause some problems?

[2015-12-07 21:11] Mktmac opened #188 "Inclusion of Related Resources"
Hi guys,

I'm trying to build a request where I can fetch only some given fields from an included related resource. Looking through Katharsis docs and JSON API spec I noticed some differences.

Let's say I have the following relationship between 2 resources:
[code]

Using JSON API, if I would want to fetch the Book resources and include only the "last-name" field from their Author relationship I w

[2015-12-08 09:08] choeflake commented on #186
Thanks for adding the headers. I have added the OSGi import header for org.reflections optional. OSGi and org.reflections is not the best combination. First of all you need the servicemix build of org.reflections (https://github.com/apache/servicemix-bundles/tree/master/reflections-0.9.10). Next, scanning for classes will not work out of the box. You have to add the URL of the containing jar to th

[2015-12-08 13:39] Mktmac commented on #184
Hi @meshuga,

I checked the fix but unfortunately it still doesn't work as expected :(

Looking through the code I discovered that in katharsis-core-2.1.1.jar the class `ResourceFieldWrapper` was not updated. Here is how it still looks in the .zip file:
[code]
Please note the missing `originalName` field.

Can you please make another release?

Thank you,
Daniel

[2015-12-08 18:34] meshuga opened #189 "POST shouldn't call repository findOne method"
POST methods should rely on the result of `save` method, not `findOne`.

[2015-12-08 19:24] meshuga commented on #186
ok, reflections will be optional.

[2015-12-08 19:27] meshuga commented on #184
Today I'll make another release

[2015-12-08 20:22] #186 closed

[2015-12-08 21:38] #189 closed

[2015-12-08 21:58] #178 closed

[2015-12-08 23:00] #188 closed

[2015-12-09 09:14] ieugen commented on #184
Thank you for the prompt response and action.

[2015-12-11 20:34] meshuga opened #193 "Check include implementation"
Over several days there were some problems reported with inclusion mechanism.
The inclusion mechanism should be checked if there are some inconsistencies.

[2015-12-11 22:14] joewildish opened #194 "Support for @PermitAll, SecurityContext and related functionality"
I am using Dropwizard (0.9.1) with Katharsis (2.1.1).

Let's say I configure security on a (non-Katharsis) resource by using an AuthDynamicFeature and some annotations, like so:

[code]

I was expecting to be able to do the same on a ResourceRepository:

[code]

However it would seem that the Authentication mechanism is not being called when the GET request is made. Can you advise if what I'm tryi

[2015-12-12 17:01] meshuga commented on #194
Current Dropwizard implementation uses JAX-RS DynamicFeature - https://github.com/dropwizard/dropwizard/blob/master/dropwizard-auth/src/main/java/io/dropwizard/auth/AuthDynamicFeature.java which is unavailable since katharsis-rs doesn't use JAX-RS matcher to resolve the repository method to call.

You should implement it by yourself and I think the easiest way is by adding a filter which will be r

[2015-12-14 16:53] joewildish commented on #194
I've just had a quick look at the code and I don't think it's as simple as that unfortunately.

From what I can see the ```KatharsisFeature``` registers a ```@PreMatching``` filter that essentially handles the routing of a request to a method. My regular filter (ie. "post-matching") doesn't therefore get called. I really need it to be a regular filter as I need the ```ResourceInfo``` information (

[2015-12-14 19:17] meshuga commented on #194
Well, there is a way, but pretty hard. You could write a code that will grab all of the resources and for each of them create a set of resources which will allow JAX-RS matching to be used. It might work with Jersey - https://jersey.java.net/documentation/latest/resource-builder.html

But how to make Jersey read annotations from repository? I don't know :wink:

[2015-12-14 19:17] #194 closed

[2015-12-14 21:19] zachncst commented on #20
Sure. I'll take it.

[2015-12-14 22:59] joewildish commented on #194
Yes I realised that could be an approach but agree it is quite involved.

Is there another way you think may be appropriate to implement authentication and/or authentication in my scenario? I imagine using a dropwizard+katharsis combination must be quite common, as must be secured services, but I can't see how this is do-able without being able to attach custom filters in the same way you can with

[2015-12-15 10:30] ieugen opened #196 "Ability to override self link"
Hi,

I've come across a use case that might be needed by others also. We are exposing a resource like:
**/api/v1/assessments/1?token=12313131231231**

This resource can be accessed only by providing a token query param with a value that matches the one in the resource.

My use case is that I have stateless authentication based on the token. Every person with a link containing that token will have

[2015-12-15 16:03] zachncst commented on #196
Just my two cents, but should this really be exposed as a token id in the self link? Shouldn't this be handled in the headers?

[2015-12-15 16:43] ieugen commented on #196
I can't send an email link with headers.

[2015-12-17 14:43] datagitlies commented on #67
Using [retrolambda](https://github.com/orfjackal/retrolambda) and [streamsupport](http://sourceforge.net/projects/streamsupport/) I was able to backport katharsis-core to run on Java 7 @nevson @sglanzer you can see the result in our fork here https://github.com/StateFarmIns/katharsis-core/

[2015-12-17 14:45] datagitlies commented on #48
Using [retrolambda](https://github.com/orfjackal/retrolambda) and [streamsupport](http://sourceforge.net/projects/streamsupport/) I was able to backport katharsis-core to run on Java 7 @jbadeau you can see the result in our fork here https://github.com/StateFarmIns/katharsis-core/

[2015-12-17 16:33] jbadeau commented on #48
Wow that's awesome. I am working in a big bank and they are always behind. I wok have a look next week

[2015-12-17 19:59] meshuga commented on #48
The thing is that streamsupport doesn't have OSGi definitions, in fact it doesn't have even a manifest file. I've created an issue about that (http://sourceforge.net/p/streamsupport/tickets/143/) and as soon as this issue will be solved, I'll merge Java 7 support.

[2015-12-18 05:16] sglanzer commented on #67
@datagitlies Excellent - I've got some people to show this to!

[2015-12-18 15:05] datagitlies commented on #48
@meshuga thank you for reopening this issue and giving it serious consideration. @rbarbey this may be of interest to you.

[2015-12-18 15:10] datagitlies commented on #67
@sglanzer take a look at Issue #48 for the latest information

[2015-12-18 16:08] collinpeters opened #197 "@JsonApiId should be @Inherited"
I have a base object on all my domain entities which provides a getter for the API ID
[code]

This no longer works with Katharsis 2.0. It did work with 1.x so I'm not sure if it was removed on purpose or what. It has caused my to have to override the method in all my entities
[code]

[2015-12-18 22:47] meshuga commented on #197
`@Inherited` annotation never been placed on either `@JsonApiId` or any other Katharsis annotation. Annotation inheritance is made by hand using `ResourceInformationBuilder#build(Class<?>)` https://github.com/katharsis-project/katharsis-core/blob/f0b83dccbeecabca4d0f782e5da62a2ed86678be/src/main/java/io/katharsis/resource/information/ResourceInformationBuilder.java#L32-L32.
Could you show a gist w

[2015-12-18 23:11] #193 closed

[2015-12-20 13:35] rbarbey commented on #48
@datagitlies Thank you for notifying me about this issue. I didn't use streamsupport or lambdaj, only plain Java 7 stuff. I'm stuck with slightly different type erasures for the methods in implementations of `BaseController`. But it seems that you have solved this already.

@meshuga If you have concerns about streamsupport and OSGi then maybe we could merge @datagitlies and my attempt to have Java

[2015-12-20 19:02] meshuga commented on #48
Take a look here: https://github.com/katharsis-project/katharsis-core/pull/198

[2015-12-21 16:35] datagitlies commented on #48
I'm thrilled @meshuga! I prefer the pure Java approach over using streamsupport and retrolambda. I only went down that path so that our fork would have minimal code changes and I could merge with confidence & ease. I'm anxiously awaiting approval of the pull request. FYI, you'll also have some slight changes to make in katharsis-rs, katharsis-servlet, and katharsis-spring. Mainly, to account for t

[2015-12-21 16:57] meshuga commented on #48
Yeah, Parameter type was added in Java 8, so I had to do it.

[2015-12-21 20:34] meshuga commented on #48
v2.1.3 requires Java 7 :+1:

[2015-12-21 21:32] rbarbey commented on #48
:clap: :tada: Thank you very much for your effort!

[2015-12-21 21:35] datagitlies commented on #48
ditto!

[2015-12-21 22:23] jbadeau commented on #48
Awesome, very much appreciated 💪🏽🖐

[2015-12-22 04:43] collinpeters commented on #197
Hrm....  not sure where I went awry but it is now working. I think my mistake was that I had a private attribute `hashId` which had `@JsonIgnore` on it, then a getter with `@JsonApiId`. The JsonIgnore seemed to mess it up. In any case I must have removed it at some point as it is all working now.

[2015-12-22 04:43] #197 closed

[2015-12-22 06:29] collinpeters opened #199 "Support for @JsonPropertyOrder"
Currently the fields appear to be returned in a random order. Support for `@JsonPropertyOrder` would be nice.

[2015-12-22 17:42] meshuga commented on #199
Yep, The fields and methods returned from Class#getDeclaredFields() and Class#getDeclaredMethods() are basically random.

[2015-12-22 18:34] #196 closed

[2015-12-22 18:35] meshuga commented on #199
`id` and `type` fields are put in accordance with JSON API samples (first `id`, then `type`, `attributes` and `relationships`). This issue is about the order in `attributes` and `relationships` objects.

[2015-12-23 16:56] #48 closed

[2015-12-27 11:24] #107 closed

[2015-12-27 16:35] #199 closed

[2016-01-07 10:49] hnf1991 opened #203 "Modifying katharsis json response"
I am using katharsis with spring boot. I want to change the 'id' key in json response with my table PK column name, following is the katharsis response

    {
     "type": "table-name",
     "id": "A",
     "attributes": {
     "description": "AAA"
    },
    "relationships": {

     },
     "links": {
       "self": "http://localhost/table-name/A"
     }
    }
I want to change the above "id": "A"

[2016-01-07 12:29] hnf1991 commented on #203
ok.
And what about updating the id in database.? As the new id gets neglected when using PATCH method request..?

[2016-01-07 16:04] ashishgodani opened #204 "Related resources not fetched"
I am trying my hands-on katharsis and I and a little confused with the way a composed objects are fetched. A sample scenarios goes like: I would like to fetch project details along with the task in one go so 'data' should have the value for the project ```{"id": "10","name": "test project"}```. Expected sample response will look like (using spring-boot-simple-example):
[code]
How do I achieve this

[2016-01-07 21:00] meshuga commented on #203
According to JSON API, a resource is identified by a `type` and `id` field.
Why in the world would you change the primary key in the database? It should be considered immutable (http://programmers.stackexchange.com/questions/8187/should-a-primary-key-be-immutable/8320#8320).

[2016-01-07 21:00] #203 closed

[2016-01-07 21:08] meshuga commented on #204
well, when you are making a `GET` request, all of the attributes and relationships are fetched from a `ResourceRepository`. Is your repository return the relationships?
If you add `JsonApiIncludeByDefault` annotation, the relationship if fetched (if not present using `ResourceRepository`) from a `RelationshipRepository` and additionally is in `include` attribute in the response. Have you implement

[2016-01-07 22:27] ashishgodani commented on #204
Thanks for the quick response. Thats what my thinking also was but for a strange reason I am not able to make it work.
Code for Task is already listed above.
RelationshipRepo:

    public class TaskToProjectRepository implements RelationshipRepository<Task, Long, Project, Long> {

    private TaskRepository taskRepository;
    private ProjectRepository projectRepository;

    public TaskToProjectR

[2016-01-08 17:53] ashishgodani commented on #204
Hi! I have attached the sample code for my springboot-redis(or any key-value store) scenario.

Just to give the context - basically my requirement is to have this working with a key-value (say redis) store. I have namespaces in redis like ```project:1``` or ````task:1````where the data is stored in JSON format. These JSON objects have like one-to-one relationship - for example: each task will have

[2016-01-08 21:12] meshuga commented on #204
Just initialize a relationship between two resources and it should work.

[code]

You could also add `JsonApiIncludeByDefault` annotation to ease the way the request is made:
[code]

[2016-01-09 00:09] ashishgodani commented on #204
Thanks again for the response!

It still doesnt work if the full composition is not persisted in the database. Basically I commented ```repo.put(entity.getId(), entity);``` in ```TaskRepository.save()``` method in the repo as I dont want to persist the full composition into the DB.

and I modified ```initialize()``` to ```task.setProject(project)``` then call save to initialise the relationship be

[2016-01-11 14:21] ashishgodani commented on #204
Hi Patryk!
I did a few more experiments to make the relationship fetch work out of the box by just annotating the domain object but it just doesnt seem to work. Infact `findOneTarget()` method (annotated as `@JsonApiFindOneTarget`) is not even called once when I fetch a Task by calling GET - http://localhost:8080/tasks/1
however this works **if and only if** the related object, ```Project``` in th

[2016-01-11 15:07] kkamkou commented on #162
Please, add this information to the general documentation.

[2016-01-15 09:43] DarrenDrumm commented on #53
Hi,

I have the same requirement, however, I cannot get the wildfly-example to work without a Repoistiry (User).

Would it be possible to post a small wildfly example of kartharsis.io without a repository

Thanks,

Daren

[2016-01-19 13:54] ashishgodani opened #207 "Metrics and Documentation support"
I would like to know if there is a way to integrate Codehale and Swagger with Katharsis-Spring ?
If yes, could you please provide me with some pointers/references ?

[2016-01-20 22:26] coderange opened #208 "Multivalue parameters in QueryParams"
Hi,

We came across Katharsis and we'd like to use it in our project(with Spring). The problem we've encountered is that the HTTP URL allows for multiple values query parameters like so :
http:// ... /?param=1&param=2 , hence, the following should have a congruent behaviour :
http:// ... /?filter[ResourceType][param]=1&filter[ResourceType][param]=2.

The expectation is that the value of param for

[2016-01-20 23:00] meshuga commented on #207
For now there's no code that could help you doing that. Lately I found that Springfox documentation mentions jsonapi (http://springfox.github.io/springfox/docs/current/#goals) but it's a general goal rather than a real implementation.
But, if you have some free time you could take a look at https://github.com/woonsan/swagger-katharsis and start to hack it :wink:

[2016-01-21 17:33] coderange commented on #208
Hi,

Actually, the "bug" is in katharsis-servlet. The chain of calls KatharsisInvoker.createQueryParams -> QueryStringUtils.parseQueryStringAsSingleValueMap -> QueryStringUtils.buildSingleQueryParams
treats all the URL query parameters as if they were single value.

Although there is a public method that handles multivalue parameters (QueryStringUtils.parseQueryStringAsMultiValuesMap), this method

[2016-01-22 12:03] ashishgodani commented on #208
Yeah looks like thats the fix unless it breaks the flow somewhere else.
+1 for merging this in quickly.

[2016-01-22 21:04] coderange commented on #208
Pull request created

[2016-01-22 22:08] meshuga commented on #208
Thanks for the issue and PR!

[2016-01-22 23:26] peterlau commented on #155
Just an update - our organization has decided to keep our fork of the project on v1.x for a number of reasons. I could still do a PR into a v1 branch but I'm not sure whether that would be useful due to the vast differences with the latest state. Feel free to close this issue as you see fit.

[2016-01-24 22:11] #208 closed

[2016-01-26 19:20] #155 closed

[2016-01-26 19:28] ieugen commented on #171
Hi, no. We are almost live with our system. There are some things that I wanted to fix before going further. I would like to have a short private chat about this. You can find my email address in my profile. Please send me a message.

[2016-01-28 14:44] coderange opened #209 "Provide custom QueryParamsBuilder"
Hi,

I would like to discuss a kind of feature request.

Katharsis sometimes deviates from the the JSON API spec (sort parameters format, etc) and although I find the Katharsis convention more flexible and more consistent, the fact is, it's not standard. To alleviate this issue I'd like to suggest Katharsis should allow the library users to provide their own  QueryParamsBuilder to the KatharsisFil

[2016-01-28 17:05] saigyo opened #210 "Feature Request: JSON API Patch Extension"
I'd like to support the request that was initially made in #122 but closed as wont-fix.

I have an application where I need to track and apply changes to individual attributes of my resource entities. The [jsonpatch](http://jsonapi.org/extensions/jsonpatch/) protocol would be the ideal fit, whereas the regular PATCH operation which maps to ResourceRepository.save() is to coarse grained for my purp

[2016-01-28 17:10] saigyo opened #211 "Feature Request: JSON API Extension for bulk requests"
Are there any plans to support the JSON API [bulk](http://jsonapi.org/extensions/bulk/) extension?

I have an application where resources can be changed or deleted in a "batch", where this would be quite practical.

[2016-01-28 19:17] meshuga commented on #209
Sounds good to me and I'm happy you want to contribute to the project!
There's only one thing. QueryParamsBuilder is initialized/used in katharsis-servlet, rs and spring, so it would be great if those changes could be made in all those projects.

[2016-01-28 21:41] coderange commented on #209
Yes, I'm aware of servlet/rs/spring using it. When I'll implement it, I'll make all the required updates. Thanks !

[2016-01-30 21:58] meshuga opened #212 "Log registered resources and repository methods"
It should be possible to log which resources and repository methods were found when `ResourceRegistryBuilder` creates an instance of `ResourceEntry` class.

[2016-02-02 15:15] valimaggi commented on #177
Has there been any progress or timetable for this?

In #180 it's mentioned that _"Multiple resources can be implemented after release of json api 1.1"_

I understand that this issue is exactly that case? Not that JSON API 1.1 is released yet, but I'm just curious what's the status. :)

[2016-02-02 18:59] meshuga commented on #177
It's like in https://github.com/json-api/json-api/issues/795#issuecomment-173759909 ;)
Several days ago a new issue https://github.com/katharsis-project/katharsis-core/issues/211 has been created that issue, I would say, the same problem. But I just don't have enough time to work on that, so, like in any other OSS project, help is appreciated :wink:

[2016-02-03 19:11] meshuga commented on #209
Everything's merged.
One more time, thanks for the support!

[2016-02-03 19:11] #209 closed

[2016-02-04 20:58] andy36 opened #215 "Wrapping of exceptions makes exception mapping harder"
In:
https://github.com/katharsis-project/katharsis-core/blob/development/src/main/java/io/katharsis/utils/PropertyUtils.java#L46-L47
three types of exceptions are just wrapped as RuntimeException.
I am trying to create an exception mapper for when input contains fields that are not on the resource (which results in NoSuchMethodException from https://github.com/katharsis-project/katharsis-core/blob

[2016-02-04 21:06] thereallisa commented on #215
:+1:

[2016-02-05 12:20] Sandmania opened #217 "Using CDI @RequestScoped annotation with @JsonApiRelationshipRepository relationship repositories does not work"
When using @RequestScoped annotation in annotation based relationship repositories, a null pointer exception is thrown from AnnotatedRelationshipEntryBuilder. The CDI annotation works as expected when used in a class that implements RelationshipRepository.

[code]

I'm using katharsis-rs 2.1.1.

[2016-02-05 12:48] Fivell commented on #68
+1, would be nice to have java client

[2016-02-05 15:18] coderange commented on #209
Awesome, thanks ! I'm looking to continue contributing when time allows ;)

[2016-02-08 18:08] meshuga commented on #217
It looks like Katharsis cannot get the annotation from the relationship repository. I'll try to make a sample tonight and try to find out what is going on.

[2016-02-08 20:54] meshuga commented on #217
There's a bigger issue. Take a look at https://github.com/katharsis-project/katharsis-examples/tree/bug/service_locator_dont_merge. It turns out getting an instance of a repository at initialization time was a bad idea, because now it's impossible to use request scoped repositories.
@Sandmania Could you take a look at this? I think it will be possible to change Katharsis to get an instance of a re

[2016-02-09 20:49] csetera opened #220 "JsonApiIncludeByDefault vs lazy=true"
We are currently using Katharsis to generate output that is consumed by our Ember Data application.  After a lot of debugging and pulling my hair out, I finally figured out why Ember Data wasn't seeing my "included" data from the response.  The problem is that, as currently implemented in the RelationshipContainerSerializer, the data element in the relationship that refers to the included block of

[2016-02-09 20:56] csetera opened #221 "IncludedRelationshipExtractor does not honor @JsonProperty annotation"
While doing further testing around "include" functionality, it appears that @JsonProperty is not honored when using the included query parameter.  Take for instance, the following request:

`
http://localhost:39999/domain/jsonapi/v1/profiles/1?include[profiles]=contact-data
`
Will fail despite the following definition:

`
	@JsonApiToOne
	@JsonProperty("contact-data")
	protected ContactData contact

[2016-02-09 21:05] chelin opened #222 "ResourceRegistry getEntry should break when appropriate registryEntry been located"
Currently all entries will _always_ be evaluated.

[2016-02-10 15:50] keithdmoore commented on #20
:+1: I need this functionality for one of my clients.  I am currently just implementing a custom ExceptionMapper<ConstraintViolationException> in my Jersey implementation.

[2016-02-10 16:32] andrei-bivol opened #225 "RuntimeException when PATCH-ing a resource with a relationship that has its name in dash-case"
Hi guys,

after upgrading to version 2.2.0, we have some issues with code that was working before that (we are upgrading from version 2.1.3).

The problem is that we get a RuntimeException when PATCH-ing a resource with a relationship that has its name in dash-case.

Here is an example:
[code]

The PATCH payload is:
``{
	"data": {
		"type": "pojo",
		"id": "1",
		"attributes": {...},
		"relationsh

[2016-02-10 20:24] meshuga commented on #220
Ye, it should imply that if `@JsonApiIncludeByDefault` is set, `lazy` parameter of `@JsonApiToMany` should be overridden to `false`.

[2016-02-10 22:02] keithdmoore commented on #55
I know this is a closed issue but how would one incorporate swagger using kartharsis?  I see this https://github.com/woonsan/swagger-katharsis but it looks like it is half baked.

[2016-02-10 22:06] keithdmoore commented on #210
:+1:  I was wondering how I might implement this as well.  For attributes that are not passed, the attributes will be null or whatever they have been defaulted to.  So there is no way to determine which attributes are requested to be updated by the client.

[2016-02-11 11:37] csetera commented on #220
I can try to find time to do a pull request... unfortunately, we are a bit behind on our Katharsis version at the moment, so I'm not in a great position to work on this for a bit.

[2016-02-11 14:01] ieugen commented on #171
Work in progress in [1]

[1] https://github.com/katharsis-project/katharsis-vertx

[2016-02-11 14:01] #171 closed

[2016-02-11 14:42] soldierkam opened #226 "Invalid resource name to include returns status 500"
IncludedRelationshipExtractor should throw exception that could be handled by JsonApiExceptionMapper to return status 400 (Bad Request)

Application: https://github.com/katharsis-project/katharsis-examples/tree/master/spring-boot-simple-example
URL to invoke: http://localhost:8080/api/tasks?include%5Btasks%5D=asdas
[code]

[2016-02-11 16:09] ieugen commented on #225
I have traced the problem in

[code]

**findFeld** receives fieldName with dashed value ("other-pojo") but uses introspection to find the field as "otherPojo" so the update does not happen.

The issue seems to be solved if in setRelationField we pass the ResourceField relationshipFieldByName.underlyingName instead of the propertyName to setProperty.

@meshuga : I'll push for a patch. Unfortunately

[2016-02-11 23:04] meshuga commented on #55
Just getting an instance of `ResourceRegistry` and iterating over it to generate a swagger docs should make the job.
Btw. the repo still look better than https://github.com/meshuga/katharsis-springfox :wink:

[2016-02-12 03:42] keithdmoore commented on #55
@meshuga LOL, I see your point.  I see you have laid the groundwork for a new project. I have been using swagger in a Jersey app so I am familiar with the concepts.   My teammates are going to ask me about swagger integration so I wanted to have some kind of answer.  Thanks!

[2016-02-12 09:23] ieugen commented on #225
Some cases are not covered.

[2016-02-12 10:19] soldierkam opened #229 "NPE in ResourceRegistry#getResourceType(Class)"
Passing Class to this method may cause NPE when annotation JsonApiResource is not present in class hierarchy:
[code]

[2016-02-12 13:17] Sandmania commented on #217
I'm afraid my understanding of the inner works of Katharsis is too lacking for me to make any significant progress on this any time soon.

[2016-02-12 19:36] meshuga commented on #217
No problem. I think it can be a good idea to get an instance of a repository (and maybe other types of instances as well) just when a call is needed. It can allow request scoped CDI resources to be accessed.

[2016-02-12 21:18] #226 closed

[2016-02-12 21:22] meshuga commented on #226
Now a matching exception will be thrown, which will mostly result in 404.

[2016-02-12 21:24] #215 closed

[2016-02-13 12:37] meshuga commented on #222
Done in #223
Thanks for the issue and PR!

[2016-02-13 12:37] #222 closed

[2016-02-13 12:39] meshuga commented on #221
Done in #230
Thanks for the issue!

[2016-02-13 12:39] #221 closed

[2016-02-13 13:38] meshuga opened #233 "Add @JsonProperty(access = Access.WRITE_ONLY) support"
It should be possible to hide a field when serializing, but leave it when a resource is being deserialized.

[2016-02-13 13:43] #212 closed

[2016-02-13 13:54] masterspambot opened #234 "Disable null and empty attribute serialization to JSON"
Disable passing null attribute values to JSON.

**Reasoning:**
Firstly, from _stricte_ REST point of view, if endpoint returns different object with additional properties set to null it **changes its state** and can cause serialization issues due to fact that `null` !== `undefined` in JSON that relies on JavaScript types.

Secondly, API should provide **only** necessary information to its clients,

[2016-02-13 16:21] #234 closed

[2016-02-13 20:47] keithdmoore commented on #20
@meshuga @masterspambot @zachncst If you guys have a high level approach in mind, I could take a stab at this.

[2016-02-14 00:30] masterspambot opened #236 "Who is using Katharsis?"
We would like to build a customer section on our website. So if your company is using our library and you'd like to be mentioned on our site please contact us via mail `support@katharsis.io` including:
- company name,
- logo
- brief description how it help you in development/project :) [if you'd like to]
or just add a comment below.
- your name/title for the comment/testimonials

Many thanks in ad

[2016-02-14 06:03] amareen1988 commented on #168
I will start working on this soon.

[2016-02-14 19:57] keithdmoore commented on #20
@masterspambot @meshuga @zachncst
Let me know your thoughts on this approach:
1. Add bean-validator dep.  This appears to be the version used by Spring and Jersey at the moment.
<dependency>
  <groupId>org.glassfish.hk2.external</groupId>
     <artifactId>bean-validator</artifactId>
     <version>2.4.0-b06</version>
</dependency>
2. In ResourcePatch and ResourcePost, do something like the followin

[2016-02-14 21:25] ieugen commented on #20
I personally don't think it's a good idea to add more dependencies to core. Validation depends very much on the business case and you could have field validation on resources and/or the resource as a whole unit.

I think core should provide hooks and/or support to allow validation technologies to be added but not depend on a particular technology.
@ keithdmoore: In the worst case depend on javax.v

[2016-02-14 21:43] keithdmoore commented on #20
@masterspambot Not sure I follow what you are saying with regard to the ServiceLocator.  However, as an initial implementation, I was going to focus on the ResourceRepository.save method.

@ieugen That's a very good point. Great suggestion.  I will take that route. Thanks.

[2016-02-14 21:55] meshuga commented on #20
As @ieugen mentioned, adding additional deps to the core is not the best idea, so maybe to remain cohesive, create an interface which will wrap a validator and if its instance is available through a service locator, just call it and check if the return set is not empty.

[2016-02-14 23:57] keithdmoore commented on #20
@meshuga seems like having the bean validation api as a dep would be reasonable.  That way a developer could specify what needed to be validated and provide the bean validation implementation.

[2016-02-15 02:56] keithdmoore commented on #20
I think what would be ideal is if I could get bean validation to get invoked in my application without making any changes to kartharsis-core.  So far, I have not been able to get that to work.

[2016-02-15 04:42] keithdmoore commented on #20
@meshuga @masterspambot @ieugen  I managed to figure out how to make a Spring based, Kartharsis infused application invoke validations.  AKA: Without any kartharsis-core changes.

I can add this to the katharsis-spring project.  I think it would be a nice example.

1. Add beans to application config
[code]
2. Add @Validated to TaskRepository and add @Valid to entity parameter
[code]
3. Add custom

[2016-02-15 13:39] jbadeau opened #237 "Custom QueryParams"
Hello,

I have seen that you provide the standard JSON API query params but is there a way to add custom params?

[2016-02-15 13:44] keithdmoore commented on #237
I was under the impression that you could pass as in whatever you want.

[2016-02-15 13:45] jbadeau opened #238 "Method Override"
Hello,

Do you plan to support something like:

X-HTTP-Method (Microsoft)
X-HTTP-Method-Override (Google/GData)
X-METHOD-OVERRIDE (IBM)

e.g. client sends a POST request to be handled by the GET controller.

This is common in enterprises that have restrictions on what verbs are allowed.

[2016-02-15 14:00] jbadeau commented on #237
I am not katharsis yet but from looking at the QueryParams class I dont see how I would be able to get my custom typed params  like:

queryParams.getCusomParam1()
queryParams.getCusomParam2()

[2016-02-15 14:14] keithdmoore commented on #237
Looks like you can't. I suppose you are free to use the others however you see fit though.  It's all a matter of your custom implementation.  What kind of custom params would you possibly want to add?

[2016-02-15 14:24] keithdmoore commented on #238
I think you could possibly solve this by using a custom filter in your app and transform the request to whatever route you are trying to goto.   I wouldn't expect Kartharsis or json-api to solve this problem.

[2016-02-15 14:41] jbadeau commented on #238
From looking at  the architecture docs it appears that the Resource and Relationship Repositories are the main interfaces resource APIs. The JSON API spec does a good job of providing standard parameters for sorting, paging and filtering but in many companies there are query parameters which are not directly related to the resources. Some examples are:

- domicle
- bookingCenter
- parnerId
- manda

[2016-02-15 15:12] ieugen commented on #20
@keithdmoore Great! Glad it worked out ok :).

[2016-02-15 16:12] keithdmoore commented on #238
I am relatively new to both json-api and katharsis.  json-api and katharsis may not be for everyone.  I have seen some folks try to create a custom api and then try to use some of the katharsis classes under the covers to at least return a json-api response.  The project I am currently working on is a Jersey based JAX-RS implementation using Spring Boot.  So right now we have three ways of creatin

[2016-02-15 20:27] meshuga commented on #237
Which Katharsis integration do you use? It's possible to use Spring/JAX-RS annotations to get query params from request in annotation-based repositories.

[2016-02-15 20:31] keithdmoore commented on #237
I would be curious as to how to do that.

[2016-02-15 21:56] keithdmoore commented on #229
JsonApiResource is required, right?

[2016-02-15 23:41] meshuga commented on #229
NPE can also occur in ResourceRegistry#getResourceType(**String**), but those methods should be considered as internal. On the contrary, it can be used by others, so it should be fixed.

[2016-02-16 19:26] soldierkam commented on #229
ClassUtils.getJsonApiResourceClass() might return null, but ResourceRegistry#getResourceType(Class) does not check this. @meshuga is correct - I used ResourceRegistry directly to provide some additional functionality to my repositories. It should throw some runtime exception in that case. This method should also throw exc if it cannot find JsonApiResource on resourceClazz. Returning null might cau

[2016-02-16 21:31] meshuga commented on #229
Throwing an exception is a good idea, but it's a breaking change. I'll just return null.

[2016-02-16 22:24] #229 closed

[2016-02-16 22:24] meshuga commented on #229
thanks for the issue!

[2016-02-17 02:23] keithdmoore commented on #20
@masterspambot @meshuga Are you guys ok with me putting in a pull request for the above implementation in katharsis-examples/spring-boot-simple-example ?  If so, I can do that.  I honestly think this is the best approach.  I could also look to see if I can do something similar in katharsis-examples/jersey-example.  Thoughts?

[2016-02-17 03:01] keithdmoore opened #240 "Jackson JsonFormat seems to be ignored by Katharsis"
Are most of the Jackson annotations ignored on a model?  I am trying to do the following.
[code]
I have set this in `application.properties`
[code]
The output looks like this:
`"birthDate": "1958-04-09T00:00:00.000+0000"`
what I want is:
`"birthDate": "1958-04-09"`

The only way I was able to get it to work was to create my own ObjectMapper bean but that totally messes up the format of the entire

[2016-02-17 08:53] Sandmania commented on #20
I would love to see a Jersey example from this. I might be able to help test the Jersey implementation.

[2016-02-17 14:59] ieugen commented on #20
I'm also doing validation with the vertx implementation. If I have time I'll add one for vertx.

[2016-02-17 20:18] pcdwr commented on #240
I need this as well. I would like to be ale to set a default serialization for a type and override it at the property level.

[2016-02-19 10:21] meshuga commented on #240
The thing is that for direct attributes serialization, Jackson isn't used. It can be changed. I just need to know a serialization method that accepts apart from field name and value, field annotations.

[2016-02-19 20:31] meshuga commented on #240
I could use https://fasterxml.github.io/jackson-databind/javadoc/2.4/com/fasterxml/jackson/databind/ser/impl/SimpleBeanPropertyFilter.FilterExceptFilter.html to exclude id and relationships fields and then in https://github.com/katharsis-project/katharsis-core/blob/development/src/main/java/io/katharsis/jackson/serializer/ContainerSerializer.java#L147 pass the whole object, but there one thing - i

[2016-02-19 21:37] tdj-br commented on #240
I'm writing another solution that cover this case too. Let me send a PR in a few minutes.

[2016-02-19 21:40] meshuga commented on #240
Great!

[2016-02-21 14:08] meshuga commented on #240
Done in https://github.com/katharsis-project/katharsis-core/pull/241

[2016-02-21 14:08] #240 closed

[2016-02-21 14:08] meshuga commented on #233
Done in https://github.com/katharsis-project/katharsis-core/pull/241

[2016-02-21 14:08] #233 closed

[2016-02-21 14:19] #207 closed

[2016-02-21 16:55] meshuga commented on #238
I don't think it's something Katharsis should take care of. There are ways with dealing with headers that change HTTP method e.g. http://stackoverflow.com/a/15368395 and it should be solved in underlying web framework you use.
Regarding additional query parameters, it's possible to acquire the request object from a repository class.

[2016-02-21 16:55] #238 closed

[2016-02-21 17:07] keithdmoore commented on #238
@meshuga I agree with you.  That's a good idea with regards to injecting the request.  With Spring you could inject the request into the repo like this:

[code]

[2016-02-21 18:02] meshuga commented on #237
In theory you can't do that. Of course you could create a custom `QueryParamsBuilder` and use it to create an instance of a class which inherits from `QueryParams`and then use it in repository methods, but for me, it's not a good way.
Take a look at http://katharsis.io/docs . I know it's not easily explained, but it's possible to pass custom request parameters to repository methods - of course onl

[2016-02-21 18:02] #237 closed

[2016-02-22 03:38] collinpeters commented on #240
I am using Spring and am wondering if this fix makes my workaround for using the Spring created ObjectMapper moot

[code]

With this code I didn't have any problems with Java date formatting.

[2016-02-22 06:12] collinpeters opened #242 "Inclusion of multiple relationships on same object is not working"
Based on the docs, I am trying something similar to `GET /tasks/?include[tasks][]=author&include[tasks][]=comments`. I read this as "on the tasks response, include both the author and the comments". This doesn't seem to work for me. Ultimately when it gets to me the `IncludedRelationsParams` only contains the last include which is comments in this case.

I think there is a bug in QueryParams#setIn

[2016-02-22 07:35] meshuga commented on #242
Yes, it should be a list of inclusions.

[2016-02-22 12:29] soldierkam opened #243 "Missing JavaDoc for JsonApiLookupIncludeAutomatically"
JsonApiLookupIncludeAutomatically is a bit confusing for me - i don't know how it should be using.
@zachncst wrote that this feature works by field name (https://github.com/katharsis-project/katharsis-core/issues/179#issuecomment-160357670)
This information is missing in javadoc. It is worth to mention how:
* its gona choose RelationshipRepository and what is passing to RelationshipRepository#find

[2016-02-22 19:08] #242 closed

[2016-02-23 01:18] sgregory32 opened #245 "Spring RestController with Katharsis"
I have a Katharsis implementation which I would like to use Spring RestController with. I can set the @ComponentScan({ "...controller" }) on Application.java and hit the rest controller but I cannot autowire any components from the Katharsis repositories. If I remove the @ComponentScan, the controller never gets hit. Is there a way to have a rest controller co-exist with the Katharsis framework?

[2016-02-23 01:25] keithdmoore commented on #245
The only way I know of is to have the Spring Rest controllers on a different path prefix.  So if you have the `katharsis.pathPrefix=/jsonapi` set in application.properties,  you could have your Spring Rest controllers use a path prefix of "/api" for example.  One might want to do this to serve up a different set of controllers for authentication for example.  Or maybe to serve up the url's for the

[2016-02-23 02:16] sgregory32 commented on #245
That might work if I could add the "application/vnd.api+json;charset=UTF-8" media type to the Katharsis supported media types. Is that a possibility?

[2016-02-23 02:23] sgregory32 commented on #245
Sorry, I meant the "application/son;charset=UTF-8" media type.

[2016-02-23 02:25] keithdmoore commented on #245
You could create a filter and do whatever you want based on the media type, etc.  I might be missing exactly what you are trying to do.

[2016-02-23 02:34] sgregory32 commented on #245
I want to have an endpoint that is completely outside of katharsis. It has a complex nested JSON object that I do not want a CRUD repository for that I parse then hit the katharsis repo's.

[2016-02-23 04:40] keithdmoore commented on #245
Ok.  Then what I suggested at the beginning of this thread should work.  Another option would be to maybe add a filter just prior to the Katharsis filter(it is the last one in the chain).  This custom filter would check to see if the request matched a particular route, if it does then break the filter chain.
In your Spring Boot application for example, you have the filter load before the Katharsis

[2016-02-23 04:46] keithdmoore commented on #245
So are you wanting to have a Spring Rest Controller get invoked and then make a call to a ResourceRepository afterwards?   If you want to inject a ResourceRepository in your Spring Rest controller, I suppose you could create an @Bean for it in your application class and then inject it into your Spring Rest controller.  Maybe you should consider a common service class that gets injected into your S

[2016-02-24 02:06] sgregory32 commented on #245
Thanks for your help Keith.

[2016-02-24 02:07] keithdmoore commented on #245
@sgregory32 No problem.  I hope what I provided was helpful.

[2016-02-24 12:28] Sandmania opened #246 "Pojo fields are returned only if parent resource contains field with the same name"
Tested with current jersey-example (2.3.0).

Steps to reproduce:
1. Create a new class called Pojo
2. Add instance variables String name, description. Initialise these as "pojoname" and "description"
3. Add instance variable Pojo to Project resource. Initialise it as new Pojo();
4. Modify ProjectRepository findOne to always return new Project();
5. Start example application
6. Call http://localhos

[2016-02-24 22:50] tdj-br commented on #246
I understood the problem.

In the ContainerSerializer.java (getObjectMapper method) we are adding a filter into object mapper (SimpleBeanPropertyFilter.filterOutAllExcept).

This filter is being used recursively to the object.

I think that the way to fix this is creating a special filter that will handle the allowedFields information correctly (considering root attributes and non root attributes)

[2016-02-25 03:15] sgregory32 commented on #245
I tried a few things which didn't work. I can hit the controller if it is the only component in the @ComponentScan annotation but, then I cannot access the Katharsis repo's. If I add the Katharsis repo package into the @ComponentScan annotation, I can access the Katharsis repo's and not the rest controller. I'm going to try your suggestions again & put more effort into it.

[2016-02-25 06:44] Sandmania commented on #246
If you can give me a nudge to the right direction, I can give it a shot. Thou, I'm gonna start my week long winter vacation tomorrow, chances are that I don't wanna do that much coding :)

[2016-02-25 08:49] keithdmoore commented on #246
Is this an issue that was introduced with the 2.3 release?

[2016-02-25 09:52] Sandmania commented on #246
Not entirely sure. I was previously using 2.1.1 without this problem. I'll try to test this with 2.1.5 and 2.2.0 if I have the time.

[2016-02-25 09:58] keithdmoore commented on #246
@Sandmania Ok. I don't recall having this problem with 2.2 using the Spring example.

[2016-02-25 10:11] hnf1991 opened #247 "Query Parameters ResourceType Issue"
I am using filter query params like this **filter[user-lists][flag]=true.**

But I am unable to access the params by complete resource name i.e. **user-lists**. The param received to me is as '**lists**'.

Is there any bug with '**-**' in resource type name or I am doing something wrong..?

[2016-02-25 13:49] soldierkam commented on #220
@meshuga The same should happen when request contains "include" param. Currently user receive included resources but does not have linkage.

[2016-02-25 14:01] hnf1991 commented on #247
Looks like the pattern used in QueryParams class method **'buildPropertyListFromEntry'** don't entertains the **'-'**. So changing the namingStrategy won't work.

[2016-02-25 15:06] sgregory32 commented on #245
When I set the katharsis.pathPrefix = /api and attempt to hist the rest controller @ /rest/requests, the rest controller never gets hit. I can step through and see it hits the JsonApiFilter but then the rest client receives an HTTP 204 No Content response.

[2016-02-25 20:08] meshuga commented on #245
It would be good to debug through the filter, because Katharsis checks the path prefix.

[2016-02-25 20:10] keithdmoore commented on #245
You might have to put your custom filter up higher in the filter chain.

[2016-02-25 20:22] meshuga commented on #247
Are you sure?
It was fixed in #179

[2016-02-25 21:07] sgregory32 commented on #245
If I set the katharsis.pathPrefix=/api & the rest controller end point to "/requests" and attempt a post, the rest controller never gets hit and I receive a 204 Not content response in the rest client.

If I then set the @ComponentScan({ "....controller"} ) in the application entry point, it will hit the controller which parses the application/json as expected but then the Katharsis repositories d

[2016-02-25 21:16] keithdmoore commented on #245
I think to help you, you will need to post a sample on a fork.  Maybe reproduce the scenario in a fork of the Katharsis Spring example project.

[2016-02-25 21:28] sgregory32 commented on #245
Thank you for your help. I have not modified Katharsis at all. Just trying to get it to work with a rest controller that will take a JSON object (mime type "application/json;charset=UTF-8) with a nested array, parse, and then hit the Katharsis repo's. This became necessary because of the nested JSON array, and the requirement of one post for a complex object. It's an orchestrated endpoint. Perhaps

[2016-02-25 21:31] keithdmoore commented on #245
https://github.com/katharsis-project/katharsis-examples/tree/master/spring-boot-simple-example

[2016-02-25 23:58] keithdmoore commented on #245
@sgregory32 Have you looked at the example I posted?
@masterspambot My point was that the example does what it sounds like is being attempted by @sgregory32.  In `SpringBootSimpleExampleApplication.java`, you will find a `RestController` with the path prefix `/resourcesInfo`.  In `application.properties`, you will find `
katharsis.pathPrefix=/api`.  So the example project serves up "Katharsis" mod

[2016-02-26 00:26] sgregory32 commented on #245
Hi Keith. I did look at as well as tried to implement it. When I debugged, it never hit the request mapping in the application.

 If I add the component scan with the controller packer I can parse the complex JSON object (which doesn't have associated repo's and relationships) and hit the repo's and create all of the resources but then if I try to hit the repo's with jsonapi syntax... http:localho

[2016-02-26 00:34] keithdmoore commented on #245
@sgregory32 Ok.  I will take a look as well.  It may be that the recent upgrade to 2.3 has broken something.

[2016-02-26 02:43] keithdmoore commented on #245
@sgregory32 Looks like the problem is a Spring configuration issue.  2.2 and 2.3 work out of the box.  I see what you are experiencing now when you try to create a rest controller outside of the SpringBootApplication class.  I am currently using a Spring Boot/Jersey-rs/Katharsis Spring configuration where I have auth running as a Jersey RS resource.  I am able to serve up both Jersey resources as

[2016-02-26 03:03] keithdmoore commented on #245
@sgregory32 I managed to get this to work in the spring-boot example.  I am planning on making some enhancements to that project as time goes on to demonstrate a variety of things.  However, here is what I did.  Maybe you can try something similar.

Add this to SpringBootSimpleExampleApplication.java
[code]
Move the getResources method accordingly
[code]
Change the katharsis path prefix as follows

[2016-02-26 07:59] hnf1991 commented on #247
oh.. thanks :)
I was using on previous version

[2016-02-26 07:59] #247 closed

[2016-02-26 13:31] tdj-br commented on #246
@keithdmoore This behaviour was introduced with the change of attributes serializing.

The problem occours when you have an attribute that is an object. I didn't figured this issue because i always reference objects with the toOne annotation, so the "nested" objects are linked resources and not attributes.

Does anybody know if this type of attributes is compliant with JSONAPI and jsonapi clients?

[2016-02-26 14:11] Sandmania commented on #246
"Complex data structures involving JSON objects and arrays are allowed as attribute values."

http://jsonapi.org/format/#document-resource-object-attributes

[2016-02-26 14:21] tdj-br commented on #246
Good, so for these objects, we will like for "IncludeByDefault" annotations? Or this complex data structures will be rendered as a regular object, only looking for the jackson annotations?

[2016-02-26 16:07] tdj-br commented on #246
I'm writing a fix considering that this inner objects will not support JsonApi annotations, only Jackson annotations.

[2016-02-26 16:21] Sandmania commented on #246
Imho these should be always included by default.

[2016-02-26 16:22] tdj-br commented on #246
Yes, because they are not resources, they are complex attributes...

[2016-02-26 16:31] tdj-br commented on #246
Fixed, let's wait for merge.

[2016-02-26 16:37] Sandmania commented on #246
Thanks! You should consider removing the system.out.printlns

[2016-02-26 16:47] tdj-br commented on #246
Yeah I removed just after the first commit. Tks

[2016-02-26 16:50] keithdmoore commented on #246
@tdj-br  All things considered, I think this is a reasonable approach.

[2016-02-26 17:55] sgregory32 commented on #245
I tried your solution again. The first problem was I cannot autowire anything when I use the component scan annotation with the controller & domain packages. I got around this by creating singletons for reusable objects and creating new instances of the repo objects each time I used them. I tried creating a new instance of the ResourceRepository  in the rest controller like this:

private Resource

[2016-02-26 18:15] keithdmoore commented on #245
Show me some code please.

Pecked out from my iPhone

[2016-02-27 00:10] #225 closed

[2016-03-02 09:15] hamiller opened #249 "Add possibility for prefix to a specific resource url"
Please **add the possible to change the path or add a prefix for a repository**.
This feature is crucial for versioning.

Maybe something like `@Path("version1")` could also be interpreted - or an optional field in `@JsonApiResourceRepository(path_prefix="version1")`

### Wished behavior example
Current: `localhost/MyApp/myendpoints`
wanted: `localhost/MyApp/version1/myendpoints`

### Wished behav

[2016-03-02 14:35] csetera opened #250 "Deploying Katharsis 2.3.0 into Wildfly"
We are a bit downlevel on Katharsis versions and wanted to upgrade to 2.3.0 to pick up the changes and bug fixes.  Unfortunately, it appears that the base Jackson version has been upgraded beyond what Wildfly supports out of the box.  The latest Wildfly (v10) still only has version 2.5.4 of Jackson libraries, while it seems that the newer version of Katharsis requires a 2.6.x version.

I've tried

[2016-03-02 14:54] keithdmoore commented on #249
Maybe the media type could be used for specifing the version.

[2016-03-02 15:41] hamiller commented on #249
Shouldn't that be `application/vnd.api+json` everytime?
An additional header field is one option for versioning, but I think it should be possible to do it by URL.

[2016-03-02 17:43] meshuga commented on #250
I've also been trying to set up a working example with Wildfly, but Jackson seems to be just to new for his AS :disappointed:

[2016-03-02 17:56] csetera commented on #250
What is lost in Katharsis if an older version of Jackson is used?

[2016-03-02 18:08] meshuga commented on #250
It just won't work. Two methods which are available since v 2.6 are used and the app will crush with `NoSuchMethodError`.

[2016-03-02 18:26] csetera commented on #250
I will see if the Wildfly project can offer any help.

[2016-03-02 18:53] meshuga commented on #250
Great idea! I hope someone solved this problem.

[2016-03-03 09:12] hnf1991 opened #251 "Embeddable Id as JsonApiId"
I am having a composite primary key and I am using it as EmbeddedId.
But when this id is returned to me from Katharsis Resource Repository it is like below:

`
{
  "data": {
    "type": "users",
    "id": "com.model.UserId@22b1aeae",
    "attributes": {
      "name": "aaa"
    }
}
`
How to handle this composite primary key behavior?

[2016-03-03 19:17] ctapaswi commented on #194
Guys I am facing the same issue now. I have integrated Katharsis for adding JsonAPI compliance for our APIs. But I am not sure how can I do following

- Something like RolesAllowed annotation so I can abort response before it ever reaches repository method when user is not in the role required by method
- Any other custom annotation that I can add to repository method so in post matching phase, my

[2016-03-03 19:43] keithdmoore commented on #194
If you are using Spring,  you can use Spring Security annotations.  This assuming you have added the RoleAuthorities as part of your authentication process.  https://docs.spring.io/spring-security/site/docs/current/reference/html/el-access.html.

[2016-03-03 20:13] ctapaswi commented on #194
Thanks, but I am using Jersey on tomcat. I have enabled RolesAllowedDynamicFeature but thats not going to work because Katharsis filter just dispatches the request to repostory method.

For doing any filtering based on custom or in built annotations, we need to have the ability to add post matching filters before resource method is called and that does not seem to be possible.

Also @meshuga even

[2016-03-03 20:15] meshuga commented on #251
Wow, when I was implementing resource identifier functionalities there was a requirement that it must be a String. Now there's no such requirement - http://jsonapi.org/format/#document-resource-identifier-objects

[2016-03-03 20:18] meshuga commented on #194
You can do sth like:
[code]
Note that it's supported only in annotation based repositories.

[2016-03-03 20:23] ctapaswi commented on #194
Thanks for the quick response. let me give that a shot.

[2016-03-03 20:30] hnf1991 commented on #251
How can this behavior be handled now..?. toString implementation is ok for GET request but not with POST or PATCH.
Anything that can help me out for now..?

[2016-03-03 20:54] hnf1991 commented on #251
May be If repository or jsonmodel can provide the user to override the TypeParser for his Composite Ids so he can parse his Id the way he want.. But still lot of refactoring will be required for this

[2016-03-03 21:57] ctapaswi commented on #194
@meshuga

#1 I changed my repo to be annotation based but SecutiyContext is coming in as null, even though in a separate pre-matching filter I am setting it as follows

Pre Matching filter
request.setSecurityContext(new RequestSecurityContext(new Member(), false));

Annotation based repo
@JsonApiResourceRepository(value = Member.class)
public class MemberResourceRepository {

    @JsonApiFindOne

[2016-03-03 21:59] meshuga commented on #251
You can always take this issue and implement it :wink:
I can help you and write what do do.

[2016-03-03 22:06] meshuga commented on #194
ad. 1 Are you sure it's fired before Katharsis? Security context is just taken from the request by this class: https://github.com/katharsis-project/katharsis-rs/blob/development/src/main/java/io/katharsis/rs/parameterProvider/provider/SecurityContextProvider.java#L12

ad. 2 I think it should be possible using `@javax.annotation.Priority` annotation. It's the last one executed type of filter - http

[2016-03-03 22:15] ctapaswi commented on #194
#1 Yes i know that because I have break point there and I am populating request context with my own security context.

#2 So my pre-matching filters are getting called but, post matching is not getting called, with any value for priority. I want a apost matching filter because I need to know which method Katharsis selected so I can get annotations on that method and then perform any logic based on

[2016-03-04 05:16] asadyarkhan007 commented on #251
I am having the same issue. @meshuga you should have consider this case in your core API.

[2016-03-04 19:17] ctapaswi commented on #194
Any thoughts @meshuga?

[2016-03-04 19:55] meshuga commented on #194
There's no way it can be done. Just after Katharsis matches the controller, the request is executed.

[2016-03-04 20:17] ctapaswi commented on #194
Thanks. But then does that mean that every repository method has to have a duplicate code which validates for incoming request, like Authorization etc?

[2016-03-07 19:28] meshuga commented on #250
https://issues.jboss.org/browse/WFLY-5911

[2016-03-07 19:32] keithdmoore commented on #20
I will work on it this week

[2016-03-07 19:33] #246 closed

[2016-03-07 20:36] #220 closed

[2016-03-09 09:13] szubtsovskiy opened #258 "@JsonApiRelationshipRepository and @Transactional in Spring Boot"
Hi there! It seems like it is impossible to use Katharsis in a transactional manner in a Spring Boot app.
When I add `@Transactional` annotation to a class annotated with `@JsonApiRelationshipRepository` or to a method within such a class I get NPE:

	at io.katharsis.spring.KatharsisFilterV2.invoke(KatharsisFilterV2.java:104) ~[katharsis-spring-2.3.0.jar:na]
	at io.katharsis.spring.KatharsisFilter

[2016-03-09 19:28] szubtsovskiy commented on #258
@masterspambot not actually. It's needed to travel the whole class hierarchy when looking for a specific annotation. I have just tried it in a debugging session and found the annotation on super class.

I'll fix it in the fork and submit a pull request. Though by the moment I have no idea how to write a test for it, but will check!

[2016-03-09 19:40] meshuga commented on #258
Now I see :smile:
It might also solve the problem @Sandmania had in #217 (the same NPE, although he used Jersey).

I think a test case which just creates a new instance of `AnnotatedRelationshipEntryBuilder` and tests `AnnotatedRelationshipEntryBuilder#getTargetAffiliation` will work. As a hint, there's already a method which can traverse inheritance path when looking for an annotation, it's `io.k

[2016-03-09 21:15] szubtsovskiy commented on #258
@meshuga thanks for the hints! Here you are! #259

[2016-03-09 21:20] #258 closed

[2016-03-09 21:20] szubtsovskiy opened #260 "Spring Boot app fails to start if there is a @Transactional annotation on class implementing RelationshipRepository"
One more problem when using `@Transactional` repositories in Katharsis. If I try to implement RelationshipRepository instead of annotating the class with `@JsonApiRelationshipRepository` I get the following exception on the application startup:

	at org.springframework.beans.factory.support.SimpleInstantiationStrategy.instantiate(SimpleInstantiationStrategy.java:189) ~[spring-beans-4.3.0.BUILD-SNA

[2016-03-09 21:21] meshuga commented on #258
Thanks!

[2016-03-09 21:23] szubtsovskiy commented on #258
BTW, there is a worse case: #260. However, now there is a workaround for it.

[2016-03-09 22:20] meshuga commented on #260
Well, what do know about how transactions are implemented in Spring? :wink:
As you mentioned, it might be much harder to make Katharsis provide Spring transactional behavior e.g. `TransactionProxyFactoryBean` should be used - at least I think from what I found from Spring docs.

[2016-03-09 23:00] szubtsovskiy commented on #260
Well, I don't know much in details. There is a lot of magic done under the
hood.

I don't think we should speak about providing transactional behavior in
Katharsis, this is not Katharsis issue. There is an integration issue which
might be solvable since in the app itself transactional beans are autowired
by class and it works well.

I might look into it because I am curious but since it works with

[2016-03-10 02:12] cjc343 opened #261 "Support @JsonView annotations on Repository methods and Object fields/methods"
When writing JAX-RS endpoints, you can annotate both an endpoint and some object field with `@JsonView(SomeClass.class)`.

Other endpoints/fields may be annotated with a different view, say `@JsonView(AnotherClass.class)`.

This allows different endpoints to deliver different representations of the data. Here's a basic example of what I'd like to be able to do:

[code]
[code]

This allows the proj

[2016-03-10 05:39] keithdmoore commented on #260
I am using the
`@Component`,`@JsonApiRelationshipRepository(source = Project.class, target = Task.class)`,
`@Transactional annotations.  I am NOT seeing this issue occur with 2.2.  I suspect this was introduced since that release.  I am able to reproduce the exception with 2.3.

[2016-03-10 06:12] Sandmania commented on #258
Oh boy indeed, hoping this fixed #217 as well :)

[2016-03-10 09:23] szubtsovskiy commented on #251
@hnf1991 would it work if you changed your `UserId getId()` and `setId(UserId id)` to `String getId()` and `setId(String id)`? In this case you could serialize/deserialize your composite ID in the getter and setter and still have it working with JPA (or what you are using?) by annotating the field (not the method) with `@EmbeddedId`. JPA would set the value directly to the field and Katharsis woul

[2016-03-10 09:25] hnf1991 commented on #251
Yup. This is what we did :)

[2016-03-10 09:25] #251 closed

[2016-03-11 03:18] #20 closed

[2016-03-11 17:27] Sandmania commented on #20
@keithdmoore you didn't happen to test a jersey version of this?

[2016-03-11 18:31] keithdmoore commented on #20
@Sandmania The implementation is very Spring specific.  Although, I have done something similar using Jersey.  If I have time, I might implement it in the jersey-rs example project as well.

[2016-03-12 12:19] LiuXiaoJie commented on #245
[code]
We have a back-end project which uses spring-boot. Some code in the restController is shown as above. The myEntityRepository is a pure JpaRepository, and we don't plan to inject Katharsis into it. In fact, we only want to use Katharsis in the controller and DTO layer.
As normal, myEntityDTO is deserialized by jackson, now I want it to be deserialize by Katharsis as it is a json:api resource

[2016-03-14 16:10] robmartin0 commented on #210
I also need to determine which attributes the client attempted to update with their PATCH request. At the moment I have to create a proxy object in my "@JsonApiFindOne" method to track what ResourcePatch modifies before it hits my save method. Not pretty so it would be great if Katharsis could provide info of which attributes were modified.

[2016-03-15 19:14] datagitlies opened #262 "control over meta (or links) object in resources"
With katharsis, is it possible to control / include the meta (or links) object inside of a resource as [the specification implies](http://jsonapi.org/format/#document-resource-objects)? I want to include information about a resource that can not be represented as an attribute or relationship. Creating / using the top-level meta object ([@JsonApiMeta](https://github.com/katharsis-project/katharsis-

[2016-03-15 20:52] meshuga commented on #262
I've been thinking about returning an object of type, let's say `ResourceResponse` which will include a resource object and some other relevant information like meta information. It's possible to do it for annotated repositories since the return type is not so restricted as in interface-based repos.

[2016-03-15 21:12] meshuga commented on #217
I close this issue since the origin problem concerned DI proxied repositories which had been solved in #258. The issue I found in https://github.com/katharsis-project/katharsis-core/issues/217#issuecomment-181563947 can be solved using proxied service instances. The example of how to do that in Jersey is here: https://github.com/katharsis-project/katharsis-examples/blob/master/jersey-example/src/m

[2016-03-15 21:15] meshuga commented on #262
Here it's better to create a new abstraction rather than extend the existing one (in this case a resource definition).

[2016-03-15 21:17] datagitlies commented on #262
Yeah, something like having a more complete set of annotations at your disposal (the last two are my additions).

- `@JsonApiResource`
- `@JsonApiId`
- `@JsonApiToOne`
- `@JsonApiToMany`
- `@JsonApiMetaInformation`
- `@JsonApiLinksInformation`

[2016-03-16 12:22] Sandmania opened #263 "Non-annotated nested resource ID is not returned"
Lets say I want to return a ` List<Task> someOtherTasksNoAnnotation` in my `Task.java`. Because of reasons, I want the task list to be returned in the attributes section instead of includes, and thus I do not annotate it with `@JsonApiToMany`.

**Expected result:**
All task fields are returned in the response under `"attributes":{"someOtherTasksNoAnnotation":[{}]}`

**Actual result:**
Field with `

[2016-03-17 12:04] ieugen opened #264 "Make handle method throw unchecked exception instead of Exception"
Hello,

While working on the katharsis vertx integration I ran into the checked Exception of the `handle()` method. This forces me to write handle that exception in async code in places I shouldn't.

There is a common feeling on the web that checked exceptions are bad for you. I suggest we move to an unchecked exceptions and let the user do what he believes is best.

I suggest throwing an exceptio

[2016-03-17 23:07] ctapaswi commented on #194
@meshuga one more question, if in the same app I need to support has following paths

/api/v1/someRoot/path1/
/api/v1/someRoot/path2/
/api/v1/someRoot/path2/path3

How do I created resources and resource repositories that will correctly map these paths?

[2016-03-21 19:44] jps1982 opened #265 "Possible Enhancement: Optional QueryParams argument with @JsonApiMeta"
I am trying to implement pagination and I have a "total-count" metadata field in my JSON:API messages similar to the example here: http://jsonapi.org/examples/#pagination

My current use case is:
[code]

and

[code]

This solution works fine when there are no filter parameters applied, but when using filtering, my query to get the total count of users also needs to take the filter parameters into

[2016-03-21 19:57] meshuga commented on #265
It should be possible to get `QueryParams` when using `@JsonApiMeta` annotated methods. Sth like this should do the job:
[code]

[2016-03-21 20:44] jps1982 commented on #265
Looks like that worked.  Thanks!

I was reading this enhancement and had another question along the same lines: https://github.com/katharsis-project/katharsis-core/issues/103

Is it possible to pass additional parameters in the 'delete' method as well?

Example:

[code]

[2016-03-21 20:56] meshuga commented on #265
yes, it is

[2016-03-21 21:06] jps1982 commented on #265
Cool.  Thanks again.

[2016-03-21 21:06] #265 closed

[2016-03-21 21:07] meshuga commented on #265
No problem! :smile:

[2016-03-21 22:40] meshuga commented on #262
There will be two additional types of annotations `@JsonApiMetaInformation` and `@JsonApiLinksInformation`, which can be used to annotate a resource to get meta/links information per resource.

Thanks for the issue @datagitlies !

[2016-03-22 15:18] robmartin0 opened #267 "Support for dynamic resource attributes"
It is often the case that we don't have a rigid schema for a resource and instead want many, if not all, of our attributes to be dynamic in nature, acting like a simple map. It would be extremely useful if we could use the @JsonAnyGetter/@JsonAnySetter annotations in our resources to achieve this. Furthermore support for the @JsonUnwraped would also be much appreciated.

[2016-03-22 16:37] datagitlies commented on #262
Wow!  That's awesome.  Thanks for taking on this enhancement so quickly! :+1:

[2016-03-22 17:52] meshuga commented on #267
Looks like some good ideas!

[2016-03-22 19:08] #263 closed

[2016-03-22 19:09] meshuga commented on #263
Thanks for the issue!

[2016-03-22 19:21] #243 closed

[2016-03-22 19:27] meshuga commented on #243
I added some JavaDoc for this annotation. It doesn't matter if this or any Katharsis or even Jackson annotations are placed on a field or a method and when a relationship has no assigned value, according to JSON API and Katharsis implementation, the value should be `null` or `[]` -  http://jsonapi.org/format/#document-resource-object-linkage

[2016-03-23 22:43] ctapaswi commented on #194
@meshuga, if I need to include a complex object inside my resource without any relation katharsis is not serializing it. For example

@JsonApiResource(type= "tasks")
public class Foo {
    @JsonApiId
    private String id;
    private String simpleStr;

    @JsonProperty("someProperty")
    private ComplexObject complexObject = null;

Now when I call Foo resource API its not serializing ComplexObj

[2016-03-23 23:00] cparker92 opened #271 "relationship resource values are not overwritten if the resource repository sets the related object first"
See PR for a detailed explanation: https://github.com/katharsis-project/katharsis-core/pull/270

[2016-03-24 18:59] cparker92 commented on #194
@ctapaswi I think you could solve your authentication problem by implementing a [RequestContextParameterProvider](https://github.com/katharsis-project/katharsis-rs/blob/development/src/main/java/io/katharsis/rs/parameterProvider/provider/RequestContextParameterProvider.java). You could add an extra parameter to your repo methods with any annotations you want and then in the provide method you can

[2016-03-24 20:05] meshuga commented on #271
Thanks for the issue and PR!

[2016-03-24 20:05] #271 closed

[2016-03-25 16:42] ctapaswi commented on #194
Thanks @cparker92,  yeah this was suggested before, the problem is that means for every method we will have to call "filter" to authorize. With jersey filters I just write those and they are called by the framework before my resource API is invoked. This way by the time by resource API is called these things are taken care of.

[2016-03-29 08:24] ieugen opened #273 "swagger-katharsis (community growth)"
Hello,

I'm looking for API docuemntation adn I found [1] . It's a bit behind but I think it can be improved and it would be nice to have it as part of the community.

I propose we ask @woonsan if he is willing to maintain swagger-katharsis as part and under katharsis-project, provided of course the other team members agree.

Wdyt @meshuga , @masterspambot ? I'm willing to contribute to the projec

[2016-03-29 13:10] woonsan commented on #273
I'm very willing to put that in katharsis-project if accepted. :-) Actually my goal was to make it working with basic features at least and propose it to katharsis. But unfortunately, I couldn't find enough time to make it for some other work to do. Its status is just an initial experiment at the moment.
Anyway, I guess we have another volunteer at least to make it work. So, I'm very willing to wo

[2016-03-29 13:19] keithdmoore commented on #273
There is also this placeholder project. https://github.com/meshuga/katharsis-springfox

[2016-03-29 15:15] ieugen commented on #273
@masterspambot The idea behind a community is to give authority. WIth authority comes responsability [1] .

If we have an open process of how people can contribute then things can move with minimal intervention.

Regarding my work on katharsis-vertx: I can allready publish to jcenter. I'm going to sync with Maven tomorrow. Other then that, most of the features are ok.

@keithdmoore :  what about s

[2016-03-30 21:23] csetera opened #274 "Filtering implementation versus documentation issues"
There appear to be some typos in the Katharsis filter docs.  I have done a quick look through latest code, and these issues appear to still be relevant.

## Special Characters not Accepted
Filter can be defined with special characters (to indicate an operation).  The example doc has:

`GET /tasks/?filter[tasks][name][$startWith]=Super task`

Looking at the implementation in QueryParams.buildProper

[2016-03-31 13:52] milanogc opened #275 "Relationships with ids, not entities"
Hi!

I have the following DTO, which has an recursive association:

[code]

So, instead of having a list of entities, it has a list of ids. I would like that this relationship to be lazy = false, because all accounts (a tree) are loaded with a single call to "/accounts" (findAll).

Could it be done with Katharsis?

Thank you!

[2016-03-31 15:03] amccormic opened #276 "Support for nested resource URL's"
It's not always the case that a resource's id is globally unique. It might only be unique within in the context of a parent.

For example a `project` may represent a different data store and the id's of it's `tasks` may conflict with `tasks` in another `project`. It wouldn't make any sense to expose URLs
for `tasks` at the root level but instead you need to access them from the context of a `proje

[2016-03-31 16:55] ieugen commented on #276
I think I have a similar issue. I'm using katharsis-vertx so it might be a bit different.
I'm trying to have multiple katharsis instances to serve resources on multiple paths.

E.g.

/assessments -> are served by a set of resources and resource repositories
/account/assesssments -> are served by anther set

Right now, the issues I have is that serialization of the links does not work as expected.

[2016-03-31 19:26] milanogc commented on #275
Similarly with JPA you can use `@ManyToOne` and `@OneToMany` annotations and specify the targetEntity element.

http://docs.oracle.com/javaee/7/api/javax/persistence/ManyToOne.html#targetEntity--
http://docs.oracle.com/javaee/7/api/javax/persistence/OneToMany.html#targetEntity--

[2016-03-31 19:52] meshuga commented on #275
Currently, it's not possible to define relationships in such way, but it might be a good idea to add `targetEntity` attribute to relationship definition.

[2016-03-31 22:40] andy36 opened #277 "Trying to include resource"
I have a user with a one to many relationship (for example: cars)
A car has a @JsonApiToOne relationship on it (for example: manufacturer)
I'm making the call user/{id}/cars and I want to include the manufacturer information in the include block using the include query param. Can I do that? How can I do that?

[2016-04-01 15:17] pcdwr opened #278 "Comma delimited query string parameter value"
As a caller I would like to be able to pass a comma delimited set of values for a query parameter.

In the current version the DefaultQueryParamsParser returns a map - ` Map<String, Set<String>> `  however there is only one entry in the set for a given key even if a comma delimited value is passed for the parameter.

Currently to request a sparse fieldset of more than one field the following query

[2016-04-01 18:03] #274 closed

[2016-04-01 18:04] meshuga commented on #274
You were right. Thanks for the issue!

[2016-04-01 18:44] meshuga commented on #278
You can implement your own `QueryParamsParser` to split passed query value into a set of values. Take a look at the example below:

[code]

The created parser can be passed to Katharsis by any adapter e.g. here: https://github.com/katharsis-project/katharsis-examples/blob/master/jersey-example/src/main/java/io/katharsis/example/jersey/KatharsisDynamicFeature.java#L16

[2016-04-01 18:59] meshuga commented on #277
In `findOne` method of user repository the created object should have initialized a list of cars and for each car there should be associated list of manufacturers. Then for requests like `user/{id}/cars?include[user]=cars.manufacturer` you should be able to get included manufacturers.

[2016-04-01 19:09] meshuga commented on #276
According to JSON API a resource i uniquely identified by a type and associated id (http://jsonapi.org/format/#document-resource-object-identification).
I've been thinking about nested resources, but decided not to implement it because it would require lots of decisions concerning the nested resource e.g. what to do when top level resource is removed or how to define this composition from normal a

[2016-04-01 20:30] meshuga commented on #250
https://github.com/wildfly/wildfly/pull/8519

[2016-04-02 16:24] danielmischler opened #280 "Upgrade jackson version to 2.7.x"
With Dropwizard nearing 1.0 that's including jackson 2.7.3 it would be great to have katharsis moving along. This would make the new PropertyNamingStrategy KEBAB_CASE available.

[2016-04-02 21:40] meshuga commented on #280
Ok, newest Wildfly will probably upgrade to 2.7.1, current spring version also use 2.7.1, so it might be a good idea to move forward.

[2016-04-04 05:03] ieugen commented on #280
I would do the version migration as a new minor release.
Also if there katharsis does not ue any of the jackson 2.7.x API's directly then there is _no reason_ to upgrade. Use the lowest version an let clients decide which one they use. It's common best practice in scenarios like this.

[2016-04-05 08:49] olabomba commented on #280
Annotated.construct signature has changed in Jackson 2.7, so the code "AnnotatedClass.construct(field.getDeclaringClass(), aintr, serializationConfig)" (from ResourceFieldNameTransformer class) isn't compatible anymore when we want to use a SerializationConfig.

So, we can't use the new KEBAB_CASE strategy...

[2016-04-06 19:49] #267 closed

[2016-04-06 19:50] meshuga commented on #267
Thanks for the issue!

[2016-04-06 19:56] meshuga commented on #280
Both of what @ieugen and @olabomba is important, so to allow the users to use Jackson 2.7+ and lower versions I'll refactor the code to find out which Jackson version is available and then use proper `com.fasterxml.jackson.databind.introspect.AnnotatedClass#construct` method.

[2016-04-06 20:51] #280 closed

[2016-04-06 20:55] meshuga commented on #280
Now it's possible :wink:
I'll obligate myself to make a new release (2.3.2) at the end of this week

[2016-04-07 16:02] pcdwr commented on #278
Thanks for the example this worked well for the comma delimited parser.

[2016-04-07 16:03] pcdwr opened #283 "Inject QueryParams class"
Would  you look at converting the QueryParams class to an interface and allowing it to be injected? I have a use case for some custom query params and I would like to store them as TypedParams.

[2016-04-07 16:10] pcdwr opened #284 "OPTIONS request"
Could you look at adding a ResourceOptions controller? I wrote my own but I had to override several Katharsis classes and inject my own RequestDisptacher. It would be nice if I could just annotate a function in the ResourceRepository to handle the OPTIONS call. Thanks again for you help. I really enjoy using Katharsis.

[2016-04-07 16:34] meshuga commented on #278
Great! I'll include this class in katharsis-core and write some docs.

[2016-04-07 20:39] #278 closed

[2016-04-07 20:42] meshuga commented on #283
I think it might be better to implement own `io.katharsis.queryParams.QueryParamsBuilder` and make the builder method return a class that inherits from `QueryParams`.

[2016-04-07 20:54] meshuga commented on #284
But you can create a list of base Katharsis controllers from `DefaultControllerLookup#getControllers` method, add custom ones and then pass the list to new instance of `ControllerRegistry`. It's pretty straightforward way.

[2016-04-08 14:03] cyclops23 commented on #262
When I use the @JsonApiMetaInformation annotation I find that although the meta member appears correctly, the data member also includes the annotated field (i.e. I get a duplicated meta member under data *and* under data.attributes)

I see there are some exclusions passed in when writing the attributes, but those exclusions do not include the new links/meta fields...perhaps they should be added to

[2016-04-08 17:35] pcdwr commented on #284
That works. Thanks.

[2016-04-08 17:36] pcdwr commented on #284
Good solution. Thanks.

[2016-04-08 17:47] pcdwr commented on #283
All the setters in QueryParams are private so I effectively have to recreate the whole class even if I inherit from the base class. I guess that is the same as injecting my own. Any chance you could make the setters public so I can extend the class and just add the custom QueryPrams? I just saw https://github.com/katharsis-project/katharsis-core/issues/237 <https://github.com/katharsis-project/kat

[2016-04-09 19:49] meshuga commented on #262
I'll take a look at this

[2016-04-09 20:47] #262 closed

[2016-04-09 20:51] meshuga opened #288 "Repository extended return values"
It should be possible for retrieving methods in annotated repositories to return a wrapper which will contain the following values:
* Resource(s) or relationship information(s)
* Meta information
* Links information

Additionally, `FieldRepository` should be removed.

All of these values should be put in the top level document (http://jsonapi.org/format/#document-top-level).

[2016-04-13 21:32] cparker92 opened #289 "Can't throw an exception from relationship repo when 'include' param is used."
Given a Task with a ToOne relationship to a Project, and the TaskToProjectRepositry.findOneTarget method looks like this:
[code]
Assume there is no ExceptionMapper case for IAE...

/tasks/1234/project
will throw a 500, as expected

/tasks/1234?include[tasks]=project
returns 200, along with the resource, and an empty included array
[code]
You can also check the logs to verify the exception was thro

[2016-04-14 13:08] olabomba opened #290 "Compatibility with Spring Security - EnableGlobalMethodSecurity"
Hello,
I do not know if it is clean to my setup but impossible to operate a repository Katharsis with methods annotated via Secured or PreAuthorize.
I always get the following error:

`Caused by: org.springframework.beans.BeanInstantiationException: Failed to instantiate [org.aopalliance.intercept.MethodInterceptor]: Factory method 'methodSecurityInterceptor' Threw exception; nested exception is o

[2016-04-14 18:00] meshuga commented on #290
It's similar to the thing I've encountered and described in https://github.com/katharsis-project/katharsis-core/issues/217#issuecomment-181563947. The repository instances are created at the initialization time.

[2016-04-14 20:25] #264 closed

[2016-04-14 20:25] #289 closed

[2016-04-14 22:06] meshuga commented on #250
https://github.com/katharsis-project/katharsis-examples/issues/17

[2016-04-14 22:06] #250 closed

[2016-04-15 06:58] d80harri commented on #277
Hi folks, Hope you don't mind if I high-jack this thread as I am (probably) facing the same problem.

I have two resources (Flow and FlowItem) and a repository for each of them. A flow has a @JsonApiToMany relationship to a list of FlowItems. A flowItem on the other hand has a @JsonApiToOne relationship to its Flow.

GET /flows?include[flow]=items works as expected. It returns all flows and each i

[2016-04-15 16:08] olabomba commented on #217
Okay, I see, you close it, but I'm not sure how to find a workaround for the issue I described in Spring in #290 .. can you give me some advice ?

[2016-04-15 16:24] meshuga commented on #290
Could you pastę a gist so I could take a look at It?

[2016-04-15 19:18] meshuga commented on #217
Can you paste a gist so I could take a look at it?

[2016-04-15 19:40] #284 closed

[2016-04-15 19:41] #236 closed

[2016-04-15 20:43] #217 closed

[2016-04-15 20:43] #290 closed

[2016-04-17 12:17] meshuga commented on #277
Does your FlowItem repository `@FindAll` method return a reference to a flow along with the items?

`@JsonApiIncludeByDefault` annotation makes relationship resources to be included  in `include` section, `@JsonApiLookupIncludeAutomatically` allows Katharsis to fill in relationships using relationship repositories and `@JsonApiToMany(lazy = false)` enforce Katharsis not to include relationship inf

[2016-04-18 08:12] olabomba commented on #217
Hello,
Ok, it's exactly what I want to do !
Do I have to conclude that I have to wait for a release and this commit (https://github.com/katharsis-project/katharsis-core/commit/f5005eb289e9bfed1a16c68363947d1f18566080) ?
(You mention it in the #290 issue)

Thank you !

[2016-04-20 09:52] ashishgodani opened #294 "toString() for Types like QueryParams"
This is a feature request - it would be great to have a proper toString() implementation for the types like QueryParams. At the moments it just prints the objects code which is not very useful and if the user has to implement it, it would result in lot of custom code. Hence this looks like the most appropriate place.

[2016-04-20 09:52] ashishgodani commented on #294
Just edited the title

[2016-04-20 10:58] robmartin0 opened #295 "Unsupported Method requests result in a 500 error instead of a 405"
If a method is not supported for an endpoint then ControllerRegistry throws a MethodNotFoundException. This class has default access level meaning it is not possible to write a JsonApiExceptionMapper to do the mapping manually.

[2016-04-20 11:16] robmartin0 commented on #295
Also there seems no way to map a JsonParseException to a response code, for example 400. It currently returns a 500 as well.

[2016-04-20 14:18] yannissgarra opened #296 "Wrong relationships url"
Hi !
These are my two entities :

    @JsonApiResource(type = "languages")
    class Language {

        @OneToMany(mappedBy = "language")
        @JsonApiToMany
        Set<SiteUrl> siteUrls
    }

    @JsonApiResource(type = "site-urls")
    class SiteUrl {

        @ManyToOne
        @JoinColumn(name = "language_id")
        @JsonApiToOne
        Language language
    }

But, when I read JSON f

[2016-04-20 18:00] meshuga commented on #296
It's not a bug, you just defined a to-many relationship of **type** `site-urls` with a name `siteUrls`. Imagine a more extended case i.e.
[code]

[2016-04-21 07:31] yannissgarra commented on #296
Hi!

Ok, but I've defined KEBAB_CASE for Jackson : `spring.jackson.property-naming-strategy: KEBAB_CASE` and it works like a charm for "classic" fields (since your last correction about that), but not for "relationship" fields which stay in CamelCase.

So, I think there is a bug.

[2016-04-21 09:28] yannissgarra commented on #296
Moreover, as I've defined `KEBAB_CASE`, I can see nested relationships inside JSON `data.attributes`, under kebab_case format element, and relationships in CamelCase, i.e.

    {
      "data": [{
          "type": "languages",
          "id": "1",
          "attributes": {
              "name": "English",
              "site-urls": [{
                  "id": 1,
                  "domain": "www.exa

[2016-04-21 14:23] olabomba opened #297 "Wrong type returned with inheritance"
Hi,
We have a ShopSite entity which extends Site entity.

This is the generated JSON:

[code]

We can see that the "data" type of the first relationship is "sites", but we think the value should be "shop-sites".
We tried with ember as client, and the inheritance mechanism does not support the value "sites" for this case. When we change the value "sites" for "shop-sites", all is working perfectly.

[2016-04-21 17:48] d80harri commented on #277
Yep it does:

[code]

FlowItem:
[code]

Flow:
[code]

![tooltip_002](https://cloud.githubusercontent.com/assets/148149/14718649/2e7a6410-07f8-11e6-9ced-37b16f9914d1.png)

GET http://localhost:8080/api/flow.items/flowitem.hollow?include[flow.items]=flow

RESPONSE BODY:
[code]
Using io.katharsis:katharsis-spring:2.3.1

Thanks for your time.

[2016-04-21 18:54] meshuga commented on #296
Oh, yes, it's an inconsistency. Relationship names should respect Jackson property naming strategy.

[2016-04-21 19:27] meshuga commented on #277
There's still a problem with a regex in https://github.com/katharsis-project/katharsis-core/blob/development/src/main/java/io/katharsis/queryParams/QueryParams.java#L357
It should be `[^\\]\\[]+(?<!\[)(?=\])`.

[2016-04-21 19:44] #277 closed

[2016-04-21 20:07] meshuga opened #299 "Allow metrics collection"
Add metrics functionality for Katharsis. It should be possible to integrate with web framework functionalities e.g. Dropwizard/Jersey metrics (https://dropwizard.github.io/metrics/3.1.0/apidocs/com/codahale/metrics/jersey2/InstrumentedResourceMethodApplicationListener.html) or Spring metrics (https://docs.spring.io/spring-boot/docs/current/reference/html/production-ready-metrics.html). It should b

[2016-04-21 21:00] #288 closed

[2016-04-21 21:08] #294 closed

[2016-04-21 21:18] meshuga commented on #297
Yes, the type shouldn't be taken from relationship definition but extracted from a relationship resource.

[2016-04-21 21:41] #297 closed

[2016-04-22 07:31] yannissgarra commented on #296
Yes, I work with @olabomba but we don't understand how to fix our problem, because we defined `KEBAB_CASE`, and it works for class attributes but web still have relationships fields in CamelCase...

[2016-04-22 20:44] meshuga commented on #296
I could help you, but I'm still having problems with getting katharsis-spring tests working correctly after applying katharsis-project/katharsis-spring#25 fix.

Could you take a look at them (https://github.com/katharsis-project/katharsis-spring/blob/development/src/test/java/io/katharsis/spring/boot/SpringBootSimpleExampleApplicationTests.java) and help me make them working?

[2016-04-25 08:40] olabomba commented on #296
Hi,
I've cloned katharsis-spring in my eclipse environment (with maven M2e).
Without any modification, the tests are working well.

I wanted to test the changes introduced in #25. So, I've added a "firstName" field to the Task entity (John / Malkovitch, with a modification on the assertion).

I've added jackson-databind in 2.7.3 in the pom.xml.

I've printed the output of the json in the test, and

[2016-04-25 09:01] ieugen opened #303 "Make request dispatcher return runtime exception instead of checked exception"
Relates to  #264.

This will most likely break the API since the method signature changes.

@meshuga : should we go for 2.4 or wait for 3.0.0 and implement make unchecked exceptions as default across the whole implementation?

[2016-04-25 18:57] meshuga commented on #303
I think it would be better to release it in v2.4.0. Request dispatcher should be considered as an internal Katharsis class, so it won't break (at least) external compatibility. I would leave 3.0.0 for much bigger changes e.g. introduction of asynchronous repositories which I really want to implement as soon as possible.

[2016-04-25 20:35] cparker92 opened #304 "how to handle missing relationship resource on POST"
I have a Message type with a ToOne relationship to a Conversation. To create a message, the client POSTs the message entity with the related conversation the message should be added to. E.g.
[code]

If the conversation exists, we create the message, return 201. If it does not exist, we should 400.
The actual result is 404.

I found that the issue was katharsis is invoking the findOne message on my

[2016-04-27 13:26] ashishgodani commented on #204
Well, this was the case when no ORM tool was used to fetch the related entities however using an ORM framework would take care of this automatically.

Basically this was a misunderstanding as to what the framework was meant to do - resolved/clarified now!

[2016-04-27 13:26] #204 closed

[2016-05-02 15:40] datagitlies opened #305 "Duplicate included resources"
With katharsis, it is currently possible to have duplicate resources defined in the top-level `included` member under the following circumstances:

1. A `@JsonApiResource` is defined with two or more `@JsonApiToOne` relationships of the same type.
2. Related resources are included via query parameter or `@JsonApiIncludeByDefault` and they reference the same resource.
3. All resources are created o

[2016-05-02 23:59] ctapaswi commented on #20
@keithdmoore do we have jersey example on how to get the validation working?

[2016-05-03 06:12] ieugen commented on #20
@ctapaswi : the best way to learn how to do validation is to follow hibernate validator quickstart guide.

You should be done in 30 min or so. You can apply validation rules for different cases in your repositories. This is the best way since in practice you might have different validation rules for different cases and you need to be able to choose which validation to apply.

[1] http://hibernate.

[2016-05-04 16:48] #305 closed

[2016-05-04 16:48] meshuga commented on #305
thanks for the bug!

[2016-05-05 08:57] ieugen opened #307 "How to get information to build links for pagination"
Hello,

I'm posting this partly because I need help and partly to gather information for documentation. Once it is done we can move it to official docs.

I need to build links for pagination:
[code]

I'm using `@JsonApiLinLinks` annotation. I need to extract information from the request and/or the registry to know:

- what protocol, host and port I'm using (we might use another value if if we are

[2016-05-07 04:14] keithdmoore commented on #20
@ctapaswi I have not had the time to implement a Jersey version in the examples.  I am not familiar with HK2.  Here is the docs that I used when I set it up for a client. https://jersey.java.net/documentation/latest/bean-validation.html  We have moved from Jersey/JAX-RS to Spring and have removed the validation I setup previously.

[2016-05-09 13:35] datagitlies commented on #305
:+1:

[2016-05-10 15:57] srajeev opened #308 "Includes section of API response stopped showing nested data when include parameters increased"
An API that was working for us stopped including a nested relationship's include in the "Included" section of response after we added 6 new include parameters.

I will use an example similar to our use case to explain the issue:

ManagerResource has a UserResource include. UserResource has an AddressResource. The URL include param was.../manager?include=["user", "user.address"]. This was returning

[2016-05-10 19:44] cparker92 commented on #307
Katharsis should use the same parameter providers on the @JsonApiLinks method, just like it does on the findOne or findAll repo methods. E.g. for jax-rs, the @JsonApiLinks method looks like:

[code]

which will include the same QueryParams and ContainerRequestContext objects that were used for the corresponding findOne/All invocation.

[2016-05-10 19:46] #296 closed

[2016-05-10 20:02] meshuga commented on #308
Is it possible to update to a never version e.g 2.4.0? The inclusion mechanism changed a lot since the last summer where 0.9.4 was released.

[2016-05-11 18:01] srajeev commented on #308
We can't do that now, as we have some front end heavily used applications using this response. Last time when we looked, we were concerned about the JSON representation changes after 0.9.4.. causing a lot of refactoring needed in our front end application. So, can't do that now, as we need to prioritize this effort.
As a work around, we flattened the second level fields to the first level. But was

[2016-05-11 18:08] jglatre opened #309 "Unable to sort by multiple fields on same resource"
Current implementation of `SortingParams` stores no information about priority of fields, and the current backing data structure (`HashMap`) doesn't guarantee any predictable order of elements. So I find the whole thing it's only useful when sorting by one field,... or do I miss something?

[2016-05-11 20:16] meshuga commented on #309
The order of the sorting should be maintained. I think sorting by order of the query parameters passed along with a request will be sufficient.

[2016-05-13 09:27] Ramblurr opened #310 "JSON API content type makes exploring in the browser impossible"
Since JSON API uses a custom content type, and Katharsis correctly sets this, the result is you can't just view a Katharsis api response in the browser. On firefox at least, it prompts you to download the response body.

Perhaps setting Content-Disposition to inline would work?

Has anyone seen this before? What's the workaround?

[2016-05-13 09:45] Ramblurr commented on #310
After some testing it appears Firefox and Safari are the only ones that download the response. Chrome and Opera display it as text.

I'll close this and move the discussion to the json api issue.

[2016-05-13 09:45] #310 closed

[2016-05-16 13:30] kaleeswaran393 opened #311 "How to remove Links in Katharsis jsonapi response."

[2016-05-16 16:51] meshuga commented on #311
You mean `links` attribute in `relationship` object?

[2016-05-16 17:47] #249 closed

[2016-05-16 17:51] meshuga commented on #245
@LiuXiaoJie you can always use `io.katharsis.response.Container` class to serialize your data.
For now I close this issue since the main problem (probably) had been solved.

[2016-05-16 17:51] #245 closed

[2016-05-16 17:53] #211 closed

[2016-05-16 17:53] #177 closed

[2016-05-16 17:54] #210 closed

[2016-05-16 17:54] #260 closed

[2016-05-16 18:01] #276 closed

[2016-05-16 18:03] meshuga commented on #180
Client generated IDs are now supported, `FieldRepository` had been abandoned in favor of bulk requests which will be available since JSON API v 1.1.

[2016-05-16 18:03] #180 closed

[2016-05-16 18:06] meshuga commented on #307
Since v 2.4.0 it's possible to return meta and links information along with the request i.e.
[code]
I think this is the most elegant way of creating links and should be put into documentation :)

[2016-05-16 18:09] #168 closed

[2016-05-16 18:12] #307 closed

[2016-05-16 18:18] #304 closed

[2016-05-16 18:23] #308 closed

[2016-05-16 20:31] #283 closed

[2016-05-17 02:59] kaleeswaran393 commented on #311
Exactly same, How do i remove the links for project.
I don't want to send link to client at the same time project attribute should be populate inside included tag
I want to generate response like this,

Resource Model,

class Task{
  @JsonApiToOne
  @JsonApiIncludeByDefault
   Project project;
}

{
  "data": {
    "type": "tasks",
    "id": "1",
    "attributes": {
      "name": "Sample task"

[2016-05-17 08:22] ieugen commented on #310
@Ramblurr : you can whitelist the mime type in your browser to display it as text. For example you can configure Jsonview and add the mime type yourself.

https://addons.mozilla.org/en-us/firefox/addon/jsonview/

[2016-05-17 08:44] kaleeswaran393 opened #312 "how to read http header param inside Katharsis repository method"
Hi Team,

      Could you please help me how to read HTTP header param inside Katharsis repository.

Thanks,
Kaleeswaran K

[2016-05-17 08:50] kaleeswaran393 opened #313 "Does Katharsis support Relationship attribute in Create resource API?"
Hi Team,
      As per the jsonapi standard we can pass the child object with relationship but when i tried using Katharsis implementation its not support relationship attribute,

below is the sample create reasource i got it from jsonapi site,  but when i post request with relationship the request binding is not happening, but if i remove relationship request binding is happing with resource objec

[2016-05-17 14:25] kaleeswaran393 commented on #312
I am able to access header param. I am using jax-rs with katharsis. thanks

[2016-05-17 16:06] kaleeswaran393 opened #314 "Katharsis RESOURCE_SEARCH_PACKAGE is not loading the resources"
Hi Team,

Katharsis RESOURCE_SEARCH_PACKAGE is not loading the resources if the resource classes in another jar. its working find if the resources in the same project where the Katharsis repository and features present.

context.property(KatharsisProperties.RESOURCE_SEARCH_PACKAGE, "com.resources.domain");

this com.resources.domain package is in another jar and i have added as dependency.

Please

[2016-05-17 16:07] #312 closed

[2016-05-18 11:08] kaleeswaran393 commented on #314
Any update on this issue?

[2016-05-18 11:49] ieugen commented on #299
We also need this and I going to do some work to add metrics. Please publish your work on a branch/project if you have something.

[2016-05-18 11:51] ieugen opened #315 "Add jsonapi client"
Katharsis implements the server side of things. It would be nice to also have a jsonapi client.

One use case is to write integration tests. I imagine that it would not be a big win (since we might reuse most of the code and if we have implemented something wrong it will work because of code sharing).

[2016-05-18 12:03] Sandmania commented on #315
Maybe https://github.com/jasminb/jsonapi-converter can offer some inspiration

[2016-05-18 15:32] meshuga commented on #314
Are you using katharsis-rs, katharsis-servlet or katharsis-spring? We're using reflections library (https://github.com/ronmamo/reflections) and it doesn't work well with Wildfly and when resources are located in separate JAR.

[2016-05-18 15:44] meshuga commented on #314
You can create a class which will implement `io.katharsis.resource.registry.ResourceLookup` interface like in https://github.com/katharsis-project/katharsis-core/blob/development/src/main/java/io/katharsis/resource/registry/DefaultResourceLookup.java and modify `io.katharsis.rsKatharsisFeature#createResourceLookup(FeatureContext)` to pass your class in case of using katharsis-rx integration..

[2016-05-18 15:53] meshuga commented on #313
The sample above describes a request to create a new resource and add a new relationship between the newly created object and a persisted object from a repository. AFAIK it's supported.

[2016-05-18 15:53] #313 closed

[2016-05-18 16:05] ashishgodani opened #316 "IllegalArgumentException"
I there an easy way to validate whether the mandatory params for a given resource at a GET request are present in the request path variables ?

Basically if I have a resource projects at http://localhost:8080/projects/123123 then how do I validate if 123123 is present in the path variable and its gracefully handled ?

[2016-05-18 16:09] meshuga commented on #316
https://github.com/katharsis-project/katharsis-core/issues/314#issuecomment-220065016
Data validation is out of scope of Katharsis, although it's fairly easy to use Hibernate validation, especially with spring integration.
For next questions, please use our mail communication channel https://gitter.im/katharsis-project/katharsis-core

[2016-05-18 16:09] #316 closed

[2016-05-18 16:12] ashishgodani commented on #316
So how would you do if you are not using an ORM framework ? Also, if 123123 is not present in the path it wont even reach hibernate and error out in spring mapping with Mapping not found for the resource.

Any pointers in this regard would be helpful.

[2016-05-18 16:42] meshuga commented on #316
Sorry, path data validation is handled by Katharsis, so if you pass a GET request without an `id` e.g. `http://localhost:8080/projects/`, the request will be treated as a request for listing resources (according to http://jsonapi.org/format/#fetching-resources)

[2016-05-18 21:32] ieugen commented on #316
@ashishgodani Hibernate Validation is a different thing from Hibernate ORM (they implement different standards)

[2016-05-19 04:07] bradtofel opened #317 "Supporting cursor keys and non-Integer Pagination values"
Currently Katharsis only allows Integer values for pagination. I also note that it is missing 'cursor' from the pagination keys enum, an easy fix.

I see there is a code comment in QueryParams.getPagination() that tells me:

  "Katharsis implementation sets on strategy of pagination whereas JSON API definition of pagination is agnostic about pagination strategies."

I'm not sure I understand what

[2016-05-19 10:17] ieugen opened #318 "Kebab case for fields causes realtionships not to be found"
Hello,

I've configured Jackson to do kebab case for attributes and fields (transforms `fieldName` -> 'field-name' ). It does that to relationship fields also.

However this breaks IncludeLookupSetter:
[code]

The problem is with `ClassUtils.findClassField(resource.getClass(), pathList.get(0));` which uses the kebab-case field instead of the real one.

[code]

[2016-05-19 12:06] Ramblurr opened #319 "How to define serializer for complex attribute data types"
I have a non-relationship field in an entity I want to serialize with Katharsis.

The JSONAPI would look something like:

[code]

The "Weight" attribute is backed by a pojo called Measure. It isn't a relationship, as Measure's never have ids.

Reading [the jsonapi spec](http://jsonapi.org/format/#document-resource-object-attributes), this seems to be valid :

To be clear I want to achieve:

1. Cha

[2016-05-19 12:28] weaselmetal commented on #319
What I realized was that: io.katharsis.resource.information.ResourceInformation for Inventory-resource will actually hinder the inclusion of the data of the nested / inlined object, by not adding properties of the nested object to the allowed properties for the JSON output.
Which yields:

    {
      "data": {
        "type": "inventory",
        "id": "1",
        "attributes": {
          "name"

[2016-05-20 16:37] pcdwr opened #323 "Problems with upsert when JSON contains embedded classes"
If the input JSON for a PATCH contains an embedded class (see example JSON below with embedded address) the upsert does not work as expected when there are missing or read-only fields (marked read-only with Jackson annotation). The issue occurs in ResourceAttributesBridge.setProperties. The property on the resource is completely overwritten with the input from the incoming JSON. If a property is m

[2016-05-20 16:47] pcdwr commented on #323
I just realized this is basically the same issue as #319. I apologize for the duplication.

[2016-05-20 18:07] #318 closed

[2016-05-20 18:09] meshuga commented on #319
That's strange, it should work. I'll find out what's going on.

[2016-05-20 19:05] meshuga commented on #319
Although there are neither examples nor documentation about it, nested objects should work out of the box in a way @Ramblurr described.
@weaselmetal: Which Katharsis version are you using?

[2016-05-20 19:07] keithdmoore commented on #319
@meshuga where is what @Ramblurr described?

[2016-05-20 19:08] meshuga commented on #323
I don't think it's a duplication. Yes, the input is overwritten. As for now we don't support handling of read only attributes (nested or not) like presented here https://gist.github.com/thurloat/2510887.

[2016-05-23 07:40] weaselmetal commented on #319
version is 2.3.0

[2016-05-23 07:44] weaselmetal commented on #323
Because @pcdwr mentioned read only properties, there is also this jackson bug:
https://github.com/FasterXML/jackson-databind/issues/935

Just in case `@JsonProperty(access = Access.READ_ONLY)` was used.